html,
body {
  font-size: 16px;
  font-family: "Exo 2", sans-serif;
  font-weight: 300;
  box-sizing: border-box;
  margin: 0;
  height: 100%;
  width: 100%;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #232323;
}

ul li {
  list-style-type: none;
}

a:hover {
  color: #6b6269;
}

::selection {
  background: #6b6269;
  color: #fff;
  /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: #6b6269;
  color: #fff;
  /* Gecko Browsers */
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(100px, auto);
  max-width: 100%;
  min-height: 100%;
  margin: 0 auto;
  grid-template-areas: "nav nav nav nav" "content content content content" "content content content content" "content content content content" "content content content content" "foot foot social social";
}

@media (min-width: 1500px) {
  .container {
    display: grid;
    grid-template-columns: 200px repeat(3, 1fr);
    grid-auto-rows: minmax(1fr, auto);
    grid-gap: 10px;
    margin: 0 auto;
    grid-template-areas: "social nav nav nav" "social content content content" "social content content content" "social content content content" "social content content content" "foot foot foot foot";
  }
}
.nav {
  grid-area: nav;
  grid-column: 1/4;
  text-align: center;
  align-self: center;
}

.nav ul li {
  display: inline-block;
  font-size: 1.2em;
  font-weight: 300;
  margin-right: 2%;
}

@media screen and (max-width: 600px) {
  .main-menu li:not(:last-child) {
    display: none;
  }

  .main-menu.responsive li {
    display: block;
  }
}
@media (min-width: 1500px) {
  .nav {
    grid-area: nav;
    align-self: center;
    grid-column: 4;
    text-align: center;
  }

  .nav ul li {
    display: inline-block;
    font-size: 1.6em;
    font-weight: 300;
    margin-right: 2%;
  }
}
.social {
  grid-area: social;
  align-items: center;
  grid-column: 4;
  text-align: center;
}

.social ul li {
  display: inline-block;
  margin-right: 2%;
}

.logo h3 {
  display: none;
}

@media (min-width: 1500px) {
  .social {
    grid-area: social;
    display: block;
    justify-content: center;
    position: fixed;
    grid-column: 1;
    margin-top: 1.3%;
  }

  .social ul li {
    display: block;
    margin-top: 5%;
    font-size: 1.6em;
  }

  .logo h3 {
    display: block;
    text-align: center;
  }
}
.content {
  grid-area: content;
  min-height: 100%;
  max-width: 100%;
}

.intro {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 5%;
}

.intro-text {
  grid-column: -1;
}

.intro-text h2 {
  font-weight: 400;
  font-size: 1.6em;
  line-height: 40px;
}

.intro-text p {
  font-weight: 300;
  font-size: 1.3em;
  line-height: 30px;
}

intro-img {
  grid-column: 4/6;
}

.yasu {
  position: absolute;
  z-index: 1;
  width: 500px;
  display: none;
}

@media (min-width: 1100px) {
  .content {
    grid-area: content;
    min-height: 100%;
    max-width: 100%;
  }

  .intro {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-left: 5%;
  }

  .intro-text {
    grid-column: 1/3;
  }

  .intro-text h2 {
    font-weight: 400;
    font-size: 2.8em;
    line-height: 60px;
  }

  .intro-text p {
    font-weight: 300;
    font-size: 1.5em;
    line-height: 45px;
  }

  intro-img {
    grid-column: 4/6;
  }

  .yasu {
    position: absolute;
    z-index: 1;
    width: 500px;
  }
}
@media (min-width: 1500px) {
  .intro {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1, 700px);
    padding-left: 5%;
    border-radius: 10px;
  }

  .intro-text {
    grid-column: 1/4;
    justify-self: center;
    align-self: center;
  }

  .intro-text h2 {
    font-weight: 400;
    font-size: 1.8em;
    line-height: 50px;
  }

  .intro-text p {
    font-weight: 300;
    font-size: 1.3em;
    line-height: 40px;
  }

  intro-img {
    display: none;
    text-align: center;
  }

  .yasu {
    position: absolute;
    z-index: 1;
    width: 400px;
    margin-top: 10%;
  }
}
.foot {
  grid-area: foot;
  grid-column: 3;
  text-align: center;
}

@media (min-width: 1500px) {
  .foot {
    grid-column: 4;
  }
}
/* desktop grid */

/*# sourceMappingURL=output.css.map */
