.hero {
    background-color: F4F4F4;
    width: 100vw;
    height: 55vh;
    position: absolute;
    left: 5%;
}

.hero img {
    width: 600px;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 0;
}

.hero-title h2 {
    margin-left: 5%;
    margin-top: 5%;
    font-family: "Exo 2", sans-serif;
    font-size: 3.25em;
    line-height: 55px;
    font-weight: 400;
    color: #232323;
}

.hero-text p {
    margin-left: 5%;
    font-size: 2.25em;
    font-family: "Exo 2", sans-serif;
    line-height: 40px;
    font-weight: 300;
    color: #232323;
}

.hero-text {
    margin-top: 5%;
}

@media only screen and (max-width: 1200px) {
    .hero {
        height: 40vh;
    }

    .hero img {
        width: 450px;
    }

    .hero-text p {
        font-size: 1.5em;
    }
}

@media only screen and (max-width: 1000px) {
    .hero {
        height: 45vh;
    }

    .hero img {
        width: 450px;
    }

    .hero-title h2 {
        font-size: 2.7em;
    }

    .hero-text p {
        font-size: 1.8em;
    }
}

@media only screen and (max-width: 800px) {
    .hero {
        height: 32vh;
    }

    .hero img {
        width: 350px;
        top: 2%;
    }

    .hero-title h2 {
        font-size: 2.2em;
        line-height: 35px;
    }

    .hero-text p {
        line-height: 25px;
        font-size: 1.1em;
    }
}