.navigation {
    grid-area: navigation;
    grid-column: 2 / 8;
    display: grid;
    width: 100vw;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}


.navigation ul {
    text-decoration: none;
}

.navigation ul li {
    list-style-type: none;
    display: inline-block;
}

.main-menu {
    grid-column: end;
    justify-content: center;
    align-items: center;
    grid-column: 6 / 8;
}

.main-menu ul li {
    font-size: 1.25rem;
    margin-left: 2%;

}