.nav {
    grid-area: nav;
    grid-column: 1 / 4;
    text-align: center;
    align-self: center;
}

.nav ul li {
    display: inline-block;
    font-size: 1.2em;
    font-weight: 300;
    margin-right: 2%;
}



@media screen and (max-width: 600px) {
    .main-menu li:not(:last-child) {
        display: none;
    }

    .main-menu.responsive li {
        display: block;
    }
}

@media (min-width:1500px) {
    .nav {
        grid-area: nav;
        align-self: center;
        grid-column: 4;
        text-align: center;

    }


    .nav ul li {
        display: inline-block;
        font-size: 1.6em;
        font-weight: 300;
        margin-right: 2%;
    }
}