.sidebar {
    grid-area: sidebar;
    grid-column: 1;
    display: grid;
    grid-template-columns: 100px;
    top: 4.5%;
    height: 100vh;
}


.social ul {
    text-decoration: none;
    position: fixed;
}

.social ul li {
    list-style-type: none;
    font-size: 1.875rem;
    margin-top: 20%;
}

.social ul li a {
    margin-top: 2%;
}