.social {
    grid-area: social;
    align-items: center;
    grid-column: 4;
    text-align: center;

}


.social ul li {
    display: inline-block;
    margin-right: 2%;
}

.logo h3 {

    display: none;
}

@media (min-width:1500px) {
    .social {
        grid-area: social;
        display: block;
        justify-content: center;
        position: fixed;
        grid-column: 1;
        margin-top: 1.3%;
    }

    .social ul li {
        display: block;
        margin-top: 5%;
        font-size: 1.6em;
    }

    .logo h3 {

        display: block;
        text-align: center;

    }

}