$ff-sans: "Open Sans", sans-serif;

$font-sizes: (
    step--2: clamp(0.63rem, calc(0.64rem + -0.01vw), 0.64rem),
    step--1: clamp(0.8rem, calc(0.78rem + 0.08vw), 0.84rem),
    step-0: clamp(1rem, calc(0.96rem + 0.22vw), 1.13rem),
    step-1: clamp(1.25rem, calc(1.16rem + 0.43vw), 1.5rem),
    step-2: clamp(1.56rem, calc(1.41rem + 0.76vw), 2rem),
    step-3: clamp(1.95rem, calc(1.71rem + 1.24vw), 2.66rem),
    step-4: clamp(2.44rem, calc(2.05rem + 1.93vw), 3.55rem),
    step-5: clamp(3.05rem, calc(2.47rem + 2.93vw), 4.74rem)
);

/* @link https://utopia.fyi/type/calculator?c=320,16,1.25,1240,18,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

$fw-400: 400;
$fw-700: 700;
