@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=PT+Serif&display=swap");

$ff-pt-serif: "PT Serif", serif;
$ff-fira-sans: "Fira Sans", sans-serif;

$font-pt-serif-regular: 400;
$font-fira-sans-light: 300;

$font-sizes: (
    "small": (
        100: clamp(0.8rem, calc(0.78rem + 0.08vw), 0.84rem),
        200: clamp(0.63rem, calc(0.64rem + -0.01vw), 0.64rem)
    ),
    "large": (
        0: clamp(1rem, calc(0.96rem + 0.22vw), 1.13rem),
        100: clamp(1.25rem, calc(1.16rem + 0.43vw), 1.5rem),
        200: clamp(1.56rem, calc(1.41rem + 0.76vw), 2rem),
        300: clamp(1.95rem, calc(1.71rem + 1.24vw), 2.66rem),
        400: clamp(2.44rem, calc(2.05rem + 1.93vw), 3.55rem),
        500: clamp(3.05rem, calc(2.47rem + 2.93vw), 4.74rem)
    )
);

$font-size-0: var(--fs-0);
$font-size-300: var(--fs-300);
$font-size-400: var(--fs-400);
$font-size-500: var(--fs-500);
