@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=PT+Serif:wght@400;700&display=swap");

$ff-pt-serif: "PT Serif", serif;
$ff-fira-sans: "Fira Sans", sans-serif;

$font-pt-serif-regular: 400;
$font-pt-serif-bold: 700;
$font-fira-sans-light: 300;

$font-sizes: (
  "small": (
    100: clamp(1.25rem, 1.1633rem + 0.4337vw, 1.4994rem),
    200: clamp(1.5625rem, 1.4108rem + 0.7587vw, 1.9988rem),
    300: clamp(1.56rem, calc(1.41rem + 0.76vw), 2rem),
    400: clamp(1.95rem, calc(1.71rem + 1.24vw), 2.66rem),
    500: clamp(3.0519rem, 2.4664rem + 2.9272vw, 4.735rem)
  ),
  "large": (
    0: clamp(1rem, 0.9565rem + 0.2174vw, 1.125rem),
    100: clamp(1.25rem, 1.1633rem + 0.4337vw, 1.4994rem),
    200: clamp(1.5625rem, 1.4108rem + 0.7587vw, 1.9988rem),
    300: clamp(1.9531rem, 1.7057rem + 1.237vw, 2.6644rem),
    400: clamp(3.0519rem, 2.4664rem + 2.9272vw, 4.735rem),
    500: clamp(4.7681rem, 3.5003rem + 6.3391vw, 8.4131rem)
  )
);

$font-size-0: var(--fs-0);
$font-size-100: var(--fs-100);
$font-size-200: var(--fs-200);
$font-size-300: var(--fs-300);
$font-size-400: var(--fs-400);
$font-size-500: var(--fs-500);
