.daimond-hr {
    --hrWidth: 20rem;
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-bottom: 1px solid var(--dark-color);
    color: var(--dark-color);
    max-width: var(--hrWidth);
    font-size: 0.9rem;
    margin-block-start: 0;
}
.daimond-hr:after {
    content: "◆";
    display: inline-block;
    position: relative;
    margin-inline-start: 100%;
    bottom: -0.75em;
    background: transparent;
}

.btn {
    text-decoration-line: underline;
    text-decoration-thickness: 0.2px;
    border: medium double var(--dark-color);
    width: 9em;
    text-align: center;
    padding-block: 0.5rem;
    padding-inline: 0.25rem;
    transition: background, 0.5s;

    &:hover {
        background-color: var(--background-base-color);
        color: var(--dark-color);
        border: medium double var(--dark-color);
    }
}
