@use "../abstracts" as *;

.display-inline {
  display: inline-block;
}

.text-center {
  text-align: center;
}

.ending-quote {
  padding-block: $space-size-48 $space-size-16;
}

.content-block {
  p {
    max-width: 100%;
  }
}

.pt-bold {
  font-family: $ff-pt-serif;
  font-weight: 700;
}
