@use "../abstracts" as *;

.daimond-hr {
    // --hrWidth: 20rem;
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-bottom: 1px solid $color-dark-100;
    color: $color-dark-100;
    max-width: 30rem;
    font-size: 0.9rem;
    margin-block-start: 0;
}
.daimond-hr:after {
    content: "◆";
    display: inline-block;
    position: relative;
    margin-inline-start: 100%;
    bottom: -0.85em;
    background: transparent;
}
