@use "../abstracts" as *;

.case-studies {
    .hero {
        background-image: url("/img/background.svg");
        background-size: contain;
        background-attachment: fixed;

        h1 {
            text-align: center;
        }
    }

    .studies {
        --min: 50ch;
        display: flex;
        flex-wrap: wrap;
        gap: $space-size-16;

        & > * {
            flex: 1 1 var(--min);
        }
    }
}
