@use "../abstracts" as *;

.case-studies {
    .hero {
        background-color: hsl(200, 7%, 92%);

        .hero-content {
            .header {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            video {
                width: auto;
                border-radius: 0.3em;
            }
        }

        @media screen and (min-width: breakpoint(x-large)) {
            .hero-content {
                video {
                    width: 640px;
                    border-radius: 0.3em;
                }
            }
        }
    }

    .work {
        background-color: hsl(216, 4%, 26%);

        .work__item {
            --min: 40ch;
            padding-block: $space-size-48;
            align-items: center;

            h2,
            p {
                color: hsl(200, 7%, 92%);
            }

            img {
                border-radius: 0.3em;
                width: 300px;
                border: none;
            }

            video {
                width: 640px;
                border-radius: 0.3em;
            }
        }
    }
}
