section[class="about-company"],
section[class="whoami"],
section[class="goals"] {
    text-wrap: balance;
    h1 {
        color: rgb(49, 43, 49);
    }
    margin-block-start: 10rem;
}

.contact {
    .hero {
        background:
            linear-gradient(0deg, rgba(49, 43, 49, 0.9), rgba(49, 43, 49, 0.9)),
            url(/img/10.jpg) no-repeat center bottom;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        padding-block-end: var(--space-xl);

        .content {
            padding-block: var(--space-3xl);
            color: var(--background-base-color);
        }

        .left-border {
            border-left: 1px solid hsla(225, 40%, 96%, 0.2);
            padding-inline-start: 2em;
        }
    }

    .goals {
        margin-block-end: 5rem;
    }
}
