@use "../abstracts" as *;

.testtest {
  position: relative;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.25); // Glass tint

  &::before {
    content: "";
    position: absolute;
    inset: -20px; // Extend edges to hide blur fade
    z-index: -1;
    background: url(https://ik.imagekit.io/sorudev/Studio%20Eien/Backgrounds/noTextMagazineBG_If0QcKQLa.png) no-repeat
      center center fixed;
    background-size: cover;
    filter: blur(12px);
  }
  & header {
    margin-inline: auto;
  }
}

.hero {
  padding-block: $space-stack-lg;

  &__title {
    max-width: max-content;
    margin-block-end: $spacing-32;

    span {
      display: flex;
      justify-content: end;
      font-size: var(--fs-step-2);
      font-family: "WDXL Lubrifont JP N", sans-serif;
      font-weight: 400;
      font-style: normal;
    }
  }
}

.featured {
  padding-block: $space-stack-lg;
  img {
    border-radius: 0.6rem;
  }
}

.decoration {
  padding-block-end: $space-stack-md;

  hr {
    background-color: lch(36.15% 0.01 296.81);
    opacity: 40%;
  }
  .decoration__text {
    display: flex;
    justify-content: space-between;
    color: #555;
    opacity: 40%;

    p {
      text-transform: uppercase;
      font-size: var(--fs-step-0);
    }
  }

  .decoration__text__end {
    display: flex;
    justify-content: end;
    color: lab(28.39% -3.25 -7.96);
    opacity: 40%;

    p {
      text-transform: uppercase;
      font-size: var(--fs-step-0);
    }
  }

  .decoration__text__start {
    display: flex;
    justify-content: flex-start;
    color: #555;
    opacity: 40%;

    p {
      text-transform: uppercase;
      font-size: var(--fs-step-0);
    }
  }
}

.process {
  padding-block: $space-stack-lg;

  & header {
    margin-inline: auto;
  }

  &__title {
    max-width: max-content;
    margin-block-end: $spacing-64;

    span {
      display: flex;
      justify-content: end;
      font-size: var(--fs-step-2);
      font-family: "WDXL Lubrifont JP N", sans-serif;
      font-weight: 400;
      font-style: normal;
    }
  }

  &__content {
    --min: 65ch;
    --gap: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);

    &__card {
      h3,
      p {
        padding-block-end: $spacing-32;
      }
    }
  }

  &__content > * {
    flex: 1 1 var(--min);
  }
}

.quote {
  padding-block: $space-stack-xl;
}

.quote .container {
  display: flex;
  justify-content: center;
  text-align: left;
  h4,
  p {
    margin-block-start: $spacing-12;
    font-size: var(--fs-step-2);
    color: lch(36.15% 0.01 296.81);
  }
}

.services {
  padding-block: $space-stack-lg;

  & header {
    margin-inline: auto;
  }

  &__title {
    max-width: max-content;
    margin-block-end: $spacing-64;

    span {
      display: flex;
      justify-content: end;
      font-size: var(--fs-step-2);
      font-family: "WDXL Lubrifont JP N", sans-serif;
      font-weight: 400;
      font-style: normal;
    }
  }

  &__content {
    --min: 65ch;
    --gap: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);

    &__card {
      h3,
      p {
        padding-block-end: $spacing-32;
      }
    }
  }

  &__content > * {
    flex: 1 1 var(--min);
  }
}

.conversion {
  padding-block: $space-stack-lg;

  & header {
    margin-inline: auto;
  }

  &__title {
    max-width: max-content;
    margin-block-end: $spacing-64;

    span {
      display: flex;
      justify-content: end;
      font-size: var(--fs-step-2);
      font-family: "WDXL Lubrifont JP N", sans-serif;
      font-weight: 400;
      font-style: normal;
    }
  }
}
