@use "../abstracts" as *;

.web-projects {
    .hero {
        background-color: hsl(200, 7%, 92%);

        .hero-content {
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            & > * {
                flex: 1 1 50ch;
            }

            video {
                width: 640px;
                border-radius: 0.3em;
            }

            img {
                width: 640px;
                border-radius: 0.3em;
                border: none;
            }
        }
    }

    .projects {
        .preview {
            display: grid;
            grid-gap: 1rem;

            img {
                border-radius: 0.3em;
            }

            @supports (width: min(250px, 100%)) {
                & {
                    grid-template-columns: repeat(auto-fit, minmax(min(350px, 100%), 1fr));
                }
            }
        }
    }
}
