@layer pages {
	.work-statement {
		padding-block: var(--space-stack-md, 2rem) var(--space-stack-lg, 4rem);

		.work__title {
			max-width: max-content;
			margin-block-end: var(--spacing-32, 2rem);

			span {
				display: flex;
				justify-content: flex-end;
				font-size: var(--fs-step-2);
				font-family: 'WDXL Lubrifont JP N', sans-serif;
				font-weight: 400;
				font-style: normal;
			}
		}
	}

	.work-featured {
		padding-block: var(--space-stack-md, 2rem) var(--space-stack-lg, 4rem);

		.work-featured__title {
			max-width: max-content;
			margin-block-end: var(--spacing-32, 2rem);

			span {
				display: flex;
				justify-content: flex-end;
				font-size: var(--fs-step-2);
				font-family: 'WDXL Lubrifont JP N', sans-serif;
				font-weight: 400;
				font-style: normal;
			}
		}

		img {
			border-radius: 0.8em;
			aspect-ratio: 16/9;
		}
	}
}
