@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=PT+Serif&display=swap");
:root {
  /* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1240,20,1.2,6,2,&s=0.75|0.5,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --header-font: "PT Serif", serif;
  --text-font: "Fira Sans", sans-serif;
  --step--2: clamp(0.69rem, calc(0.63rem + 0.3vw), 0.87rem);
  --step--1: clamp(0.83rem, calc(0.76rem + 0.36vw), 1.04rem);
  --step-0: clamp(1rem, calc(0.91rem + 0.43vw), 1.25rem);
  --step-1: clamp(1.2rem, calc(1.1rem + 0.52vw), 1.5rem);
  --step-2: clamp(1.44rem, calc(1.31rem + 0.63vw), 1.8rem);
  --step-3: clamp(1.73rem, calc(1.58rem + 0.75vw), 2.16rem);
  --step-4: clamp(2.07rem, calc(1.89rem + 0.9vw), 2.59rem);
  --step-5: clamp(2.49rem, calc(2.27rem + 1.08vw), 3.11rem);
  --step-6: clamp(2.99rem, calc(2.73rem + 1.3vw), 3.73rem);
  /* @link https://utopia.fyi/space/calculator?c=320,16,1.2,1240,20,1.2,6,2,&s=0.75|0.5,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --space-2xs: clamp(0.5rem, calc(0.46rem + 0.22vw), 0.63rem);
  --space-xs: clamp(0.75rem, calc(0.68rem + 0.33vw), 0.94rem);
  --space-s: clamp(1rem, calc(0.91rem + 0.44vw), 1.25rem);
  --space-m: clamp(1.5rem, calc(1.37rem + 0.66vw), 1.88rem);
  --space-l: clamp(2rem, calc(1.82rem + 0.88vw), 2.5rem);
  --space-xl: clamp(3rem, calc(2.74rem + 1.32vw), 3.75rem);
  --space-2xl: clamp(4rem, calc(3.65rem + 1.76vw), 5rem);
  --space-3xl: clamp(6rem, calc(5.47rem + 2.64vw), 7.5rem);
  /* One-up pairs */
  --space-2xs-xs: clamp(0.5rem, calc(0.35rem + 0.77vw), 0.94rem);
  --space-xs-s: clamp(0.75rem, calc(0.57rem + 0.88vw), 1.25rem);
  --space-s-m: clamp(1rem, calc(0.69rem + 1.54vw), 1.88rem);
  --space-m-l: clamp(1.5rem, calc(1.15rem + 1.76vw), 2.5rem);
  --space-l-xl: clamp(2rem, calc(1.38rem + 3.08vw), 3.75rem);
  --space-xl-2xl: clamp(3rem, calc(2.3rem + 3.52vw), 5rem);
  --space-2xl-3xl: clamp(4rem, calc(2.77rem + 6.15vw), 7.5rem);
  /* Custom pairs */
  --space-s-l: clamp(1rem, calc(0.47rem + 2.64vw), 2.5rem);
  --grid-max-width: 76.88rem;
  --grid-gutter: var(--space-m-m, clamp(1.5rem, calc(1.37rem + 0.66vw), 1.88rem));
  --grid-columns: 8;
  --dark-color: hsl(220, 4%, 17%);
  --background-base-color: hsl(225, 40%, 96%);
  --background-hero-color: hsl(220, 20%, 94%);
  --background-card-color: hsl(90, 6%, 86%);
  --background-footer-color: hsl(86, 9%, 84%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

.flow {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.flow > * {
  margin-block: 0;
}

.flow > * + * {
  margin-block-start: var(--space, 1.2rem);
}

p,
li,
a {
  font-family: var(--text-font);
  font-size: var(--step-0);
}

h1 {
  font-size: var(--step-6);
  font-family: var(--header-font);
}

h2 {
  font-size: var(--step-5);
  font-family: var(--header-font);
}

h3 {
  font-size: var(--step-3);
  font-family: var(--header-font);
}

h4 {
  font-size: var(--step-4);
  font-family: var(--header-font);
}

h5 {
  font-size: var(--step-5);
  font-family: var(--header-font);
}

h6 {
  font-size: var(--step-6);
  font-family: var(--header-font);
}

.small {
  font-size: var(--step--2);
}

/* @link https://utopia.fyi/grid/calculator?c=320,16,1.2,1230,20,1.2,6,2,&s=0.75|0.5,1.5|2|3|4|6,s-l&g=m,m,3xl,8 */
.u-container {
  max-width: var(--grid-max-width);
  padding-inline: var(--grid-gutter);
  margin-inline: auto;
}

.u-grid {
  display: grid;
  gap: var(--grid-gutter);
}

.daimond-hr {
  --hrWidth: 20rem;
  overflow: visible;
  /* For IE */
  padding: 0;
  border: none;
  border-bottom: 1px solid var(--dark-color);
  color: var(--dark-color);
  max-width: var(--hrWidth);
  font-size: 0.9rem;
}

.daimond-hr:after {
  content: "◆";
  display: inline-block;
  position: relative;
  margin-inline-start: 100%;
  bottom: -0.65em;
  background: transparent;
}

section[class=summary],
section[class=selected-works],
section[class=process],
section[class=services] {
  padding-block-start: var(--space-l);
}

.hero {
  display: flex;
}

.services .daimond-hr {
  --hrWidth: 50rem;
}

/*# sourceMappingURL=styles.css.map */
