img {
    width: 100%;
}

a {
    text-decoration: none;
}

::selection {
    background: #6b6269;
    color: #fff;

    /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: #6b6269;
    color: #fff;
    /* Gecko Browsers */
}