---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
---

<Layout title='About Animancy'>
	<main class='about'>
		<header class='hero'>
			<Navbar />
			<article class='u-container'>
				<div class='content'>
					<div class='left-border'>
						<h1>Our Story.</h1>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
							incididunt ut labore et dolore magna aliqua. In pellentesque massa placerat duis
							ultricies lacus sed.
						</p>
					</div>
				</div>
			</article>
		</header>

		<section class='about-company'>
			<article class='u-container flow'>
				<header>
					<h1>About Animancy.</h1>
				</header>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
					ut labore et dolore magna aliqua. In pellentesque massa placerat duis ultricies lacus sed.
				</p>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
					ut labore et dolore magna aliqua. In pellentesque massa placerat duis ultricies lacus sed.
				</p>
			</article>
		</section>

		<section class='whoami'>
			<article class='u-container flow'>
				<header>
					<h1>Who I am.</h1>
				</header>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
					ut labore et dolore magna aliqua. In pellentesque massa placerat duis ultricies lacus sed.
				</p>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
					ut labore et dolore magna aliqua. In pellentesque massa placerat duis ultricies lacus sed.
				</p>
			</article>
		</section>

		<section class='goals'>
			<article class='u-container flow'>
				<header>
					<h1>Goals.</h1>
				</header>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
					ut labore et dolore magna aliqua. In pellentesque massa placerat duis ultricies lacus sed.
				</p>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
					ut labore et dolore magna aliqua. In pellentesque massa placerat duis ultricies lacus sed.
				</p>
			</article>
		</section>
	</main>
</Layout>
