---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
---

<Layout title='Blog'>
	<main>
		<section class='hero'>
			<div data-type='wide' class='container flow-large'>
				<Navbar />
			</div>
		</section>
	</main>
</Layout>
