---
import Layout from '../layouts/Layout.astro';
import MyReactComponet from '../components/MyReactComponet.jsx';
---

<Layout title='Coming Soon | Rockstar Renovations'>
	<main class='container'>
		<header class='hero'>
			<h1>
				<small>We are</small>
				<br />Rockstar<br /><span>Renovations</span><br />
				<small>EST. 2020.</small>
			</h1>
		</header>

		<section class='tiny-story'>
			<p>
				An fully insured business, both in general liability and workman's compensation. Renovations
				for the modern style. Reach out and give us call for a project or request. Send a email to
				Rockstar Renovations2020@gmail.com.
			</p>
			<MyReactComponet />
		</section>
		<footer>
			<div class='copyright'><p>Rockstar Renovations All Rights Reserved.</p></div>
			<div class='socials'>
				<ul>
					<li>Facebook</li>
					<li>Twitter</li>
				</ul>
			</div>
		</footer>
	</main>
</Layout>
