---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
---

<Layout title='Contact Us'>
	<main class='contact'>
		<section class='hero'>
			<div data-type='wide' class='container flow-large'>
				<Navbar />
				<header>
					<h1 class='text-step-6'>Let's Get to <span class='pt-bold'>Work.</span></h1>
				</header>
				<div class='summary'>
					<p>
						Ready to Elevate Your Online Presence? Drop us a line and let's discuss how we can take
						your website to the next level.
					</p>
				</div>
				<div class='socials'>
					<ul class='social-items flow-inline'>
						<li>
							<a href='https://twitter.com/AnimancyDesigns' target='_blank'>
								<i class='fa-brands fa-l fa-square-x-twitter'></i>
							</a>
						</li>
						<li>
							<a href='https://github.com/Sorumeiji' target='_blank'>
								<i class='fa-brands fa-l fa-square-github'></i>
							</a>
						</li>
						<li>
							<a href='https://codepen.io/Animancy' target='_blank'>
								<i class='fa-brands fa-l fa-dev'></i>
							</a>
						</li>
						<li><a href='#'><i class='fa-brands fa-l fa-discord'></i></a></li>
					</ul>
				</div>
			</div>
		</section>

		<section class='reach-out'>
			<div data-type='wide' class='container flow-large'>
				<form
					class='form-content flow'
					id='form-content'
					target='_blank'
					action='https://formsubmit.co/animancydesigns@gmail.com'
					method='POST'
				>
					<header>
						<h2>
							Contact <span class='pt-bold'>Form</span>
						</h2>
					</header>
					<div class='form-group'>
						<div class='input-group'>
							<input autocomplete='off' type='text' name='name' placeholder='Your Name' required />
						</div>

						<div class='input-group'>
							<input
								autocomplete='off'
								type='email'
								name='email'
								placeholder='Email Address'
								required
							/>
						</div>
					</div>

					<div class='form-group'>
						<div class='input-group'>
							<input type='text' name='website' placeholder='Website / Company Name' required />
						</div>

						<div class='input-group'>
							<input
								autocomplete='off'
								type='url'
								name='twitter'
								placeholder='Social Media'
								required
							/>
						</div>
					</div>

					<div class='form-message'>
						<textarea
							autocomplete='off'
							placeholder='Tell me more...'
							name='message'
							rows='10'
							required
						>
						</textarea>
					</div>

					<input type='hidden' autocomplete='off' name='_captcha' value='false' />
					<input
						type='hidden'
						autocomplete='off'
						name='_next'
						value='https://staging.animancy.com/thanks'
					/>

					<div class='margin-block-start-24'>
						<button class='button-outline-white' type='submit' onclick='
					resetForm()
					'>
							Submit Project Request
						</button>
					</div>
				</form>
			</div>
		</section>
	</main>
</Layout>
