---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
---

<Layout title='contact'>
	<main class='contact'>
		<section>
			<div data-type='wide' class='container flow-large'>
				<Navbar />
				<header>
					<h1>Contact Us.</h1>
				</header>
				<div>
					<p>
						Ready to Elevate Your Online Presence? Drop us a line and let's discuss how we can take
						your website to the next level.
					</p>
				</div>
			</div>
		</section>

		<section>
			<div data-type='wide' class='container flow-large'>
				<header>
					<h2 class='header-w-line'>About You.</h2>
				</header>
				<div class='content'>
					<form>
						<div class='input-group'>
							<label class='label' for='input'>Enter Your Name</label>
							<input class='input' name='text' type='text' />
						</div>

						<div class='input-group'>
							<label class='label' for='input'>Enter Your Name</label>
							<input class='input' name='text' type='text' />
						</div>

						<div class='input-group'>
							<label class='label' for='input'>Enter Your Name</label>
							<input class='input' name='text' type='text' />
						</div>

						<div class='input-group'>
							<label class='label' for='input'>Enter Your Name</label>
							<input class='input' name='text' type='text' />
						</div>
					</form>
				</div>

				<header>
					<h2 class='header-w-line'>Your Project.</h2>
				</header>
				<div class='content'>
					<form>
						<div class='input-group'>
							<label class='label' for='input'>Enter Your Name</label>
							<input class='input' name='text' type='text' />
						</div>

						<div class='input-group'>
							<label class='label' for='input'>Enter Your Name</label>
							<input class='input' name='text' type='text' />
						</div>

						<div class='input-group'>
							<label class='label' for='input'>Enter Your Name</label>
							<input class='input' name='text' type='text' />
						</div>

						<div class='input-group'>
							<label class='label' for='input'>Enter Your Name</label>
							<input class='input' name='text' type='text' />
						</div>

						<div class='input-group'>
							<label class='label' for='input'>Enter Your Name</label>
							<input class='input' name='text' type='text' />
						</div>
					</form>
				</div>
			</div>
		</section>
	</main>
</Layout>
