---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
---

<Layout title='Contact Us'>
	<main class='contact'>
		<header class='hero'>
			<Navbar />
			<article class='u-container'>
				<div class='content'>
					<div class='left-border'>
						<h1>Let's Stay in Touch.</h1>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
							incididunt ut labore et dolore magna aliqua. In pellentesque massa placerat duis
							ultricies lacus sed.
						</p>
					</div>
				</div>
			</article>
		</header>
	</main>
</Layout>
