---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
---

<Layout title='Contact Us'>
	<main class='contact'>
		<header class='hero'>
			<Navbar />
			<article class='u-container'>
				<div class='content'>
					<div class='left-border'>
						<h1>Let's Stay in Touch.</h1>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
							incididunt ut labore et dolore magna aliqua. In pellentesque massa placerat duis
							ultricies lacus sed.
						</p>
					</div>
				</div>
			</article>
		</header>

		<section class='contact-form'>
			<article class='u-container flow'>
				<header>
					<h1>Send us a message.</h1>
				</header>
				<form>
					<div>
						<p><label for='name'>Name</label></p>
						<p><input id='name' type='text' /></p>
					</div>

					<div>
						<p><label for='email'>Email</label></p>
						<p><input id='email' type='text' /></p>
					</div>
					<div>
						<p><label for='project'>Project</label></p>
						<p><textarea id='project' name='project' rows='4' cols='50'></textarea></p>
					</div>
				</form>
			</article>
		</section>
	</main>
</Layout>
