---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
---

<Layout title='Contact Us' description='Contact page for Studio Eien, reach out to us'>
	<main class='contact'>
		<section class='hero'>
			<div data-type='wide' class='container flow-large'>
				<Navbar />
				<header>
					<h1 class='text-step-6'>Let's Get to <span class='pt-bold'>Work.</span></h1>
				</header>
				<div class='summary'>
					<p>
						Ready to Elevate Your Online Presence? Drop us a line and let's discuss how we can take
						your website to the next level.
					</p>
				</div>
				<div class='socials'>
					<ul class='social-items flow-inline'>
						<li>
							<a href='https://github.com/Sorumeiji' target='_blank'>
								<i aria-hidden='true' class='fa-brands fa-l fa-square-github'></i>
								<span class='fa-sr-only'>Studio Eien's github account</span>
							</a>
						</li>
						<li>
							<a href='https://codepen.io/Animancy' target='_blank'>
								<i aria-hidden='true' class='fa-brands fa-l fa-codepen'></i>
								<span class='fa-sr-only'>Studio Eien's codepen account</span>
							</a>
						</li>
						<li>
							<a href='https://discord.gg/CP4bmCpqzZ' target='_blank'>
								<i aria-hidden='true' class='fa-brands fa-l fa-discord'></i>
								<span class='fa-sr-only'>Studio Eien's discord</span>
							</a>
						</li>
						<li>
							<a href='https://medium.com/@StuidoEien' target='_blank'>
								<i aria-hidden='true' class='fa-brands fa-l fa-medium'></i>
								<span class='fa-sr-only'>Studio Eien's mediums</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</section>

		<section class='reach-out'>
			<div data-type='wide' class='container flow-large'></div>
		</section>
	</main>
</Layout>
