---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
---

<Layout title='Animancy Designs.'>
	<main class='landing'>
		<div class='landing-fade'><img src='/img/6.jpg' /></div>
		<section class='hero'>
			<div data-type='wide' class='container flow-large'>
				<Navbar />
				<header class='flow'>
					<h1>Animancy</h1>
					<p class='clr-secondary-100'>Web Design by Kaleb B.</p>
				</header>
			</div>
		</section>

		<section class='statement'>
			<div data-type='wide' class='container flow-large'>
				<div class='summary'>
					<p>
						<i>
							Creating the web for businesses, content creators, and art creatives. We are here to
							help you take the first steps to building an online presence that tells the world
							about your dream.
						</i>
					</p>
				</div>
			</div>
		</section>

		<section class='process'>
			<div data-type='wide' class='container flow'>
				<header>
					<h2 class='header-w-line'>How we work.</h2>
				</header>
				<article class='process__content'>
					<div class='process flow'>
						<header>
							<h3><span class='clr-secondary-100'>01.</span> Strategy</h3>
						</header>
						<p>
							We first focus on getting to know about your dream and idea. Sitting with you, talking
							about content helps us to make some bid design decisions before getting to the
							visuals.
						</p>
					</div>
					<div class='process flow'>
						<header>
							<h3><span class='clr-secondary-100'>02.</span> Design</h3>
						</header>
						<p>
							After gathering the content, we form a design. We conduct research based on the
							content and provide design mockups to narrow down the website you want.
						</p>
					</div>
					<div class='process flow'>
						<header>
							<h3><span class='clr-secondary-100'>03.</span> Development</h3>
						</header>
						<p>
							After careful consideration, we create a website that meets your specs and
							incorporates all requested features, ideas, and concepts. We take pride in our work
							and ensure the highest quality.
						</p>
					</div>
					<div class='process flow'>
						<header>
							<h3><span class='clr-secondary-100'>04.</span> Support & Assistance</h3>
						</header>
						<p>
							Lastly, we sit down and talk about how to use your website, such as how to go about
							updating the website, or helping to plan a launch date that works within your favor.
						</p>
					</div>
				</article>
			</div>
		</section>

		<section id='services' class='services'>
			<div data-type='wide' class='container flow'>
				<header>
					<h2 class='header-w-line'>What we can do.</h2>
				</header>
				<article class='services__content'>
					<div class='detail flow'>
						<header>
							<h3>Web Design & Development</h3>
						</header>
						<p>
							We create the web using the right tools for the right job. Let us create an online
							presence for you, that will take you to the next level, allowing you to take your
							steps with what you are passionate about.
						</p>
					</div>
					<div class='detail flow'>
						<header>
							<h3>OBS Graphics & Effects</h3>
						</header>
						<p>
							We use <a class='event-link' href='https://www.nodecg.dev/' target='_blank'>NodeCG</a>
							 to create broadcast graphics. This service allows one to run complicated parts of
							their stream smoothly, and we also can provide subtle animations for sub alerts, and
							social media callouts.
						</p>
					</div>

					<div class='detail flow'>
						<header>
							<h3>Data Integration</h3>
						</header>
						<p>
							If you want to display information, redeems, top cheer, etc. Animancy can integrate
							that data using the Twitch API.
						</p>
					</div>
				</article>

				<div class='margin-block-start-24'>
					<a type='button' href='#'>Uncover More <i class='fa-solid fa-arrow-right'></i></a>
				</div>
			</div>
		</section>

		<section id='demos' class='demos'>
			<div data-type='wide' class='container flow'>
				<header>
					<h2 class='header-w-line'>Recent Clients</h2>
				</header>

				<article class='showcase'>
					<div class='showcase__content'>
						<!-- Showcase content -->
						<div class='showcase__img'>
							<img src='/img/6.jpg' />
						</div>
						<div class='showcase__img'>
							<img src='/img/10.jpg' />
						</div>
						<div class='showcase__img'>
							<img src='/img/16.jpg' />
						</div>
						<div class='showcase__img'>
							<img src='/img/20.jpg' />
						</div>
					</div>
				</article>

				<article class='lang-stack'>
					<div>
						<i class='fa-brands fa-xl fa-html5'></i>
					</div>
					<div>
						<i class='fa-brands fa-xl fa-sass'></i>
					</div>
					<div>
						<i class='fa-brands fa-xl fa-js'></i>
					</div>
					<div>
						<i class='fa-brands fa-xl fa-react'></i>
					</div>
					<div>
						<i class='fa-brands fa-xl fa-figma'></i>
					</div>
				</article>

				<div class='margin-block-start-24'>
					<a type='button' href='/case-studies'>
						See Case Studies <i class='fa-solid fa-arrow-right'></i>
					</a>
				</div>
			</div>
		</section>

		<section class='conculsion'>
			<div data-type='wide' class='container flow'>
				<header>
					<h2>Let's get started.</h2>
				</header>

				<div class='conculsion__images'>
					<div>
						<svg
							width='405'
							height='206'
							viewBox='0 0 405 206'
							fill='none'
							xmlns='http://www.w3.org/2000/svg'
						>
							<rect width='405' height='206' rx='3' fill='#596067'></rect>
							<path
								d='M280.303 159.959C235.391 186.403 172.706 185.633 129.869 158.098L72.4456 121.042L226.558 30.3696L283.981 67.4257C326.947 95.175 325.343 133.472 280.303 159.959ZM240.224 134.114C263.086 120.678 264.263 102.706 243.261 89.1844L226.943 78.6581L150.593 123.588L166.911 134.114C187.934 147.593 217.49 147.464 240.224 134.092V134.114Z'
								fill='#DAD7D3'
							>
							</path>
							<path
								d='M165.957 135.995C146.807 135.995 127.791 130.961 112.244 120.925L72.2313 95.1328C72.068 95.0331 71.933 94.893 71.8394 94.7261C71.7458 94.5592 71.6967 94.3711 71.6967 94.1798C71.6967 93.9884 71.7458 93.8003 71.8394 93.6334C71.933 93.4665 72.068 93.3265 72.2313 93.2267L179.538 30.1472C179.714 30.036 179.918 29.9771 180.126 29.9771C180.334 29.9771 180.538 30.036 180.714 30.1472L220.698 55.9389C235.276 65.3353 243.169 77.0399 242.915 88.9083C242.662 101.119 233.847 112.958 218.092 122.22C202.234 131.334 184.247 136.086 165.957 135.995ZM74.9861 94.2989L113.45 119.108C142.667 137.945 186.224 138.467 217.019 120.388C232.074 111.528 240.503 100.375 240.741 88.9678C240.965 77.9036 233.444 66.884 219.536 57.9194L180.134 32.4404L74.9861 94.2989ZM163.694 111.483C154.625 111.576 145.72 109.064 138.036 104.246L126.674 96.9198C126.511 96.82 126.376 96.68 126.282 96.5131C126.188 96.3462 126.139 96.1581 126.139 95.9667C126.139 95.7754 126.188 95.5872 126.282 95.4203C126.376 95.2535 126.511 95.1135 126.674 95.0137L179.836 63.742C180.012 63.6308 180.216 63.5718 180.424 63.5718C180.632 63.5718 180.836 63.6308 181.012 63.742L192.374 71.0685C199.656 75.7592 203.439 81.3286 203.305 87.166C203.171 93.3905 198.644 99.3173 190.215 104.261C182.164 108.953 173.012 111.425 163.694 111.424V111.483ZM129.444 96.0114L139.287 102.355C153.523 111.543 173.537 111.543 189.173 102.355C196.901 97.8133 201.086 92.5417 201.086 87.1362C201.19 82.1178 197.765 77.2186 191.168 72.9597L180.387 66.0054L129.444 96.0114Z'
								fill='#322E38'
							>
							</path>
							<path
								d='M73.1691 90.3975L66.1107 94.4479L73.3627 98.6174L80.4212 94.567L73.1691 90.3975Z'
								fill='#322E38'
							>
							</path>
							<path
								d='M73.3627 99.7342C73.1693 99.7331 72.9794 99.6818 72.8118 99.5853L65.5597 95.4157C65.3896 95.3178 65.2482 95.1767 65.15 95.0068C65.0517 94.8369 65 94.6441 65 94.4478C65 94.2515 65.0517 94.0587 65.15 93.8887C65.2482 93.7188 65.3896 93.5778 65.5597 93.4799L72.6182 89.4294C72.7879 89.3314 72.9805 89.2798 73.1766 89.2798C73.3726 89.2798 73.5652 89.3314 73.735 89.4294L80.9871 93.599C81.1572 93.6969 81.2985 93.8379 81.3967 94.0078C81.495 94.1778 81.5468 94.3706 81.5468 94.5669C81.5468 94.7632 81.495 94.956 81.3967 95.126C81.2985 95.2959 81.1572 95.4369 80.9871 95.5348L73.9286 99.6002C73.7551 99.694 73.5599 99.7403 73.3627 99.7342ZM68.3593 94.4478L73.3627 97.3218L78.1726 94.5669L73.1691 91.6929L68.3593 94.4478Z'
								fill='#322E38'
							>
							</path>
							<path
								d='M180.327 27.02L173.254 31.0705L180.506 35.24L187.579 31.1896L180.327 27.02Z'
								fill='#322E38'
							>
							</path>
							<path
								d='M180.506 36.3568C180.312 36.3557 180.123 36.3043 179.955 36.2078L172.703 32.0383C172.533 31.9404 172.391 31.7993 172.293 31.6294C172.195 31.4595 172.143 31.2666 172.143 31.0703C172.143 30.874 172.195 30.6812 172.293 30.5113C172.391 30.3414 172.533 30.2003 172.703 30.1024L179.761 26.052C179.931 25.9539 180.124 25.9023 180.32 25.9023C180.516 25.9023 180.708 25.9539 180.878 26.052L188.13 30.2215C188.3 30.3195 188.442 30.4605 188.54 30.6304C188.638 30.8004 188.69 30.9932 188.69 31.1895C188.69 31.3858 188.638 31.5786 188.54 31.7485C188.442 31.9184 188.3 32.0595 188.13 32.1574L181.072 36.2078C180.9 36.3069 180.704 36.3583 180.506 36.3568ZM175.502 31.1001L180.506 33.9741L185.316 31.2193L180.312 28.3452L175.502 31.1001Z'
								fill='#322E38'
							>
							</path>
							<path
								d='M217.6 116.472L210.541 120.508L217.793 124.678L224.852 120.642L217.6 116.472Z'
								fill='#322E38'
							>
							</path>
							<path
								d='M217.793 125.794C217.6 125.793 217.41 125.742 217.242 125.645L209.99 121.476C209.82 121.378 209.679 121.237 209.581 121.067C209.482 120.897 209.431 120.704 209.431 120.508C209.431 120.311 209.482 120.118 209.581 119.949C209.679 119.779 209.82 119.638 209.99 119.54L217.049 115.489C217.219 115.391 217.411 115.34 217.607 115.34C217.803 115.34 217.996 115.391 218.166 115.489L225.418 119.659C225.588 119.757 225.729 119.898 225.828 120.068C225.926 120.238 225.978 120.43 225.978 120.627C225.978 120.823 225.926 121.016 225.828 121.186C225.729 121.356 225.588 121.497 225.418 121.595L218.359 125.645C218.187 125.744 217.992 125.796 217.793 125.794ZM212.79 120.448L217.793 123.322L222.603 120.567L217.6 117.693L212.79 120.448Z'
								fill='#322E38'
							>
							</path>
							<path
								d='M161.757 155.562C161.511 155.564 161.27 155.484 161.074 155.335C160.877 155.186 160.736 154.976 160.671 154.738C160.606 154.5 160.622 154.247 160.717 154.019C160.811 153.791 160.978 153.601 161.192 153.478L268.409 90.4576C268.662 90.3284 268.956 90.3007 269.229 90.3803C269.502 90.4598 269.734 90.6405 269.879 90.8856C270.023 91.1307 270.069 91.4217 270.006 91.6991C269.943 91.9765 269.777 92.2196 269.541 92.3786L162.323 155.399C162.153 155.504 161.957 155.56 161.757 155.562Z'
								fill='#322E38'
							>
							</path>
							<path
								d='M142.22 140.075C142.004 140.076 141.792 140.014 141.61 139.897L72.2311 95.1334C72.0994 95.0582 71.9844 94.9571 71.893 94.836C71.8017 94.715 71.7359 94.5766 71.6998 94.4293C71.6637 94.282 71.6579 94.1289 71.6829 93.9793C71.7078 93.8298 71.763 93.6868 71.845 93.5593C71.927 93.4317 72.0342 93.3222 72.1599 93.2374C72.2856 93.1526 72.4272 93.0943 72.5762 93.066C72.7252 93.0377 72.8784 93.04 73.0264 93.0729C73.1744 93.1057 73.3143 93.1684 73.4373 93.257L142.831 137.931C143.034 138.062 143.189 138.255 143.272 138.482C143.356 138.708 143.364 138.956 143.295 139.187C143.227 139.419 143.085 139.622 142.891 139.766C142.697 139.91 142.462 139.987 142.22 139.986V140.075Z'
								fill='#322E38'
							>
							</path>
							<path
								d='M248.619 76.3998C248.402 76.4007 248.19 76.3386 248.008 76.2211L179.508 32.0684C179.376 31.9933 179.261 31.8921 179.17 31.771C179.079 31.65 179.013 31.5116 178.977 31.3643C178.941 31.2171 178.935 31.064 178.96 30.9144C178.985 30.7648 179.04 30.6219 179.122 30.4943C179.204 30.3668 179.311 30.2573 179.437 30.1725C179.563 30.0877 179.704 30.0293 179.853 30.001C180.002 29.9728 180.155 29.9751 180.303 30.008C180.451 30.0408 180.591 30.1035 180.714 30.1921L249.214 74.3448C249.417 74.4758 249.572 74.6691 249.656 74.8955C249.74 75.122 249.748 75.3696 249.679 75.6011C249.61 75.8325 249.468 76.0355 249.274 76.1795C249.08 76.3235 248.845 76.4008 248.604 76.3998H248.619Z'
								fill='#322E38'
							>
							</path>
							<path
								d='M248.619 78.5739C250.436 78.5739 251.91 77.1005 251.91 75.2829C251.91 73.4654 250.436 71.9919 248.619 71.9919C246.801 71.9919 245.328 73.4654 245.328 75.2829C245.328 77.1005 246.801 78.5739 248.619 78.5739Z'
								fill='#322E38'
							>
							</path>
							<path
								d='M248.619 79.6907C247.735 79.6907 246.871 79.4286 246.137 78.9378C245.402 78.4469 244.829 77.7492 244.491 76.9328C244.153 76.1165 244.065 75.2183 244.237 74.3517C244.409 73.4851 244.835 72.6891 245.46 72.0643C246.084 71.4396 246.88 71.0141 247.747 70.8417C248.614 70.6693 249.512 70.7578 250.328 71.0959C251.144 71.4341 251.842 72.0066 252.333 72.7413C252.824 73.476 253.086 74.3397 253.086 75.2233C253.086 76.4081 252.615 77.5444 251.778 78.3822C250.94 79.22 249.803 79.6907 248.619 79.6907ZM248.619 73.1087C248.189 73.1087 247.768 73.2362 247.411 73.4751C247.053 73.714 246.775 74.0535 246.61 74.4508C246.445 74.8481 246.402 75.2852 246.486 75.707C246.57 76.1287 246.777 76.5161 247.081 76.8202C247.385 77.1242 247.773 77.3313 248.194 77.4152C248.616 77.4991 249.053 77.456 249.451 77.2915C249.848 77.1269 250.187 76.8483 250.426 76.4907C250.665 76.1332 250.793 75.7128 250.793 75.2828C250.793 74.7062 250.564 74.1532 250.156 73.7455C249.748 73.3377 249.195 73.1087 248.619 73.1087Z'
								fill='#322E38'
							>
							</path>
							<path
								d='M270.404 93.5546C272.222 93.5546 273.695 92.0812 273.695 90.2637C273.695 88.4461 272.222 86.9727 270.404 86.9727C268.587 86.9727 267.113 88.4461 267.113 90.2637C267.113 92.0812 268.587 93.5546 270.404 93.5546Z'
								fill='#322E38'
							>
							</path>
							<path
								d='M270.405 94.6714C269.521 94.6714 268.657 94.4094 267.923 93.9185C267.188 93.4276 266.616 92.7299 266.277 91.9135C265.939 91.0972 265.851 90.199 266.023 89.3324C266.196 88.4658 266.621 87.6698 267.246 87.045C267.871 86.4202 268.667 85.9948 269.533 85.8224C270.4 85.65 271.298 85.7385 272.114 86.0766C272.931 86.4148 273.628 86.9873 274.119 87.722C274.61 88.4567 274.872 89.3204 274.872 90.204C274.872 91.3888 274.401 92.5251 273.564 93.3629C272.726 94.2007 271.59 94.6714 270.405 94.6714ZM270.405 88.0894C269.975 88.0894 269.554 88.2169 269.197 88.4558C268.839 88.6947 268.561 89.0343 268.396 89.4315C268.232 89.8288 268.189 90.2659 268.272 90.6877C268.356 91.1094 268.563 91.4968 268.867 91.8009C269.171 92.1049 269.559 92.312 269.981 92.3959C270.402 92.4798 270.84 92.4367 271.237 92.2721C271.634 92.1076 271.974 91.8289 272.212 91.4714C272.451 91.1139 272.579 90.6935 272.579 90.2635C272.579 89.6869 272.35 89.1339 271.942 88.7262C271.534 88.3185 270.981 88.0894 270.405 88.0894Z'
								fill='#322E38'
							>
							</path>
							<path
								d='M161.758 157.736C163.575 157.736 165.049 156.263 165.049 154.445C165.049 152.628 163.575 151.154 161.758 151.154C159.94 151.154 158.467 152.628 158.467 154.445C158.467 156.263 159.94 157.736 161.758 157.736Z'
								fill='#322E38'
							>
							</path>
							<path
								d='M161.758 158.853C160.874 158.853 160.011 158.591 159.276 158.1C158.541 157.609 157.969 156.911 157.631 156.095C157.292 155.279 157.204 154.381 157.376 153.514C157.549 152.647 157.974 151.851 158.599 151.227C159.224 150.602 160.02 150.176 160.886 150.004C161.753 149.832 162.651 149.92 163.467 150.258C164.284 150.596 164.981 151.169 165.472 151.904C165.963 152.638 166.225 153.502 166.225 154.386C166.225 155.57 165.755 156.707 164.917 157.545C164.079 158.382 162.943 158.853 161.758 158.853ZM161.758 152.271C161.328 152.271 160.907 152.399 160.55 152.637C160.192 152.876 159.914 153.216 159.749 153.613C159.585 154.01 159.542 154.448 159.625 154.869C159.709 155.291 159.916 155.678 160.221 155.982C160.525 156.287 160.912 156.494 161.334 156.577C161.755 156.661 162.193 156.618 162.59 156.454C162.987 156.289 163.327 156.011 163.565 155.653C163.804 155.296 163.932 154.875 163.932 154.445C163.932 153.869 163.703 153.316 163.295 152.908C162.887 152.5 162.334 152.271 161.758 152.271Z'
								fill='#322E38'
							>
							</path>
							<path
								d='M142.861 142.875C144.678 142.875 146.152 141.401 146.152 139.584C146.152 137.766 144.678 136.293 142.861 136.293C141.043 136.293 139.57 137.766 139.57 139.584C139.57 141.401 141.043 142.875 142.861 142.875Z'
								fill='#322E38'
							>
							</path>
							<path
								d='M142.86 143.991C141.977 143.991 141.113 143.729 140.379 143.239C139.644 142.748 139.071 142.05 138.733 141.234C138.395 140.417 138.307 139.519 138.479 138.652C138.651 137.786 139.077 136.99 139.702 136.365C140.326 135.74 141.122 135.315 141.989 135.142C142.856 134.97 143.754 135.059 144.57 135.397C145.386 135.735 146.084 136.307 146.575 137.042C147.066 137.777 147.328 138.64 147.328 139.524C147.328 140.709 146.857 141.845 146.019 142.683C145.182 143.521 144.045 143.991 142.86 143.991ZM142.86 137.409C142.43 137.409 142.01 137.537 141.653 137.776C141.295 138.015 141.016 138.354 140.852 138.752C140.687 139.149 140.644 139.586 140.728 140.008C140.812 140.429 141.019 140.817 141.323 141.121C141.627 141.425 142.015 141.632 142.436 141.716C142.858 141.8 143.295 141.757 143.692 141.592C144.09 141.428 144.429 141.149 144.668 140.791C144.907 140.434 145.035 140.014 145.035 139.584C145.031 139.01 144.8 138.46 144.393 138.056C143.985 137.651 143.435 137.424 142.86 137.424V137.409Z'
								fill='#322E38'
							>
							</path>
							<path
								d='M257.226 149.799C257.009 149.8 256.797 149.738 256.615 149.62L222.767 127.388C222.632 127.314 222.513 127.213 222.418 127.091C222.324 126.969 222.256 126.828 222.218 126.679C222.18 126.529 222.174 126.373 222.2 126.221C222.226 126.069 222.283 125.923 222.367 125.794C222.452 125.665 222.563 125.555 222.692 125.471C222.821 125.387 222.967 125.33 223.119 125.305C223.271 125.28 223.427 125.286 223.577 125.325C223.726 125.363 223.866 125.431 223.988 125.526L257.836 147.759C258.039 147.89 258.194 148.083 258.278 148.31C258.361 148.536 258.37 148.784 258.301 149.015C258.232 149.247 258.09 149.45 257.896 149.594C257.702 149.738 257.467 149.815 257.226 149.814V149.799Z'
								fill='#322E38'
							>
							</path>
							<path
								d='M260.249 144.691C263.361 146.538 263.659 149.307 260.933 150.886C259.262 151.649 257.433 152.005 255.597 151.922C253.761 151.839 251.972 151.32 250.376 150.409C247.263 148.563 246.965 145.793 249.691 144.215C251.362 143.451 253.191 143.096 255.027 143.179C256.863 143.262 258.653 143.78 260.249 144.691Z'
								fill='#DAD7D3'
							>
							</path>
							<path
								d='M256.362 153.06C254.062 153.079 251.798 152.494 249.795 151.362C248.933 150.954 248.193 150.326 247.65 149.542C247.106 148.759 246.778 147.846 246.698 146.895C246.733 146.124 246.975 145.376 247.4 144.732C247.825 144.087 248.415 143.569 249.11 143.232C250.954 142.366 252.98 141.958 255.015 142.044C257.05 142.129 259.035 142.706 260.8 143.723C261.662 144.132 262.402 144.759 262.945 145.543C263.489 146.327 263.817 147.24 263.897 148.191C263.86 148.961 263.617 149.708 263.193 150.353C262.768 150.997 262.178 151.516 261.485 151.854C259.908 152.687 258.145 153.103 256.362 153.06ZM254.233 144.274C252.847 144.232 251.473 144.545 250.242 145.183C249.895 145.339 249.595 145.581 249.368 145.886C249.141 146.191 248.996 146.548 248.946 146.925C248.946 147.759 249.691 148.712 250.942 149.456C252.368 150.263 253.962 150.726 255.598 150.808C257.235 150.891 258.868 150.591 260.368 149.933C260.718 149.78 261.022 149.539 261.252 149.234C261.481 148.929 261.628 148.569 261.678 148.191C261.678 147.357 260.934 146.404 259.683 145.659C258.016 144.734 256.138 144.257 254.233 144.274Z'
								fill='#322E38'
							>
							</path>
						</svg>
					</div>
					<div>
						<svg
							width='301'
							height='206'
							viewBox='0 0 301 206'
							fill='none'
							xmlns='http://www.w3.org/2000/svg'
						>
							<rect width='301' height='206' rx='3' fill='#596067'></rect>
							<path
								d='M87.5306 148H57.8906V143.44C59.1706 142.64 60.5306 141.96 61.9706 141.4C63.4906 140.76 64.9706 140.28 66.4106 139.96L97.3706 62.56H106.251L136.371 139.96C137.971 140.28 139.571 140.76 141.171 141.4C142.771 141.96 144.171 142.64 145.371 143.44V148H107.811V143.44C109.331 142.72 110.971 142.04 112.731 141.4C114.491 140.76 116.171 140.28 117.771 139.96L110.811 120.88H84.1706L77.0906 139.96C80.7706 140.44 84.2506 141.6 87.5306 143.44V148ZM87.0506 113.08H108.291L100.491 90.16L98.2106 79.84H97.9706L95.3306 90.4L87.0506 113.08ZM201.713 130.6C201.713 132.36 201.713 133.88 201.713 135.16C201.793 136.44 201.913 137.8 202.073 139.24L210.353 140.44V144.64C209.393 145.12 208.073 145.6 206.393 146.08C204.793 146.56 203.073 147.04 201.233 147.52C199.473 147.92 197.713 148.24 195.953 148.48C194.193 148.8 192.633 149.04 191.273 149.2H187.193C186.393 147.36 185.913 145.52 185.753 143.68C185.593 141.84 185.473 139.6 185.393 136.96H184.793C184.393 138.56 183.713 140.12 182.753 141.64C181.793 143.08 180.553 144.4 179.033 145.6C177.593 146.72 175.873 147.64 173.873 148.36C171.873 149.08 169.633 149.44 167.153 149.44C164.513 149.44 162.073 149.04 159.833 148.24C157.593 147.44 155.633 146.32 153.953 144.88C152.273 143.44 150.953 141.72 149.993 139.72C149.033 137.64 148.553 135.32 148.553 132.76C148.553 129.16 149.233 126.2 150.593 123.88C151.953 121.56 154.073 119.68 156.953 118.24C159.913 116.72 163.673 115.6 168.233 114.88C172.873 114.16 178.473 113.64 185.033 113.32C185.673 106.44 185.393 101.4 184.193 98.2C182.993 95 180.393 93.4 176.393 93.4C173.913 93.4 171.633 93.8 169.553 94.6L163.913 109H158.633C157.993 108.04 157.353 106.96 156.713 105.76C156.153 104.48 155.593 103.16 155.033 101.8C154.553 100.36 154.113 98.92 153.713 97.48C153.392 96.04 153.153 94.64 152.993 93.28C156.033 91.2 159.953 89.56 164.753 88.36C169.553 87.16 174.633 86.56 179.993 86.56C184.553 86.56 188.273 87.08 191.153 88.12C194.033 89.08 196.273 90.44 197.873 92.2C199.553 93.88 200.713 95.88 201.353 98.2C201.993 100.52 202.313 103 202.313 105.64C202.313 110.44 202.193 114.8 201.953 118.72C201.793 122.56 201.713 126.52 201.713 130.6ZM174.713 139.84C176.393 139.84 177.833 139.52 179.033 138.88C180.233 138.24 181.233 137.48 182.033 136.6C182.913 135.72 183.553 134.76 183.953 133.72C184.433 132.68 184.793 131.76 185.033 130.96V118.96C181.273 119.04 178.193 119.28 175.793 119.68C173.393 120.08 171.513 120.76 170.153 121.72C168.793 122.6 167.833 123.76 167.273 125.2C166.793 126.56 166.553 128.24 166.553 130.24C166.553 133.28 167.273 135.64 168.713 137.32C170.153 139 172.153 139.84 174.713 139.84Z'
								fill='#DAD7D3'
							>
							</path>
							<line x1='244' y1='37' x2='244' y2='169' stroke='#DAD7D3' stroke-dasharray='2 2'>
							</line>
							<line x1='57' y1='168.5' x2='244' y2='168.5' stroke='#DAD7D3' stroke-dasharray='2 2'>
							</line>
						</svg>
					</div>
				</div>
				<div class='content'>
					<p>
						We strive to create an online presence that reflects your unique vision and speaks to
						your target audience. We understand that every business is different, and we are
						dedicated to helping you create an online presence that is tailored to your individual
						needs.
					</p>
				</div>
				<div class='margin-block-start-24'>
					<a type='button' href='/contact'>
						Request a Project <i class='fa-solid fa-arrow-right'></i>
					</a>
				</div>
				<div class='flow ending-quote'>
					<hr class='daimond-hr' />
					<p>
						<i>
							Strive for two things in design: simplicity and clarity. Great design is born of those
							two things.
						</i>
					</p>
				</div>
			</div>
		</section>
	</main>
</Layout>
