---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
---

<Layout title='Animancy Designs.'>
	<Navbar />
	<main>
		<header class='hero'>
			<div class='u-container'>
				<h1>Animancy Designs</h1>
			</div>
		</header>

		<section class='summary'>
			<div class='u-container'>
				<p>
					Animancy creates the web for businesses, content creators, and art creatives. We are here
					to help you take the first steps to building an online presence that tells the world about
					your dream.
				</p>
			</div>
		</section>

		<section class='selected-works'>
			<div class='u-container'>
				<header>
					<h2>Selected Works.</h2>
				</header>
				<article>
					<div class='card'>
						<header>
							<h3>Nyacchii</h3>
						</header>
						<summary>
							<p>
								A portfolio website for Nyacchii, an professional digital artist and Twitch partner.
								To help with commission pricing and information.
							</p>
						</summary>
						<a href='#'>View Case Study.</a>
					</div>
					<div class='card'>
						<header>
							<h3>Rockstar Renovations</h3>
						</header>
						<summary>
							<p>
								An fully insured business, both in general liability and workman's compensation.
								Renovations for the modern style.
							</p>
						</summary>
						<a href='#'>View Case Study.</a>
					</div>
				</article>
			</div>
		</section>

		<section class='process'>
			<div class='u-container'>
				<header>
					<h2>The Process.</h2>
				</header>
				<div class='card'>
					<h3>01. Strategy</h3>
					<p>
						We first focus on getting to know about your dream and idea. Sitting with you, talking
						about content helps us to make some bid design decisions before getting to the visuals.
					</p>
				</div>
				<div class='card'>
					<h3>02. Design</h3>
					<p>
						After gathering the content, we form a design. We conduct research based on the content
						and provide design mockups to narrow down the website you want.
					</p>
				</div>
				<div class='card'>
					<h3>03. Development</h3>
					<p>
						Upon choosing the design you love, we create your website and requested features, and
						concepts.
					</p>
				</div>
				<div class='card'>
					<h3>04. Support & Assistance</h3>
					<p>
						Lastly, we sit down and talk about how to use your website, such as how to go about
						updating the website, or helping to plan a launch date that works within your favor.
					</p>
				</div>
			</div>
		</section>

		<section class='services'>
			<div class='u-container'>
				<header>
					<h2>Services.</h2>
				</header>
				<div class='detail'>
					<header>
						<h3>Web Design and Development</h3>
					</header>
					<p>
						We create the web using the right tools for the right job. Let us create an online
						presence for you, that will take you to the next level, allowing you to take your steps
						with what you are passionate about.
					</p>
				</div>
				<div class='detail'>
					<header>
						<p>Coming Soon</p>
						<h3>OBS Graphics & Effects</h3>
					</header>
					<p>
						We create the web using the right tools for the right job. Let us create an online
						presence for you, that will take you to the next level, allowing you to take your steps
						with what you are passionate about.
					</p>
				</div>
				<div class='detail'>
					<header>
						<h3>Data Integration</h3>
					</header>
					<p>
						If you want to display information, redeems, top cheer, etc. Animancy can integrate that
						data using the Twitch API.
					</p>
				</div>
			</div>
		</section>
	</main>
</Layout>
