---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Card from '../components/CaseCard.astro';
---

<Layout title='Animancy Designs.'>
	<main class='landing'>
		<header class='hero'>
			<Navbar />
			<div class='u-container'>
				<div class='hero-logo'>
					<svg
						fill='none'
						height='189'
						height='543'
						style='width: 100%; height: auto;'
						viewBox='0 0 543 189'
					>
						<path
							d='M207.841 135.944c-10.116 6.604-20.428 11.945-31.42 11.945-38.328 0-47.374-51.18-59.048-81.479-2.14-5.341-6.615-8.254-12.062-8.254-5.74 0-12.16 4.175-14.3 11.07h1.167c1.751-3.301 5.448-6.02 8.658-6.02 2.918 0 5.253 1.456 7.199 4.758l-19.164 53.024c-1.07 3.302-3.988 8.546-7.101 8.546v1.457h15.078v-1.457c-3.21 0-5.059-4.273-3.697-8.352l2.53-7.477h27.821c8.658 25.152 24.027 39.039 46.498 39.039 18.775 0 31.227-9.905 38.133-16.412l-.292-.388Zm-111.09-25.735 12.937-38.36c3.989 9.031 7.588 25.346 12.452 38.36H96.75Z'
							fill='#F1F3F9'
						>
						</path><path
							d='M195.229 96.71c0-13.402-5.448-18.355-15.273-18.355-7.004 0-14.592 6.41-17.802 10.683l-.973-10.003-13.424 1.65v1.458c3.308 0 5.35 3.593 5.35 6.895V120.6c0 3.496-2.237 8.934-5.544 8.934v1.457h20.136v-1.457c-3.307 0-5.545-5.535-5.545-8.934V94.379c2.335-3.01 8.755-9.906 14.786-9.906 4.086 0 9.242 2.137 9.242 12.237v23.89c0 3.69-2.238 8.934-5.545 8.934v1.457h20.136v-1.457c-3.21 0-5.544-5.244-5.544-8.934V96.71ZM221.36 120.697V78.064l-14.3 2.525v1.457c3.308 0 5.448 3.787 5.448 7.089v31.562c0 3.205-2.432 8.837-5.739 8.837v1.457H227.1v-1.457c-3.308 0-5.74-5.632-5.74-8.837Zm-4.961-48.849c3.21 0 5.642-2.621 5.642-5.632 0-3.01-2.432-5.536-5.642-5.536-3.016 0-5.448 2.525-5.448 5.536 0 3.01 2.432 5.633 5.448 5.633ZM310.722 96.71c0-13.208-6.226-18.355-15.37-18.355-6.226 0-12.938 4.37-16.148 9.129-1.07-3.69-4.864-9.129-13.911-9.129-7.101 0-15.37 7.09-17.802 10.683l-.973-10.003-13.424 1.65v1.458c3.307 0 5.35 3.884 5.35 7.186V120.6c0 3.205-2.237 8.934-5.545 8.934v1.457h20.137v-1.457c-3.308 0-5.545-5.438-5.545-8.934V94.379c2.14-2.816 9.339-9.906 14.592-9.906 3.502 0 9.144 2.04 9.144 12.237v23.89c0 3.399-2.238 8.934-5.545 8.934v1.457h20.136v-1.457c-3.21 0-5.544-5.438-5.544-8.934V96.03l-.195-3.496c1.362-3.496 6.518-8.06 12.257-8.06 3.599 0 9.241 1.844 9.241 12.236v23.89c0 3.496-2.237 8.934-5.544 8.934v1.457h20.233v-1.457c-3.21 0-5.544-5.438-5.544-8.934V96.71ZM364.712 120.891V94.088c0-12.528-7.977-15.83-17.413-15.83-11.77 0-19.942 6.798-19.942 12.82 0 3.69 2.335 5.243 5.448 5.243 1.751 0 3.015-.874 3.015-.874 0-2.622 2.432-13.013 11.479-13.013 5.35 0 8.366 4.176 8.366 7.186v2.914c0 9.614-32.199 11.168-32.199 26.706 0 9.226 8.366 13.013 17.413 13.013 6.712 0 10.992-2.427 14.786-5.341.292 2.04 1.848 4.079 4.572 4.079h10.02v-1.457c-3.308 0-5.545-3.69-5.545-8.643Zm-21.207 6.992c-5.545 0-9.63-2.719-9.63-8.546 0-8.254 14.008-13.79 21.79-19.325v20.491c-1.459 3.399-7.49 7.38-12.16 7.38ZM421.833 96.71c0-13.402-5.447-18.355-15.272-18.355-7.004 0-14.592 6.41-17.802 10.683l-.973-10.003-13.424 1.65v1.458c3.307 0 5.35 3.593 5.35 6.895V120.6c0 3.496-2.237 8.934-5.545 8.934v1.457h20.137v-1.457c-3.308 0-5.545-5.535-5.545-8.934V94.379c2.335-3.01 8.755-9.906 14.786-9.906 4.086 0 9.241 2.137 9.241 12.237v23.89c0 3.69-2.237 8.934-5.544 8.934v1.457h20.136v-1.457c-3.21 0-5.545-5.244-5.545-8.934V96.71ZM477.752 119.24c-3.21 2.914-8.463 6.798-14.494 6.798-12.354 0-19.845-10.585-19.845-23.89 0-12.14 7.491-20.102 13.717-20.102 9.533 0 11.965 13.79 11.965 15.926 0 0 1.848 1.166 4.377 1.166 3.21 0 5.156-2.137 5.156-4.759 0-6.118-7.685-15.83-20.623-15.83-15.175 0-24.709 10.683-24.709 26.124 0 14.858 11.771 26.901 26.946 26.901 10.312 0 17.316-7.284 19.845-9.712l-2.335-2.622ZM521.47 79.035v1.457c4.378.291 4.183 5.924 2.724 10.002l-9.728 29.232-14.008-30.203c-1.751-3.399-.973-8.837 2.627-9.031v-1.457h-21.596v1.457c3.307 0 6.809 5.438 8.755 9.031L510.38 130.7l-3.599 9.711s-3.502 8.449-8.949 8.449c-5.059 0-7.296-3.788-7.296-7.284 0-1.942.778-3.787.778-5.05 0-1.359-.681-2.913-3.21-2.913-3.308 0-6.323 3.593-6.323 7.769 0 6.118 5.545 11.654 14.494 11.654 8.561 0 13.716-8.74 15.273-12.625l18.774-51.859c1.751-4.953 3.405-8.06 6.031-8.06v-1.457H521.47ZM537.942 131.379c2.723 0 5.058-2.427 5.058-5.147 0-2.913-2.335-5.147-5.058-5.147-2.919 0-5.156 2.234-5.156 5.147 0 2.72 2.237 5.147 5.156 5.147ZM221.983 163.657l-2.19 12.503h-3.457l-1.737-9.774-1.828 9.774h-3.366l-2.172-12.503h2.66l1.43 10.444 1.9-10.444h2.806l1.828 10.444 1.61-10.444h2.516ZM230.3 171.155c0 .121-.019.452-.055.994h-5.99c.084.867.32 1.482.706 1.843.386.361.911.542 1.574.542.41 0 .796-.066 1.158-.199a5.405 5.405 0 0 0 1.177-.632l1.068 1.445c-1.074.868-2.287 1.301-3.638 1.301-1.508 0-2.667-.451-3.475-1.355-.808-.903-1.213-2.126-1.213-3.668 0-.975.169-1.848.507-2.619.35-.783.851-1.398 1.502-1.843.664-.446 1.448-.669 2.353-.669 1.364 0 2.425.428 3.185 1.283.761.855 1.141 2.048 1.141 3.577Zm-2.552-.722c0-1.59-.573-2.385-1.72-2.385-.53 0-.947.199-1.248.596-.29.385-.465 1.018-.525 1.897h3.493v-.108ZM236.223 166.295c1.122 0 1.991.446 2.606 1.337.627.892.941 2.138.941 3.74 0 .988-.157 1.867-.471 2.638-.301.759-.742 1.355-1.321 1.789-.567.433-1.236.65-2.009.65-1.049 0-1.888-.409-2.515-1.228l-.145.939h-2.28v-13.388l2.57-.289v5.131a3.12 3.12 0 0 1 1.14-.957 3.14 3.14 0 0 1 1.484-.362Zm-.978 8.257c1.231 0 1.846-1.06 1.846-3.18 0-1.168-.15-1.987-.452-2.457-.29-.482-.712-.723-1.267-.723-.688 0-1.279.41-1.773 1.229v4.101c.422.687.971 1.03 1.646 1.03ZM247.296 163.657c1.955 0 3.517.446 4.687 1.337 1.183.88 1.774 2.5 1.774 4.861 0 2.312-.579 3.944-1.737 4.896-1.147.939-2.619 1.409-4.416 1.409h-3.584v-12.503h3.276Zm-.615 1.952v8.6h1.086c1.025 0 1.815-.313 2.37-.94.567-.638.851-1.776.851-3.414 0-1.133-.145-2.012-.434-2.638-.278-.627-.652-1.048-1.122-1.265-.471-.229-1.044-.343-1.72-.343h-1.031ZM262.714 171.155c0 .121-.018.452-.055.994h-5.99c.084.867.32 1.482.706 1.843.386.361.911.542 1.574.542.41 0 .797-.066 1.159-.199a5.423 5.423 0 0 0 1.176-.632l1.068 1.445c-1.074.868-2.287 1.301-3.638 1.301-1.508 0-2.666-.451-3.475-1.355-.808-.903-1.212-2.126-1.212-3.668 0-.975.168-1.848.506-2.619.35-.783.851-1.398 1.502-1.843.664-.446 1.448-.669 2.353-.669 1.364 0 2.425.428 3.185 1.283.761.855 1.141 2.048 1.141 3.577Zm-2.552-.722c0-1.59-.573-2.385-1.72-2.385-.53 0-.947.199-1.248.596-.29.385-.465 1.018-.525 1.897h3.493v-.108Z'
							fill='#F1F3F9'
						>
						</path><path
							d='M266.628 166.295c1.351 0 2.51.386 3.475 1.157l-.978 1.463c-.808-.506-1.604-.759-2.388-.759-.423 0-.749.079-.978.235a.73.73 0 0 0-.344.632c0 .193.049.356.145.488.109.133.302.259.579.38.29.12.718.265 1.285.433 1.014.277 1.768.651 2.263 1.121.494.457.742 1.09.742 1.897 0 .638-.187 1.192-.561 1.662-.362.47-.857.831-1.485 1.084-.627.241-1.327.361-2.099.361-.808 0-1.544-.12-2.208-.361a5.217 5.217 0 0 1-1.701-1.03l1.267-1.409c.808.626 1.665.939 2.57.939.482 0 .862-.09 1.14-.271.289-.192.434-.451.434-.777 0-.253-.054-.451-.163-.596-.108-.144-.307-.277-.597-.397-.289-.133-.742-.283-1.357-.452-.965-.265-1.683-.638-2.154-1.12-.458-.494-.688-1.102-.688-1.825 0-.542.157-1.03.471-1.464.314-.433.754-.77 1.321-1.011.579-.253 1.249-.38 2.009-.38ZM273.542 166.584v9.576h-2.57v-9.576h2.57Zm-1.303-4.932c.458 0 .832.144 1.122.433.301.278.452.633.452 1.066 0 .434-.151.795-.452 1.085-.29.277-.664.415-1.122.415-.459 0-.833-.138-1.122-.415a1.471 1.471 0 0 1-.435-1.085c0-.433.145-.788.435-1.066.289-.289.663-.433 1.122-.433ZM283.527 167.108c-.627.241-1.55.362-2.769.362.603.265 1.05.596 1.339.993.29.386.435.874.435 1.464 0 .614-.163 1.168-.489 1.662-.314.482-.772.861-1.376 1.138-.591.277-1.285.416-2.081.416-.422 0-.796-.042-1.122-.127-.241.157-.362.368-.362.633 0 .193.072.349.217.47.157.108.453.162.887.162h1.466c.712 0 1.333.121 1.864.362.543.228.959.554 1.249.975.302.41.452.88.452 1.409 0 .976-.422 1.735-1.266 2.277-.833.554-2.04.831-3.62.831-1.134 0-2.033-.12-2.697-.361-.651-.229-1.11-.566-1.375-1.012-.266-.446-.398-1.006-.398-1.68h2.298c0 .313.06.56.181.74.121.193.338.332.652.416.325.096.79.145 1.393.145.833 0 1.412-.103 1.738-.308.337-.204.506-.493.506-.867 0-.337-.126-.596-.38-.777-.253-.18-.627-.271-1.122-.271h-1.411c-.954 0-1.665-.174-2.136-.524-.471-.361-.706-.813-.706-1.355 0-.337.097-.662.29-.975.205-.326.482-.597.832-.814-.591-.325-1.025-.704-1.303-1.138-.265-.445-.398-.975-.398-1.59 0-.698.169-1.307.507-1.825.35-.53.832-.933 1.448-1.21.627-.289 1.339-.434 2.135-.434.99.024 1.804-.06 2.443-.253.64-.192 1.322-.494 2.046-.903l.633 1.969Zm-5.068.904c-.482 0-.868.156-1.158.469-.277.302-.416.717-.416 1.247 0 .542.139.97.416 1.283.29.313.682.47 1.177.47.518 0 .911-.151 1.176-.452.265-.301.398-.747.398-1.337 0-1.12-.531-1.68-1.593-1.68ZM289.019 166.295c.844 0 1.502.259 1.972.777.471.506.706 1.211.706 2.114v6.974h-2.57v-6.54c0-.518-.09-.88-.271-1.084-.169-.217-.428-.326-.778-.326-.362 0-.694.115-.996.344-.289.217-.573.548-.85.993v6.613h-2.57v-9.576h2.226l.199 1.211c.398-.494.832-.867 1.303-1.12a3.454 3.454 0 0 1 1.629-.38ZM300.642 163.368c.76 0 1.424.127 1.991.38.567.241 1.001.578 1.303 1.011.302.434.452.922.452 1.464 0 .699-.211 1.319-.633 1.861-.422.53-1.026 1.042-1.81 1.536l2.643 2.457c.386-.819.687-1.723.904-2.71l2.19.65c-.446 1.325-.995 2.463-1.647 3.415l2.154 1.915-2.135 1.102-1.503-1.445c-1.086.963-2.407 1.445-3.963 1.445-.857 0-1.617-.144-2.281-.433-.663-.289-1.182-.693-1.556-1.211-.362-.53-.543-1.144-.543-1.843 0-.735.199-1.373.597-1.915.398-.542 1.02-1.084 1.864-1.626-.639-.614-1.091-1.138-1.357-1.572a3.02 3.02 0 0 1-.38-1.518c0-.542.139-1.035.416-1.481.278-.446.694-.801 1.249-1.066.567-.277 1.249-.416 2.045-.416Zm.036 1.699c-.398 0-.712.114-.941.343-.217.229-.326.53-.326.903 0 .338.085.651.254.94.169.277.458.614.869 1.012.47-.301.82-.603 1.049-.904.229-.313.344-.662.344-1.048 0-.385-.115-.686-.344-.903-.217-.229-.519-.343-.905-.343Zm-.543 5.745c-.434.301-.754.614-.959.94a2.082 2.082 0 0 0-.289 1.084c0 .542.193.969.579 1.283.386.313.899.469 1.538.469.833 0 1.575-.277 2.226-.831l-3.095-2.945ZM317.077 163.368c.784 0 1.465.115 2.045.344.579.216 1.146.554 1.701 1.011l-1.321 1.536c-.724-.59-1.484-.885-2.281-.885-.893 0-1.604.367-2.135 1.102-.519.723-.778 1.861-.778 3.415 0 1.517.259 2.644.778 3.378.531.723 1.249 1.084 2.153 1.084.471 0 .899-.084 1.285-.252a6.626 6.626 0 0 0 1.213-.759l1.231 1.535a5.434 5.434 0 0 1-1.665 1.139c-.652.289-1.376.433-2.172.433-1.122 0-2.106-.253-2.95-.759-.845-.505-1.502-1.246-1.973-2.222-.47-.988-.706-2.18-.706-3.577 0-1.361.242-2.53.724-3.505.483-.988 1.146-1.735 1.991-2.241.845-.518 1.798-.777 2.86-.777ZM326.019 166.313c.289 0 .609.049.959.145l-.434 2.475a3.647 3.647 0 0 0-.851-.126c-.567 0-1.007.198-1.321.596-.314.397-.561 1-.742 1.807v4.95h-2.57v-9.576h2.226l.235 1.861c.229-.674.561-1.198.996-1.572.446-.373.947-.56 1.502-.56Z'
							fill='#F1F3F9'
						>
						</path><path
							d='M334.682 171.155c0 .121-.018.452-.054.994h-5.991c.085.867.32 1.482.706 1.843.386.361.911.542 1.575.542.41 0 .796-.066 1.158-.199a5.4 5.4 0 0 0 1.176-.632l1.068 1.445c-1.074.868-2.286 1.301-3.638 1.301-1.508 0-2.666-.451-3.474-1.355-.809-.903-1.213-2.126-1.213-3.668 0-.975.169-1.848.507-2.619.35-.783.85-1.398 1.502-1.843.663-.446 1.448-.669 2.353-.669 1.363 0 2.425.428 3.185 1.283.76.855 1.14 2.048 1.14 3.577Zm-2.552-.722c0-1.59-.573-2.385-1.719-2.385-.531 0-.947.199-1.249.596-.289.385-.464 1.018-.525 1.897h3.493v-.108Z'
							fill='#F1F3F9'
						>
						</path><path
							d='M342.564 173.504c0 .374.054.651.163.831.109.169.29.296.543.38l-.543 1.698c-.567-.048-1.032-.181-1.394-.397-.349-.217-.621-.554-.814-1.012-.627.963-1.587 1.445-2.878 1.445-.953 0-1.713-.271-2.28-.813-.555-.554-.832-1.27-.832-2.15 0-1.048.38-1.849 1.14-2.403.76-.554 1.852-.831 3.275-.831h1.104v-.47c0-.59-.132-.999-.398-1.228-.265-.229-.705-.344-1.321-.344-.675 0-1.52.169-2.534.506l-.579-1.716c1.195-.47 2.377-.705 3.547-.705 1.304 0 2.263.283 2.878.849.615.555.923 1.386.923 2.494v3.866Zm-4.217 1.102c.724 0 1.291-.355 1.701-1.066v-1.824h-.85c-1.388 0-2.081.518-2.081 1.553 0 .422.102.753.307.994.217.229.525.343.923.343ZM349.738 175.709c-.35.24-.748.421-1.195.542a4.456 4.456 0 0 1-1.303.198c-.989-.012-1.737-.295-2.244-.849-.507-.554-.76-1.367-.76-2.439v-4.77h-1.43v-1.807h1.43v-2.096l2.57-.307v2.403h2.208l-.254 1.807h-1.954v4.716c0 .458.078.789.235.994.157.204.398.307.724.307.326 0 .688-.109 1.086-.326l.887 1.627ZM352.315 166.584v9.576h-2.57v-9.576h2.57Zm-1.303-4.932c.458 0 .832.144 1.122.433.301.278.452.633.452 1.066 0 .434-.151.795-.452 1.085-.29.277-.664.415-1.122.415-.459 0-.833-.138-1.122-.415a1.471 1.471 0 0 1-.435-1.085c0-.433.145-.788.435-1.066.289-.289.663-.433 1.122-.433ZM361.685 166.584l-3.077 9.576h-3.059l-3.131-9.576h2.787l1.901 7.571 1.936-7.571h2.643ZM369.765 171.155c0 .121-.018.452-.054.994h-5.991c.085.867.32 1.482.706 1.843.386.361.911.542 1.575.542.41 0 .796-.066 1.158-.199a5.4 5.4 0 0 0 1.176-.632l1.068 1.445c-1.074.868-2.286 1.301-3.638 1.301-1.508 0-2.666-.451-3.475-1.355-.808-.903-1.212-2.126-1.212-3.668 0-.975.169-1.848.507-2.619.349-.783.85-1.398 1.502-1.843.663-.446 1.448-.669 2.352-.669 1.364 0 2.426.428 3.186 1.283.76.855 1.14 2.048 1.14 3.577Zm-2.552-.722c0-1.59-.573-2.385-1.719-2.385-.531 0-.947.199-1.249.596-.29.385-.465 1.018-.525 1.897h3.493v-.108ZM377.654 163.368c.905 0 1.689.133 2.353.398a5.584 5.584 0 0 1 1.864 1.174l-1.267 1.464a4.852 4.852 0 0 0-1.339-.795 4.003 4.003 0 0 0-1.43-.253c-.555 0-1.001.12-1.339.361-.326.229-.489.56-.489.994 0 .301.067.548.199.741.145.192.393.373.743.542.349.168.874.361 1.574.578 1.243.397 2.172.891 2.787 1.481.615.579.923 1.41.923 2.494 0 .771-.193 1.451-.579 2.041-.386.579-.947 1.036-1.683 1.373-.736.326-1.599.488-2.588.488-.989 0-1.87-.156-2.642-.469a6.093 6.093 0 0 1-1.991-1.283l1.357-1.5c.483.41.983.723 1.502.94a4.61 4.61 0 0 0 1.701.307c.652 0 1.171-.151 1.557-.452.398-.301.597-.723.597-1.265 0-.337-.072-.614-.217-.831-.133-.229-.368-.433-.706-.614-.338-.181-.826-.367-1.466-.56-1.363-.422-2.341-.928-2.932-1.518-.579-.59-.868-1.361-.868-2.313 0-.698.187-1.312.561-1.842.374-.542.892-.958 1.556-1.247.664-.289 1.418-.434 2.262-.434Z'
							fill='#F1F3F9'
						>
						</path><path
							d='M388.621 175.709c-.35.24-.748.421-1.195.542a4.46 4.46 0 0 1-1.303.198c-.989-.012-1.737-.295-2.244-.849-.507-.554-.76-1.367-.76-2.439v-4.77h-1.43v-1.807h1.43v-2.096l2.57-.307v2.403h2.208l-.254 1.807h-1.954v4.716c0 .458.078.789.235.994.157.204.398.307.724.307.326 0 .688-.109 1.086-.326l.887 1.627ZM396.482 176.16h-2.226l-.127-1.283c-.338.53-.748.928-1.23 1.193-.483.253-1.044.379-1.684.379-.868 0-1.532-.259-1.99-.777-.459-.53-.688-1.264-.688-2.204v-6.884h2.57v6.559c0 .506.084.867.253 1.084.169.205.435.307.797.307.687 0 1.272-.415 1.755-1.247v-6.703h2.57v9.576ZM406.196 162.772v13.388h-2.263l-.144-1.174c-.676.976-1.593 1.463-2.751 1.463-1.183 0-2.088-.451-2.715-1.355-.615-.915-.923-2.156-.923-3.722 0-.987.157-1.861.471-2.62.325-.77.784-1.373 1.375-1.806.591-.434 1.273-.651 2.045-.651.893 0 1.671.319 2.335.958v-4.77l2.57.289Zm-4.398 11.762c.374 0 .706-.09.995-.271.29-.193.567-.488.833-.885v-4.282c-.254-.301-.513-.524-.778-.669a1.66 1.66 0 0 0-.887-.235c-.591 0-1.056.259-1.394.777-.326.518-.489 1.319-.489 2.403 0 1.145.145 1.958.435 2.439.302.482.73.723 1.285.723ZM410.162 166.584v9.576h-2.57v-9.576h2.57Zm-1.304-4.932c.459 0 .833.144 1.123.433.301.278.452.633.452 1.066 0 .434-.151.795-.452 1.085-.29.277-.664.415-1.123.415-.458 0-.832-.138-1.122-.415a1.474 1.474 0 0 1-.434-1.085c0-.433.145-.788.434-1.066.29-.289.664-.433 1.122-.433ZM415.604 166.295c1.436 0 2.558.452 3.366 1.355.809.892 1.213 2.132 1.213 3.722 0 1.012-.187 1.903-.561 2.674a4.057 4.057 0 0 1-1.593 1.771c-.687.422-1.502.632-2.443.632-1.436 0-2.564-.445-3.384-1.337-.809-.903-1.213-2.15-1.213-3.74 0-1.012.181-1.897.543-2.656.374-.771.905-1.367 1.593-1.788.7-.422 1.526-.633 2.479-.633Zm0 1.915c-.651 0-1.14.259-1.466.777-.313.506-.47 1.301-.47 2.385 0 1.084.157 1.885.47 2.403.326.506.809.759 1.448.759.64 0 1.116-.253 1.43-.759.326-.518.488-1.319.488-2.403s-.156-1.879-.47-2.385c-.314-.518-.79-.777-1.43-.777ZM421.716 173.36c.435 0 .803.15 1.104.451.302.302.453.663.453 1.084 0 .422-.151.789-.453 1.103a1.501 1.501 0 0 1-1.104.451c-.422 0-.784-.15-1.086-.451a1.542 1.542 0 0 1-.452-1.103c0-.421.151-.782.452-1.084a1.483 1.483 0 0 1 1.086-.451ZM34.596 32.113l4.052 4.046-4.052 4.044-4.052-4.044 4.052-4.046Zm0-9.567 4.052 4.044-4.052 4.046-4.052-4.046 4.052-4.044Zm0-9.569 4.052 4.046-4.052 4.045-4.052-4.045 4.052-4.046Zm0-9.568 4.052 4.046-4.052 4.046-4.052-4.046 4.052-4.046Zm-15.6 44.178h31.125v-5.382h-10.17V0H29.167v42.205h-10.17v5.382ZM51.75 106.936c.713 0 1.374.438 1.645 1.09l.094.227-3.275 1.353-.094-.226a1.753 1.753 0 0 1 .002-1.347 1.757 1.757 0 0 1 1.627-1.097Zm-.523-11.137a1.77 1.77 0 0 1-.96-2.31l.095-.227 3.274 1.354-.094.226a1.795 1.795 0 0 1-1.645 1.09c-.23 0-.456-.044-.67-.133Zm-2.392-3.26a1.756 1.756 0 0 1-1.776-1.768v-.245h3.553v.245c0 .992-.783 1.769-1.777 1.769Zm-2.354 3.234a1.768 1.768 0 0 1-2.315-.958l-.094-.226 3.275-1.354.093.226a1.77 1.77 0 0 1-.959 2.312Zm4.008 17.14h-3.553v-.245c0-.992.783-1.769 1.777-1.769.994 0 1.776.777 1.776 1.769v.245Zm-6.457-4.939a1.768 1.768 0 0 1 2.315-.957 1.77 1.77 0 0 1 .96 2.311l-.095.226-3.274-1.354.094-.226Zm-1.69-13.082a1.758 1.758 0 0 1-1.252.514c-.476 0-.922-.183-1.254-.514l-.174-.173 2.507-2.502.173.173c.69.69.69 1.811 0 2.502Zm-6.408 3.078-.094.226-3.274-1.354.093-.226c.27-.652.932-1.09 1.646-1.09a1.755 1.755 0 0 1 1.627 1.097c.18.438.18.917.002 1.347Zm-3.588-18.814 2.505-2.502.174.173c.69.69.69 1.812 0 2.502a1.76 1.76 0 0 1-1.252.514c-.477 0-.923-.183-1.254-.514l-.173-.173Zm-.542 8.482a1.768 1.768 0 0 1-2.316.958l-.226-.094 1.356-3.269.227.094c.437.18.778.52.96.957.18.437.18.917-.001 1.354Zm-1.015 7.037-.226.094-1.357-3.269.227-.093a1.768 1.768 0 1 1 1.356 3.268Zm-.025 4.424-.173.173-2.506-2.502.173-.172a1.76 1.76 0 0 1 1.255-.514 1.757 1.757 0 0 1 1.766 1.77 1.756 1.756 0 0 1-.515 1.245Zm-4.66-7.35h-.244v-3.547h.244c.994 0 1.772.781 1.772 1.773 0 .992-.778 1.774-1.771 1.774Zm4.611-10.966.174.173c.69.69.69 1.812 0 2.502a1.758 1.758 0 0 1-1.252.514 1.76 1.76 0 0 1-1.254-.514l-.173-.173 2.505-2.502Zm8.605-1.454a1.76 1.76 0 0 1-1.252.514c-.477 0-.923-.183-1.255-.514l-.173-.173 2.506-2.502.174.173c.33.33.513.772.514 1.246.002.477-.18.923-.514 1.256ZM36.4 75.107l2.507-2.502.173.172a1.77 1.77 0 0 1 0 2.503 1.76 1.76 0 0 1-1.252.514c-.477 0-.922-.183-1.254-.514l-.174-.173Zm-.979 8.112a1.758 1.758 0 0 1-1.251.515c-.477 0-.923-.183-1.255-.515l-.173-.172 2.506-2.502.173.173c.692.69.692 1.812 0 2.501Zm18.96 20.632a1.773 1.773 0 0 1 2.315-.957l.226.093-1.356 3.269-.227-.093a1.763 1.763 0 0 1-.953-.955 1.75 1.75 0 0 1-.005-1.357Zm1.047-7.048.226-.094 1.356 3.27-.226.093a1.74 1.74 0 0 1-.67.132 1.772 1.772 0 0 1-1.646-1.09 1.77 1.77 0 0 1 .96-2.31Zm.02-4.436.173-.173 2.506 2.502-.173.172a1.763 1.763 0 0 1-1.255.514 1.758 1.758 0 0 1-1.766-1.77c.002-.473.185-.916.515-1.245Zm3.986 7.334h.245v3.548h-.245c-.837 0-1.773-.762-1.773-1.774 0-1.013.936-1.774 1.773-1.774Zm-3.94 11.028-.174-.172a1.77 1.77 0 0 1 0-2.502 1.756 1.756 0 0 1 1.252-.514c.477 0 .923.182 1.255.514l.172.172-2.505 2.502Zm-6.692-6.218a3.09 3.09 0 0 1-2.005-.735 17.069 17.069 0 0 1-4.151 2.098v7.466a13.455 13.455 0 0 0 6.158 1.488c1.738 0 3.435-.328 5.044-.979a13.324 13.324 0 0 0 4.45-2.947 13.313 13.313 0 0 0 2.953-4.448c.652-1.61.981-3.309.979-5.052a13.348 13.348 0 0 0-.991-5.04 13.349 13.349 0 0 0-2.95-4.433 13.363 13.363 0 0 0-4.443-2.944 13.466 13.466 0 0 0-10.107-.008 13.306 13.306 0 0 0-4.45 2.942 3.093 3.093 0 0 1-2.197.907 3.1 3.1 0 0 1-2.2-.907 3.059 3.059 0 0 1-.909-2.184c0-.826.323-1.602.907-2.185l8.403-8.389 6.268-.92c1.559-.227 3.368-1.585 4.023-3.014l4.763-10.41c.654-1.43.278-3.509-.836-4.62l-2.513-2.509c-1.113-1.112-3.196-1.487-4.628-.834l-10.42 4.753v-9.738H29.168v26.803l-1.578 1.576a13.343 13.343 0 0 0-2.881 4.262 13.3 13.3 0 0 0-1.06 5.225 13.352 13.352 0 0 0 3.948 9.492c.491.49 1.017.937 1.57 1.34a13.415 13.415 0 0 0 7.926 2.578 13.425 13.425 0 0 0 9.497-3.921l.004-.004a3.085 3.085 0 0 1 2.192-.904c.83.001 1.61.324 2.196.91a3.09 3.09 0 0 1 .913 2.194 3.06 3.06 0 0 1-.905 2.186 3.075 3.075 0 0 1-2.187.905Z'
							fill='#F1F3F9'
						>
						</path><path
							d='m27.232 137.838.173-.173a1.759 1.759 0 0 1 1.254-.514 1.758 1.758 0 0 1 1.767 1.77 1.758 1.758 0 0 1-.515 1.246l-.173.173-2.506-2.502Zm4.55-.129a1.768 1.768 0 0 1 2.316-.957c.438.18.778.52.96.957.18.436.18.917 0 1.354l-.094.226-3.275-1.354.094-.226Zm4.676 3.039c.994 0 1.777.777 1.777 1.769v.245h-3.553v-.245c0-.992.783-1.769 1.776-1.769Zm1.416-2.981a1.757 1.757 0 0 1 1.627-1.096c.713 0 1.375.438 1.645 1.09l.094.226-3.274 1.354-.094-.226a1.755 1.755 0 0 1 .002-1.348Zm1.105-12.233a1.752 1.752 0 0 1-.957-.964 1.753 1.753 0 0 1-.002-1.347l.093-.226 3.275 1.354-.094.225a1.794 1.794 0 0 1-1.646 1.091c-.23 0-.456-.045-.67-.133Zm-2.398-3.267a1.757 1.757 0 0 1-1.777-1.77v-.244h3.554v.244c0 .992-.783 1.77-1.777 1.77Zm-1.287 1.044c0 .992-.783 1.769-1.776 1.769a1.756 1.756 0 0 1-1.777-1.769v-.244h3.553v.244Zm-5.33-1.044a1.756 1.756 0 0 1-1.777-1.77v-.244h3.554v.244c0 .992-.783 1.77-1.777 1.77Zm-2.7.047-.094.227-3.274-1.355.094-.226c.27-.652.931-1.09 1.645-1.09a1.77 1.77 0 0 1 1.629 2.444Zm-.529-9.848a3.102 3.102 0 0 1 2.206-.899h.226v6.117h-.226c-.83 0-1.61-.297-2.197-.883a3.035 3.035 0 0 1-.912-2.17 3.012 3.012 0 0 1 .903-2.165Zm-3.688-5.178c-.317.316-.757.49-1.24.49-.486 0-.959-.183-1.266-.49l-.174-.173 2.506-2.502.174.173c.591.59.717 1.786 0 2.502Zm.02 4.697a1.772 1.772 0 0 1-1.646 1.09c-.231 0-.456-.044-.669-.132l-.226-.094 1.356-3.269.226.094c.432.178.77.517.954.954.184.44.186.922.006 1.357Zm-1.014 6.918-.226.094-1.357-3.269.227-.094a1.772 1.772 0 0 1 2.315.957 1.77 1.77 0 0 1-.959 2.312Zm.028 4.451-.172.174-2.507-2.502.173-.173c.34-.34.785-.527 1.251-.527.47 0 .915.187 1.255.526.337.337.524.777.528 1.241.003.471-.184.919-.528 1.261Zm-4.677-7.261h-.245v-3.547h.245c.836 0 1.772.761 1.772 1.774 0 1.012-.935 1.773-1.772 1.773Zm24.729 17.493c.274-.662.92-1.09 1.646-1.09.232 0 .457.044.67.132l.226.094-1.357 3.269-.226-.094a1.755 1.755 0 0 1-.953-.954 1.753 1.753 0 0 1-.006-1.357Zm.093-6.094c.184-.437.522-.776.954-.954l.226-.094 1.356 3.269-.226.093a1.772 1.772 0 0 1-2.315-.957 1.75 1.75 0 0 1 .005-1.357Zm.974-5.391.174-.173 2.505 2.502-.173.173a1.763 1.763 0 0 1-1.254.514 1.758 1.758 0 0 1-1.767-1.77c.002-.474.185-.916.515-1.246Zm4.103 7.327h.245v3.547h-.245c-1.044 0-1.772-.732-1.772-1.773 0-1.042.729-1.774 1.772-1.774Zm-4.057 11.036-.173-.173a1.755 1.755 0 0 1-.515-1.246 1.759 1.759 0 0 1 1.766-1.77c.477 0 .923.183 1.255.514l.173.173-2.506 2.502Zm-11.934 3.042a13.415 13.415 0 0 0 5.225 1.052 13.447 13.447 0 0 0 5.229-1.054 13.377 13.377 0 0 0 4.269-2.868 13.387 13.387 0 0 0 2.882-4.262 13.329 13.329 0 0 0 1.059-5.226 13.35 13.35 0 0 0-3.948-9.492 13.39 13.39 0 0 0-4.271-2.865 13.304 13.304 0 0 0-1.806-.614v-11.619c-.933.156-1.89.239-2.866.239-2.857 0-5.55-.7-7.918-1.938a17.135 17.135 0 0 1-4.16-3.049 13.384 13.384 0 0 0-5.58 3.342 13.321 13.321 0 0 0-2.953 4.448c-.652 1.61-.98 3.31-.978 5.052.002 1.739.336 3.433.99 5.039a13.342 13.342 0 0 0 2.95 4.434 13.338 13.338 0 0 0 4.31 2.889c.045.02.088.051.133.07a13.42 13.42 0 0 0 5.05.998h7.603c.83 0 1.612.309 2.198.895.588.584.91 1.353.91 2.177 0 .827-.321 1.6-.907 2.183a3.085 3.085 0 0 1-2.196.904c-.83 0-1.61-.323-2.198-.907a3.064 3.064 0 0 1-.85-1.582h-4.553c-2.05 0-4.014-.359-5.835-1.02a13.318 13.318 0 0 0 1.055 5.647 13.34 13.34 0 0 0 2.885 4.261 13.42 13.42 0 0 0 4.27 2.866Z'
							fill='#F1F3F9'
						>
						</path><path
							d='M52.058 141.377a15.67 15.67 0 0 0-.53-2.042 17.15 17.15 0 0 1-7.184 6.984c.093 1.964-.483 4.179-1.742 5.608a9.4 9.4 0 0 1-2.651 2.389v-6.455c-1.105.225-2.25.284-3.422.284h-.056c-2.613 0-5.09-.528-7.306-1.574v10.038c1.63 1.328 3.553 2.213 5.61 2.672 1.72.341 3.473.365 5.174.085a14.29 14.29 0 0 0 5.878-2.389c4.95-3.444 7.34-9.709 6.229-15.6ZM34.243 161.961l-.062-.013a16.663 16.663 0 0 1-5.013-2.003V189l10.783-16.516v-10.359a17.21 17.21 0 0 1-5.708-.164ZM59.436 45.101a1.064 1.064 0 0 0 .335 1.099 12.153 12.153 0 0 0 7.874 2.894c6.695 0 12.143-5.439 12.143-12.123 0-3.636-2.964-6.594-6.605-6.594-3.643 0-6.606 2.958-6.606 6.594a7.425 7.425 0 0 1-6.282 7.366c-.41.065-.746.363-.86.764ZM69.973 110.589a2.816 2.816 0 0 0 2.818-2.814 2.816 2.816 0 0 0-2.818-2.814 2.816 2.816 0 0 0-2.818 2.814 2.816 2.816 0 0 0 2.818 2.814ZM69.85 70.953a2.816 2.816 0 0 0-2.818-2.814 2.817 2.817 0 0 0-2.818 2.814 2.817 2.817 0 0 0 2.818 2.813 2.816 2.816 0 0 0 2.818-2.813ZM59.241 116.294a6.316 6.316 0 0 0-1.85 4.163.932.932 0 0 0 .009.194 1.808 1.808 0 0 1-.51 1.515c-.138.14-.3.254-.478.341-.43.212-.917.243-1.37.087a1.78 1.78 0 0 1-1.031-.905 1.024 1.024 0 0 0-1.448-.427l-.003.001a1.023 1.023 0 0 0-.393 1.329 9.96 9.96 0 0 0 1.902 2.652 9.937 9.937 0 0 0 7.069 2.927 9.956 9.956 0 0 0 7.075-2.92 6.332 6.332 0 0 0 0-8.957 6.358 6.358 0 0 0-8.972 0ZM61.028 153.16a4.53 4.53 0 0 0-4.534 4.526 4.53 4.53 0 0 0 4.534 4.527 4.531 4.531 0 0 0 4.534-4.527 4.53 4.53 0 0 0-4.534-4.526ZM63.724 81.351a2.816 2.816 0 0 0-2.819-2.814 2.816 2.816 0 0 0-2.818 2.814 2.816 2.816 0 0 0 2.818 2.814 2.816 2.816 0 0 0 2.819-2.814ZM53.06 30.636c.07.004.14.001.21-.009a1.949 1.949 0 0 1 2.018 1.068c.23.466.262.993.094 1.486-.168.49-.517.886-.984 1.115a1.113 1.113 0 0 0-.464 1.57l.001.002a1.114 1.114 0 0 0 1.444.424 10.771 10.771 0 0 0 2.882-2.058 10.74 10.74 0 0 0 3.181-7.657 10.76 10.76 0 0 0-3.174-7.662c-2.684-2.679-7.05-2.679-9.733 0a6.87 6.87 0 0 0 4.524 11.72ZM54.533 163.559a2.816 2.816 0 0 0-2.818 2.813 2.816 2.816 0 0 0 2.818 2.814 2.816 2.816 0 0 0 2.818-2.814 2.816 2.816 0 0 0-2.818-2.813ZM13.79 82.946a7.053 7.053 0 0 0 0-9.975 4.771 4.771 0 0 1 0-6.75 4.792 4.792 0 0 1 6.763 0 1.142 1.142 0 0 0 1.614 0 1.14 1.14 0 0 0 0-1.612c-5.065-5.056-13.304-5.056-18.369 0-5.064 5.056-5.064 13.281 0 18.337 2.755 2.752 7.238 2.752 9.992 0ZM21.938 142.762a2.817 2.817 0 0 0-2.819-2.814 2.817 2.817 0 0 0-2.818 2.814 2.817 2.817 0 0 0 2.818 2.814 2.817 2.817 0 0 0 2.819-2.814ZM15.406 152.038c-.07-.003-.14 0-.21.01a1.954 1.954 0 0 1-1.647-.55 1.974 1.974 0 0 1-.372-.519 1.929 1.929 0 0 1-.094-1.485c.168-.491.519-.887.984-1.116a1.111 1.111 0 0 0 .465-1.569l-.002-.003a1.111 1.111 0 0 0-1.443-.424 10.787 10.787 0 0 0-2.882 2.059 10.743 10.743 0 0 0-3.181 7.657c0 2.893 1.126 5.613 3.174 7.661 2.683 2.679 7.049 2.679 9.732 0a6.87 6.87 0 0 0-4.524-11.721ZM15.198 28.136a4.53 4.53 0 0 0 4.534-4.526c0-2.5-2.03-4.526-4.534-4.526a4.53 4.53 0 0 0-4.534 4.526 4.53 4.53 0 0 0 4.534 4.526ZM11.334 107.95c0-2.935 2.102-5.4 4.999-5.861a.849.849 0 0 0 .417-1.483 9.674 9.674 0 0 0-6.266-2.302c-5.328 0-9.662 4.327-9.662 9.646 0 2.893 2.358 5.247 5.256 5.247s5.256-2.354 5.256-5.247ZM7.968 56.028a2.816 2.816 0 0 0 2.819-2.813A2.817 2.817 0 0 0 7.968 50.4a2.817 2.817 0 0 0-2.818 2.814 2.816 2.816 0 0 0 2.818 2.813ZM10.296 130.651a2.816 2.816 0 0 0-2.818-2.814 2.817 2.817 0 0 0-2.818 2.814 2.817 2.817 0 0 0 2.818 2.814 2.816 2.816 0 0 0 2.819-2.814Z'
							fill='#F1F3F9'
						>
						</path>
					</svg>
				</div>
			</div>
		</header>

		<section class='summary'>
			<div class='u-container flow-large'>
				<p>
					Animancy creates the web for businesses, content creators, and art creatives. We are here
					to help you take the first steps to building an online presence that tells the world about
					your dream.
				</p>
				<hr class='daimond-hr' />
			</div>
		</section>

		<section class='selected-works'>
			<div class='u-container flow-large'>
				<header>
					<h1>Selected Works.</h1>
				</header>
				<article class='selected-works__case-cards u-flex'>
					<Card
						title='Nyacchii'
						catagory='Digital Art Portfolio'
						body='A portfolio website for Nyacchii, an professional digital artist and Twitch partner. To help with commission pricing and information.'
						href='/case-studies/nyacchii'
					/>
					<Card
						title='Rockstar Renovations'
						catagory='Company Website'
						body="A company website for Rockstar Renovations. An fully insured business, both in general liability and workman's compensation."
						href='/case-studies/rockstar-renovations'
					/>
					<Card
						title='Noasketch'
						catagory='Digital Art Portfolio'
						body='A digital art portfolio for Noa, who is a professional illustrator, designer and story teller residing in the country of Colombia.'
						href='/case-studies/noasketch'
					/>
				</article>
			</div>
		</section>

		<section class='process'>
			<div class='u-container flow-large'>
				<header>
					<h1>The Process.</h1>
				</header>
				<article class='process__content u-flex'>
					<div class='card flow'>
						<header>
							<h3>01. Strategy</h3>
						</header>
						<p>
							We first focus on getting to know about your dream and idea. Sitting with you, talking
							about content helps us to make some bid design decisions before getting to the
							visuals.
						</p>
					</div>
					<div class='card flow'>
						<header>
							<h3>02. Design</h3>
						</header>
						<p>
							After gathering the content, we form a design. We conduct research based on the
							content and provide design mockups to narrow down the website you want.
						</p>
					</div>
					<div class='card flow'>
						<header>
							<h3>03. Development</h3>
						</header>
						<p>
							After careful consideration, we create a website that meets your specs and
							incorporates all requested features, ideas, and concepts. We take pride in our work
							and ensure the highest quality and that your needs are fully met.
						</p>
					</div>
					<div class='card flow'>
						<header>
							<h3>04. Support & Assistance</h3>
						</header>
						<p>
							Lastly, we sit down and talk about how to use your website, such as how to go about
							updating the website, or helping to plan a launch date that works within your favor.
						</p>
					</div>
				</article>
			</div>
		</section>

		<section id='services' class='services'>
			<div class='u-container flow-large'>
				<header>
					<h1>What We Do.</h1>
				</header>
				<article class='flow-large'>
					<div class='detail flow'>
						<header>
							<h3>Web Design and Development</h3>
						</header>
						<p>
							We create the web using the right tools for the right job. Let us create an online
							presence for you, that will take you to the next level, allowing you to take your
							steps with what you are passionate about.
						</p>
					</div>
					<div class='detail flow'>
						<header>
							<p>Coming Soon</p>
							<h3>OBS Graphics & Effects</h3>
						</header>
						<p>
							We use <a class='event-link' href='https://www.nodecg.dev/' target='_blank'>NodeCG</a>
							to create broadcast graphics. This service allows one to run complicated parts of their
							stream smoothly, and we also can provide subtle animations for sub alerts, and social media
							callouts.
						</p>
					</div>
					<div class='detail flow'>
						<header>
							<h3>Data Integration</h3>
						</header>
						<p>
							If you want to display information, redeems, top cheer, etc. Animancy can integrate
							that data using the Twitch API.
						</p>
					</div>

					<hr class='daimond-hr' />
				</article>
			</div>
		</section>
	</main>
</Layout>
