---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
---

<Layout title='Animancy Designs.'>
	<main class='landing'>
		<div>&nbsp;</div>
		<section class='hero'>
			<div data-type='wide' class='container flow-large'>
				<Navbar />
				<header class='flow'>
					<h1>Animancy</h1>
					<p>Web Design by Kaleb B.</p>
				</header>

				<!-- <article class='svg-images'>
					<div>
						<svg
							width='133'
							height='133'
							viewBox='0 0 133 133'
							fill='none'
							xmlns='http://www.w3.org/2000/svg'
						>
							<g clip-path='url(#clip0_123_1193)'>
								<path d='M16.72 0.532776H0.731384V128.557H16.72V0.532776Z' fill='#322E38'></path>
								<path
									d='M1.26493 128.024H16.1864V1.06582H1.26493V128.024ZM17.251 129.089H0.200409V0H17.251V129.089Z'
									fill='#BDBDBD'
								>
								</path>
								<path d='M16.7512 128.557H0.765198V132.287H16.7512V128.557Z' fill='#322E38'></path>
								<path
									d='M1.29877 131.754H16.2203V129.089H1.29877V131.754ZM17.2848 132.82H0.234253V128.024H17.2848V132.82Z'
									fill='#BDBDBD'
								>
								</path>
								<path d='M128.557 0.632721H0.533569V16.619H128.557V0.632721Z' fill='#322E38'></path>
								<path
									d='M1.06452 16.0862H128.024V1.16551H1.06452V16.0862ZM129.088 17.1521H0V0.0999451H129.088V17.1521Z'
									fill='#BDBDBD'
								>
								</path>
								<path d='M132.42 0.632721H128.69V16.619H132.42V0.632721Z' fill='#322E38'></path>
								<path
									d='M129.223 16.0862H131.886V1.16551H129.223V16.0862ZM132.953 17.1521H128.156V0.0999451H132.953V17.1521Z'
									fill='#BDBDBD'
								>
								</path>
								<path
									d='M32.9637 16.6528H32.4327L32.4458 0.59993H32.9793L32.9637 16.6528Z'
									fill='#BDBDBD'
								>
								</path>
								<path
									d='M24.7781 10.0994H24.2445L24.2523 0.469269H24.7859L24.7781 10.0994Z'
									fill='#BDBDBD'
								>
								</path>
								<path
									d='M28.5104 5.41447H27.9795L27.9821 0.469269H28.5156L28.5104 5.41447Z'
									fill='#BDBDBD'
								>
								</path>
								<path
									d='M21.051 5.41447H20.5174L20.5226 0.469269H21.0562L21.051 5.41447Z'
									fill='#BDBDBD'
								>
								</path>
								<path
									d='M40.7641 10.0994H40.2305L40.2384 0.469269H40.7719L40.7641 10.0994Z'
									fill='#BDBDBD'
								>
								</path>
								<path
									d='M44.4964 5.41447H43.9655L43.9681 0.469269H44.5016L44.4964 5.41447Z'
									fill='#BDBDBD'
								>
								</path>
								<path
									d='M37.037 5.41447H36.5034L36.5086 0.469269H37.0422L37.037 5.41447Z'
									fill='#BDBDBD'
								>
								</path>
								<path
									d='M48.8847 16.6659H48.3511L48.3641 0.612946H48.8977L48.8847 16.6659Z'
									fill='#BDBDBD'
								>
								</path>
								<path
									d='M56.7501 10.0994H56.2166L56.2244 0.469269H56.758L56.7501 10.0994Z'
									fill='#BDBDBD'
								>
								</path>
								<path
									d='M60.4851 5.41447H59.9515L59.9541 0.469269H60.4877L60.4851 5.41447Z'
									fill='#BDBDBD'
								>
								</path>
								<path
									d='M53.023 5.41447H52.4921L52.4947 0.469269H53.0282L53.023 5.41447Z'
									fill='#BDBDBD'
								>
								</path>
								<path
									d='M64.8707 16.6794H64.3371L64.3527 0.62648H64.8837L64.8707 16.6794Z'
									fill='#BDBDBD'
								>
								</path>
								<path
									d='M72.7362 10.0994H72.2026L72.2104 0.469269H72.744L72.7362 10.0994Z'
									fill='#BDBDBD'
								>
								</path>
								<path
									d='M76.4711 5.41447H75.9375L75.9427 0.469269H76.4737L76.4711 5.41447Z'
									fill='#BDBDBD'
								>
								</path>
								<path
									d='M69.009 5.41447H68.4781L68.4807 0.469269H69.0143L69.009 5.41447Z'
									fill='#BDBDBD'
								>
								</path>
								<path
									d='M80.8567 16.6924H80.3232L80.3388 0.639496H80.8697L80.8567 16.6924Z'
									fill='#BDBDBD'
								>
								</path>
								<path
									d='M88.7222 10.0994H88.1912L88.199 0.469269H88.73L88.7222 10.0994Z'
									fill='#BDBDBD'
								>
								</path>
								<path
									d='M92.4571 5.41447H91.9236L91.9288 0.469269H92.4597L92.4571 5.41447Z'
									fill='#BDBDBD'
								>
								</path>
								<path
									d='M84.9951 5.41447H84.4641L84.4667 0.469269H85.0003L84.9951 5.41447Z'
									fill='#BDBDBD'
								>
								</path>
								<path
									d='M96.8427 16.7054H96.3118L96.3248 0.652512H96.8555L96.8427 16.7054Z'
									fill='#BDBDBD'
								>
								</path>
								<path
									d='M104.708 10.0994H104.177L104.185 0.469269H104.716L104.708 10.0994Z'
									fill='#BDBDBD'
								>
								</path>
								<path
									d='M108.443 5.41447H107.91L107.915 0.469269H108.448L108.443 5.41447Z'
									fill='#BDBDBD'
								>
								</path>
								<path
									d='M100.984 5.41447H100.45L100.453 0.469269H100.986L100.984 5.41447Z'
									fill='#BDBDBD'
								>
								</path>
								<path
									d='M112.829 16.719H112.298L112.311 0.666046H112.844L112.829 16.719Z'
									fill='#BDBDBD'
								>
								</path>
								<path
									d='M120.694 10.0994H120.163L120.171 0.469269H120.702L120.694 10.0994Z'
									fill='#BDBDBD'
								>
								</path>
								<path
									d='M124.429 5.41447H123.896L123.901 0.469269H124.434L124.429 5.41447Z'
									fill='#BDBDBD'
								>
								</path>
								<path
									d='M116.97 5.41447H116.436L116.441 0.469269H116.972L116.97 5.41447Z'
									fill='#BDBDBD'
								>
								</path>
								<path d='M16.7851 32.4387H0.731384V32.9718H16.7851V32.4387Z' fill='#BDBDBD'></path>
								<path d='M10.4734 24.4145H0.843292V24.935H10.4734V24.4145Z' fill='#BDBDBD'></path>
								<path d='M5.52822 28.3186H0.843292V28.8391H5.52822V28.3186Z' fill='#BDBDBD'></path>
								<path d='M5.52822 20.7706H0.843292V21.2912H5.52822V20.7706Z' fill='#BDBDBD'></path>
								<path d='M10.4734 40.5515H0.843292V41.072H10.4734V40.5515Z' fill='#BDBDBD'></path>
								<path d='M5.52822 44.1953H0.843292V44.7158H5.52822V44.1953Z' fill='#BDBDBD'></path>
								<path d='M5.52822 36.6474H0.843292V37.1679H5.52822V36.6474Z' fill='#BDBDBD'></path>
								<path d='M16.7851 48.3586H0.731384V48.8914H16.7851V48.3586Z' fill='#BDBDBD'></path>
								<path d='M10.4734 56.4282H0.843292V56.9487H10.4734V56.4282Z' fill='#BDBDBD'></path>
								<path d='M5.52822 60.072H0.843292V60.5926H5.52822V60.072Z' fill='#BDBDBD'></path>
								<path d='M5.52822 52.7843H0.843292V53.3049H5.52822V52.7843Z' fill='#BDBDBD'></path>
								<path d='M16.7851 64.3449H0.731384V64.8777H16.7851V64.3449Z' fill='#BDBDBD'></path>
								<path d='M10.4734 72.5652H0.843292V73.0857H10.4734V72.5652Z' fill='#BDBDBD'></path>
								<path d='M5.52822 76.209H0.843292V76.7295H5.52822V76.209Z' fill='#BDBDBD'></path>
								<path d='M5.52822 68.6611H0.843292V69.1816H5.52822V68.6611Z' fill='#BDBDBD'></path>
								<path d='M16.7851 80.3312H0.731384V80.864H16.7851V80.3312Z' fill='#BDBDBD'></path>
								<path d='M10.4734 88.4419H0.843292V88.9624H10.4734V88.4419Z' fill='#BDBDBD'></path>
								<path d='M5.52822 92.0857H0.843292V92.6062H5.52822V92.0857Z' fill='#BDBDBD'></path>
								<path d='M5.52822 84.798H0.843292V85.3186H5.52822V84.798Z' fill='#BDBDBD'></path>
								<path d='M16.7851 96.3175H0.731384V96.8503H16.7851V96.3175Z' fill='#BDBDBD'></path>
								<path d='M10.4734 104.319H0.843292V104.839H10.4734V104.319Z' fill='#BDBDBD'></path>
								<path d='M5.52822 108.223H0.843292V108.743H5.52822V108.223Z' fill='#BDBDBD'></path>
								<path d='M5.52822 100.675H0.843292V101.195H5.52822V100.675Z' fill='#BDBDBD'></path>
								<path d='M16.7851 112.304H0.731384V112.837H16.7851V112.304Z' fill='#BDBDBD'></path>
								<path d='M10.4734 120.456H0.843292V120.976H10.4734V120.456Z' fill='#BDBDBD'></path>
								<path d='M5.52822 124.099H0.843292V124.62H5.52822V124.099Z' fill='#BDBDBD'></path>
								<path d='M5.52822 116.551H0.843292V117.072H5.52822V116.551Z' fill='#BDBDBD'></path>
								<path
									d='M121.871 29.3597H42.0967L35.9803 34.6037V55.9076H65.3912V126.182H86.5932L92.4597 120.663V55.9076H115.9L121.871 51.1227V29.3597Z'
									fill='#BDBDBD'
								>
								</path>
								<path
									d='M72.1584 119.935V49.4008H43.0077V30.4008H120.569V49.4008H91.4186V119.935H72.1584Z'
									fill='#322E38'
								>
								</path>
								<path
									d='M121.871 29.3597H41.7063V50.7021H71.1173V120.976H92.4597V50.7021H121.871V29.3597ZM119.528 31.4419V48.3597H90.3775V118.894H73.1994V48.3597H44.0488V31.4419H119.528Z'
									fill='#322E38'
								>
								</path>
								<path d='M128.638 29.3597H20.6241V30.4008H128.638V29.3597Z' fill='#322E38'></path>
								<path d='M128.638 119.935H20.6241V120.976H128.638V119.935Z' fill='#322E38'></path>
								<path d='M43.0077 21.2912H41.7063V128.264H43.0077V21.2912Z' fill='#322E38'></path>
								<path d='M121.871 21.2912H120.569V128.264H121.871V21.2912Z' fill='#322E38'></path>
								<path
									d='M16.3973 16.8741L0.343567 0.821167L0.720964 0.44429L16.7747 16.4972L16.3973 16.8741Z'
									fill='#BDBDBD'
								>
								</path>
								<path
									d='M0.720964 16.8741L0.343567 16.4972L16.3973 0.44429L16.7747 0.821167L0.720964 16.8741Z'
									fill='#BDBDBD'
								>
								</path>
								<path d='M16.9178 0.632721H16.3868V16.6856H16.9178V0.632721Z' fill='#BDBDBD'></path>
								<path
									d='M37.3103 16.7153V7.28741H47.0627V16.7153L42.1852 21.9864L37.3103 16.7153Z'
									fill='#322E38'
								>
								</path>
								<path
									d='M47.5937 6.75464H36.7767V16.9238L37.0604 17.2301L41.4044 21.9255L42.1852 22.7711L42.9686 21.9255L47.3126 17.2301L47.5937 16.9238V6.75464ZM46.5292 7.82046V16.5066L42.1852 21.2017L37.8438 16.5066V7.82046H46.5292Z'
									fill='#322E38'
								>
								</path>
								<path
									d='M39.1036 15.8804V9.57886H44.5693V15.8804L41.8364 18.8475L39.1036 15.8804Z'
									fill='#322E38'
								>
								</path>
								<path
									d='M39.6241 15.7781L42.0967 18.4487L44.5693 15.7781V9.57887H39.6241V15.7781ZM42.0967 19.246L39.1036 15.9821V9.05832H45.0899V15.9821L42.0967 19.246Z'
									fill='#322E38'
								>
								</path>
								<path
									d='M116.353 16.7153V7.28741H126.105V16.7153L121.23 21.9864L116.353 16.7153Z'
									fill='#322E38'
								>
								</path>
								<path
									d='M126.639 6.75464H115.819V16.9238L116.103 17.2301L120.447 21.9255L121.23 22.7711L122.011 21.9255L126.355 17.2301L126.639 16.9238V6.75464ZM125.572 7.82046V16.5066L121.23 21.2017L116.886 16.5066V7.82046H125.572Z'
									fill='#322E38'
								>
								</path>
								<path
									d='M117.967 15.8804V9.57886H123.953V15.8804L120.96 18.8475L117.967 15.8804Z'
									fill='#322E38'
								>
								</path>
								<path
									d='M118.487 15.7708L121.22 18.468L123.953 15.7708V9.57887H118.487V15.7708ZM121.22 19.2267L117.967 15.9894V9.05832H124.473V15.9894L121.22 19.2267Z'
									fill='#322E38'
								>
								</path>
								<path
									d='M7.82904 34.6838V24.9316H17.2588L22.5293 29.8079L17.2588 34.6838H7.82904Z'
									fill='#322E38'
								>
								</path>
								<path
									d='M17.467 24.3989H7.2981V35.2166H17.467L17.7715 34.9332L22.4669 30.59L23.3128 29.8079L22.4669 29.0255L17.7715 24.6823L17.467 24.3989ZM17.048 25.4647L21.7433 29.8079L17.048 34.1508H8.36262V25.4647H17.048Z'
									fill='#322E38'
								>
								</path>
								<path
									d='M9.95288 33.0035V27.0172H16.4233L19.3904 30.0104L16.4233 33.0035H9.95288Z'
									fill='#322E38'
								>
								</path>
								<path
									d='M10.4734 32.483H16.314L19.0104 29.7501L16.314 27.0172H10.4734V32.483ZM16.5326 33.0035H9.95288V26.4967H16.5326L19.7704 29.7501L16.5326 33.0035Z'
									fill='#322E38'
								>
								</path>
								<path
									d='M7.82904 125.273V115.521H17.2588L22.5293 120.397L17.2588 125.273H7.82904Z'
									fill='#322E38'
								>
								</path>
								<path
									d='M17.467 114.988H7.2981V125.806H17.467L17.7715 125.522L22.4669 121.179L23.3128 120.397L22.4669 119.614L17.7715 115.271L17.467 114.988ZM17.048 116.054L21.7433 120.397L17.048 124.74H8.36262V116.054H17.048Z'
									fill='#322E38'
								>
								</path>
								<path
									d='M9.95288 123.579V117.853H16.4233L19.3904 120.716L16.4233 123.579H9.95288Z'
									fill='#322E38'
								>
								</path>
								<path
									d='M10.4734 123.058H16.314L19.0104 120.456L16.314 117.853H10.4734V123.058ZM16.5326 123.579H9.95288V117.072H16.5326L19.7704 120.325L16.5326 123.579Z'
									fill='#322E38'
								>
								</path>
								<path
									d='M120.049 48.3597H117.967V33.5241H44.0488V31.4419H120.049V48.3597Z'
									fill='#322E38'
								>
								</path>
								<path d='M90.3775 48.3597H88.2953V118.894H90.3775V48.3597Z' fill='#322E38'></path>
							</g>
							<defs>
								<clipPath id='clip0_123_1193'>
									<rect width='133' height='133' fill='white'></rect>
								</clipPath>
							</defs>
						</svg>
					</div>
					<div>
						<svg
							width='165'
							height='131'
							viewBox='0 0 165 131'
							fill='none'
							xmlns='http://www.w3.org/2000/svg'
						>
							<g clip-path='url(#clip0_123_1356)'>
								<path
									d='M152.843 106.833H11.2621C9.36212 106.833 7.82201 105.184 7.82201 103.143V20.9969C7.82201 18.9599 9.36212 17.3068 11.2621 17.3068H152.843C154.742 17.3068 156.283 18.9599 156.283 20.9969V103.143C156.283 105.184 154.742 106.833 152.843 106.833Z'
									fill='#322E38'
								>
								</path>
								<path d='M156.283 0H141.676L116.072 100.741H130.562L156.283 0Z' fill='#322E38'>
								</path>
								<path d='M22.4271 0H7.82201L33.5413 100.741H48.0311L22.4271 0Z' fill='#322E38'>
								</path>
								<path
									d='M155.364 99.8884H8.73912C4.49616 99.8884 1.05644 96.1983 1.05644 91.6483V18.602C1.05644 14.052 4.49616 10.3619 8.73912 10.3619H155.364C159.606 10.3619 163.046 14.052 163.046 18.602V91.6483C163.046 96.1983 159.606 99.8884 155.364 99.8884Z'
									fill='white'
								>
								</path>
								<path
									d='M8.09962 11.4948C4.79888 11.4948 2.11288 14.3768 2.11288 17.9156V92.3347C2.11288 95.8735 4.79888 98.7555 8.09962 98.7555H156.004C159.303 98.7555 161.99 95.8735 161.99 92.3347V17.9156C161.99 14.3768 159.303 11.4948 156.004 11.4948H8.09962ZM156.004 101.021H8.09962C3.63373 101.021 0 97.1245 0 92.3347V17.9156C0 13.1258 3.63373 9.22903 8.09962 9.22903H156.004C160.469 9.22903 164.102 13.1258 164.102 17.9156V92.3347C164.102 97.1245 160.469 101.021 156.004 101.021Z'
									fill='#BDBDBD'
								>
								</path>
								<path
									d='M109.158 131H122.742L130.562 100.741H116.072L115.948 101.176L115.353 98.8146L101.18 99.9696L109.158 131Z'
									fill='#322E38'
								>
								</path>
								<path
									d='M54.9456 131L63.1983 98.8847L49.0735 97.5637L48.155 101.195L48.0311 100.741H33.5413L41.3608 131H54.9456Z'
									fill='#322E38'
								>
								</path>
								<path
									d='M155.492 33.0268H138.556C138.178 33.0268 137.868 32.6946 137.868 32.2887V18.6537C137.868 18.2477 138.178 17.9156 138.556 17.9156H155.492C155.873 17.9156 156.18 18.2477 156.18 18.6537V32.2887C156.18 32.6946 155.873 33.0268 155.492 33.0268Z'
									fill='white'
								>
								</path>
								<path
									d='M139.275 18.6721C138.886 18.6721 138.573 19.0116 138.573 19.4286V31.5138C138.573 31.9308 138.886 32.2703 139.275 32.2703H154.773C155.161 32.2703 155.474 31.9308 155.474 31.5138V19.4286C155.474 19.0116 155.161 18.6721 154.773 18.6721H139.275ZM154.773 33.7832H139.275C138.112 33.7832 137.163 32.7648 137.163 31.5138V19.4286C137.163 18.1776 138.112 17.1591 139.275 17.1591H154.773C155.935 17.1591 156.885 18.1776 156.885 19.4286V31.5138C156.885 32.7648 155.935 33.7832 154.773 33.7832Z'
									fill='#BDBDBD'
								>
								</path>
								<path
									d='M155.492 92.4602H138.556C138.178 92.4602 137.868 92.128 137.868 91.7221V78.0871C137.868 77.6811 138.178 77.349 138.556 77.349H155.492C155.873 77.349 156.18 77.6811 156.18 78.0871V91.7221C156.18 92.128 155.873 92.4602 155.492 92.4602Z'
									fill='white'
								>
								</path>
								<path
									d='M139.275 78.1055C138.886 78.1055 138.573 78.445 138.573 78.862V90.9472C138.573 91.3642 138.886 91.7037 139.275 91.7037H154.773C155.161 91.7037 155.474 91.3642 155.474 90.9472V78.862C155.474 78.445 155.161 78.1055 154.773 78.1055H139.275ZM154.773 93.2166H139.275C138.112 93.2166 137.163 92.1982 137.163 90.9472V78.862C137.163 77.611 138.112 76.5926 139.275 76.5926H154.773C155.935 76.5926 156.885 77.611 156.885 78.862V90.9472C156.885 92.1982 155.935 93.2166 154.773 93.2166Z'
									fill='#BDBDBD'
								>
								</path>
								<path
									d='M131.397 33.0268H118.69C118.308 33.0268 118.002 32.6946 118.002 32.2887V18.6537C118.002 18.2477 118.308 17.9156 118.69 17.9156H131.397C131.779 17.9156 132.086 18.2477 132.086 18.6537V32.2887C132.086 32.6946 131.779 33.0268 131.397 33.0268Z'
									fill='white'
								>
								</path>
								<path
									d='M119.409 18.6721C119.02 18.6721 118.707 19.0116 118.707 19.4286V31.5138C118.707 31.9308 119.02 32.2703 119.409 32.2703H130.679C131.067 32.2703 131.384 31.9308 131.384 31.5138V19.4286C131.384 19.0116 131.067 18.6721 130.679 18.6721H119.409ZM130.679 33.7832H119.409C118.246 33.7832 117.297 32.7648 117.297 31.5138V19.4286C117.297 18.1776 118.246 17.1591 119.409 17.1591H130.679C131.845 17.1591 132.791 18.1776 132.791 19.4286V31.5138C132.791 32.7648 131.845 33.7832 130.679 33.7832Z'
									fill='#BDBDBD'
								>
								</path>
								<path
									d='M131.397 52.8354H118.69C118.308 52.8354 118.002 52.507 118.002 52.0974V38.466C118.002 38.0564 118.308 37.728 118.69 37.728H131.397C131.779 37.728 132.086 38.0564 132.086 38.466V52.0974C132.086 52.507 131.779 52.8354 131.397 52.8354Z'
									fill='white'
								>
								</path>
								<path
									d='M119.409 38.4845C119.02 38.4845 118.707 38.8203 118.707 39.2373V51.3262C118.707 51.7432 119.02 52.0827 119.409 52.0827H130.679C131.067 52.0827 131.384 51.7432 131.384 51.3262V39.2373C131.384 38.8203 131.067 38.4845 130.679 38.4845H119.409ZM130.679 53.5919H119.409C118.246 53.5919 117.297 52.5771 117.297 51.3262V39.2373C117.297 37.99 118.246 36.9715 119.409 36.9715H130.679C131.845 36.9715 132.791 37.99 132.791 39.2373V51.3262C132.791 52.5771 131.845 53.5919 130.679 53.5919Z'
									fill='#BDBDBD'
								>
								</path>
								<path
									d='M131.397 72.6478H118.69C118.308 72.6478 118.002 72.3194 118.002 71.9098V58.2747C118.002 57.8688 118.308 57.5367 118.69 57.5367H131.397C131.779 57.5367 132.086 57.8688 132.086 58.2747V71.9098C132.086 72.3194 131.779 72.6478 131.397 72.6478Z'
									fill='white'
								>
								</path>
								<path
									d='M119.409 58.2931C119.02 58.2931 118.707 58.6326 118.707 59.0496V71.1385C118.707 71.5555 119.02 71.8913 119.409 71.8913H130.679C131.067 71.8913 131.384 71.5555 131.384 71.1385V59.0496C131.384 58.6326 131.067 58.2931 130.679 58.2931H119.409ZM130.679 73.4043H119.409C118.246 73.4043 117.297 72.3858 117.297 71.1385V59.0496C117.297 57.7987 118.246 56.7839 119.409 56.7839H130.679C131.845 56.7839 132.791 57.7987 132.791 59.0496V71.1385C132.791 72.3858 131.845 73.4043 130.679 73.4043Z'
									fill='#BDBDBD'
								>
								</path>
								<path
									d='M131.397 92.4602H118.69C118.308 92.4602 118.002 92.128 118.002 91.7221V78.0871C118.002 77.6811 118.308 77.349 118.69 77.349H131.397C131.779 77.349 132.086 77.6811 132.086 78.0871V91.7221C132.086 92.128 131.779 92.4602 131.397 92.4602Z'
									fill='white'
								>
								</path>
								<path
									d='M119.409 78.1055C119.02 78.1055 118.707 78.445 118.707 78.862V90.9472C118.707 91.3642 119.02 91.7037 119.409 91.7037H130.679C131.067 91.7037 131.384 91.3642 131.384 90.9472V78.862C131.384 78.445 131.067 78.1055 130.679 78.1055H119.409ZM130.679 93.2166H119.409C118.246 93.2166 117.297 92.1982 117.297 90.9472V78.862C117.297 77.611 118.246 76.5926 119.409 76.5926H130.679C131.845 76.5926 132.791 77.611 132.791 78.862V90.9472C132.791 92.1982 131.845 93.2166 130.679 93.2166Z'
									fill='#BDBDBD'
								>
								</path>
								<path
									d='M109.419 33.0268H96.708C96.3295 33.0268 96.0199 32.6946 96.0199 32.2887V18.6537C96.0199 18.2477 96.3295 17.9156 96.708 17.9156H109.419C109.797 17.9156 110.107 18.2477 110.107 18.6537V32.2887C110.107 32.6946 109.797 33.0268 109.419 33.0268Z'
									fill='white'
								>
								</path>
								<path
									d='M97.4304 18.6721C97.0416 18.6721 96.7251 19.0116 96.7251 19.4286V31.5138C96.7251 31.9308 97.0416 32.2703 97.4304 32.2703H108.697C109.085 32.2703 109.402 31.9308 109.402 31.5138V19.4286C109.402 19.0116 109.085 18.6721 108.697 18.6721H97.4304ZM108.697 33.7832H97.4304C96.2642 33.7832 95.3147 32.7648 95.3147 31.5138V19.4286C95.3147 18.1776 96.2642 17.1591 97.4304 17.1591H108.697C109.863 17.1591 110.812 18.1776 110.812 19.4286V31.5138C110.812 32.7648 109.863 33.7832 108.697 33.7832Z'
									fill='#BDBDBD'
								>
								</path>
								<path
									d='M109.419 52.8354H96.708C96.3295 52.8354 96.0199 52.507 96.0199 52.0974V38.466C96.0199 38.0564 96.3295 37.728 96.708 37.728H109.419C109.797 37.728 110.107 38.0564 110.107 38.466V52.0974C110.107 52.507 109.797 52.8354 109.419 52.8354Z'
									fill='white'
								>
								</path>
								<path
									d='M97.4304 38.4845C97.0416 38.4845 96.7251 38.8203 96.7251 39.2373V51.3262C96.7251 51.7432 97.0416 52.0827 97.4304 52.0827H108.697C109.085 52.0827 109.402 51.7432 109.402 51.3262V39.2373C109.402 38.8203 109.085 38.4845 108.697 38.4845H97.4304ZM108.697 53.5919H97.4304C96.2642 53.5919 95.3147 52.5771 95.3147 51.3262V39.2373C95.3147 37.99 96.2642 36.9715 97.4304 36.9715H108.697C109.863 36.9715 110.812 37.99 110.812 39.2373V51.3262C110.812 52.5771 109.863 53.5919 108.697 53.5919Z'
									fill='#BDBDBD'
								>
								</path>
								<path
									d='M109.419 72.6478H96.708C96.3295 72.6478 96.0199 72.3194 96.0199 71.9098V58.2747C96.0199 57.8688 96.3295 57.5367 96.708 57.5367H109.419C109.797 57.5367 110.107 57.8688 110.107 58.2747V71.9098C110.107 72.3194 109.797 72.6478 109.419 72.6478Z'
									fill='white'
								>
								</path>
								<path
									d='M97.4304 58.2931C97.0416 58.2931 96.7251 58.6326 96.7251 59.0496V71.1385C96.7251 71.5555 97.0416 71.8913 97.4304 71.8913H108.697C109.085 71.8913 109.402 71.5555 109.402 71.1385V59.0496C109.402 58.6326 109.085 58.2931 108.697 58.2931H97.4304ZM108.697 73.4043H97.4304C96.2642 73.4043 95.3147 72.3858 95.3147 71.1385V59.0496C95.3147 57.7987 96.2642 56.7839 97.4304 56.7839H108.697C109.863 56.7839 110.812 57.7987 110.812 59.0496V71.1385C110.812 72.3858 109.863 73.4043 108.697 73.4043Z'
									fill='#BDBDBD'
								>
								</path>
								<path
									d='M87.437 33.0268H74.7294C74.3476 33.0268 74.0414 32.6946 74.0414 32.2887V18.6537C74.0414 18.2477 74.3476 17.9156 74.7294 17.9156H87.437C87.8188 17.9156 88.125 18.2477 88.125 18.6537V32.2887C88.125 32.6946 87.8188 33.0268 87.437 33.0268Z'
									fill='white'
								>
								</path>
								<path
									d='M75.4484 18.6721C75.0597 18.6721 74.7432 19.0116 74.7432 19.4286V31.5138C74.7432 31.9308 75.0597 32.2703 75.4484 32.2703H86.718C87.1067 32.2703 87.4232 31.9308 87.4232 31.5138V19.4286C87.4232 19.0116 87.1067 18.6721 86.718 18.6721H75.4484ZM86.718 33.7832H75.4484C74.2822 33.7832 73.3362 32.7648 73.3362 31.5138V19.4286C73.3362 18.1776 74.2822 17.1591 75.4484 17.1591H86.718C87.8842 17.1591 88.8302 18.1776 88.8302 19.4286V31.5138C88.8302 32.7648 87.8842 33.7832 86.718 33.7832Z'
									fill='#BDBDBD'
								>
								</path>
								<path
									d='M87.437 52.8354H74.7294C74.3476 52.8354 74.0414 52.507 74.0414 52.0974V38.466C74.0414 38.0564 74.3476 37.728 74.7294 37.728H87.437C87.8188 37.728 88.125 38.0564 88.125 38.466V52.0974C88.125 52.507 87.8188 52.8354 87.437 52.8354Z'
									fill='white'
								>
								</path>
								<path
									d='M75.4484 38.4845C75.0597 38.4845 74.7432 38.8203 74.7432 39.2373V51.3262C74.7432 51.7432 75.0597 52.0827 75.4484 52.0827H86.718C87.1067 52.0827 87.4232 51.7432 87.4232 51.3262V39.2373C87.4232 38.8203 87.1067 38.4845 86.718 38.4845H75.4484ZM86.718 53.5919H75.4484C74.2822 53.5919 73.3362 52.5771 73.3362 51.3262V39.2373C73.3362 37.99 74.2822 36.9715 75.4484 36.9715H86.718C87.8842 36.9715 88.8302 37.99 88.8302 39.2373V51.3262C88.8302 52.5771 87.8842 53.5919 86.718 53.5919Z'
									fill='#BDBDBD'
								>
								</path>
								<path
									d='M87.437 72.6478H74.7294C74.3476 72.6478 74.0414 72.3194 74.0414 71.9098V58.2747C74.0414 57.8688 74.3476 57.5367 74.7294 57.5367H87.437C87.8188 57.5367 88.125 57.8688 88.125 58.2747V71.9098C88.125 72.3194 87.8188 72.6478 87.437 72.6478Z'
									fill='white'
								>
								</path>
								<path
									d='M75.4484 58.2931C75.0597 58.2931 74.7432 58.6326 74.7432 59.0496V71.1385C74.7432 71.5555 75.0597 71.8913 75.4484 71.8913H86.718C87.1067 71.8913 87.4232 71.5555 87.4232 71.1385V59.0496C87.4232 58.6326 87.1067 58.2931 86.718 58.2931H75.4484ZM86.718 73.4043H75.4484C74.2822 73.4043 73.3362 72.3858 73.3362 71.1385V59.0496C73.3362 57.7987 74.2822 56.7839 75.4484 56.7839H86.718C87.8842 56.7839 88.8302 57.7987 88.8302 59.0496V71.1385C88.8302 72.3858 87.8842 73.4043 86.718 73.4043Z'
									fill='#BDBDBD'
								>
								</path>
								<path
									d='M65.4585 33.0268H52.7474C52.369 33.0268 52.0594 32.6946 52.0594 32.2887V18.6537C52.0594 18.2477 52.369 17.9156 52.7474 17.9156H65.4585C65.8369 17.9156 66.1465 18.2477 66.1465 18.6537V32.2887C66.1465 32.6946 65.8369 33.0268 65.4585 33.0268Z'
									fill='white'
								>
								</path>
								<path
									d='M53.4699 18.6721C53.0811 18.6721 52.7647 19.0116 52.7647 19.4286V31.5138C52.7647 31.9308 53.0811 32.2703 53.4699 32.2703H64.7395C65.1282 32.2703 65.4413 31.9308 65.4413 31.5138V19.4286C65.4413 19.0116 65.1282 18.6721 64.7395 18.6721H53.4699ZM64.7395 33.7832H53.4699C52.3037 33.7832 51.3577 32.7648 51.3577 31.5138V19.4286C51.3577 18.1776 52.3037 17.1591 53.4699 17.1591H64.7395C65.9022 17.1591 66.8517 18.1776 66.8517 19.4286V31.5138C66.8517 32.7648 65.9022 33.7832 64.7395 33.7832Z'
									fill='#BDBDBD'
								>
								</path>
								<path
									d='M65.4585 52.8354H52.7474C52.369 52.8354 52.0594 52.507 52.0594 52.0974V38.466C52.0594 38.0564 52.369 37.728 52.7474 37.728H65.4585C65.8369 37.728 66.1465 38.0564 66.1465 38.466V52.0974C66.1465 52.507 65.8369 52.8354 65.4585 52.8354Z'
									fill='white'
								>
								</path>
								<path
									d='M53.4699 38.4845C53.0811 38.4845 52.7647 38.8203 52.7647 39.2373V51.3262C52.7647 51.7432 53.0811 52.0827 53.4699 52.0827H64.7395C65.1282 52.0827 65.4413 51.7432 65.4413 51.3262V39.2373C65.4413 38.8203 65.1282 38.4845 64.7395 38.4845H53.4699ZM64.7395 53.5919H53.4699C52.3037 53.5919 51.3577 52.5771 51.3577 51.3262V39.2373C51.3577 37.99 52.3037 36.9715 53.4699 36.9715H64.7395C65.9022 36.9715 66.8517 37.99 66.8517 39.2373V51.3262C66.8517 52.5771 65.9022 53.5919 64.7395 53.5919Z'
									fill='#BDBDBD'
								>
								</path>
								<path
									d='M65.4585 72.6478H52.7474C52.369 72.6478 52.0594 72.3194 52.0594 71.9098V58.2747C52.0594 57.8688 52.369 57.5367 52.7474 57.5367H65.4585C65.8369 57.5367 66.1465 57.8688 66.1465 58.2747V71.9098C66.1465 72.3194 65.8369 72.6478 65.4585 72.6478Z'
									fill='white'
								>
								</path>
								<path
									d='M53.4699 58.2931C53.0811 58.2931 52.7647 58.6326 52.7647 59.0496V71.1385C52.7647 71.5555 53.0811 71.8913 53.4699 71.8913H64.7395C65.1282 71.8913 65.4413 71.5555 65.4413 71.1385V59.0496C65.4413 58.6326 65.1282 58.2931 64.7395 58.2931H53.4699ZM64.7395 73.4043H53.4699C52.3037 73.4043 51.3577 72.3858 51.3577 71.1385V59.0496C51.3577 57.7987 52.3037 56.7839 53.4699 56.7839H64.7395C65.9022 56.7839 66.8517 57.7987 66.8517 59.0496V71.1385C66.8517 72.3858 65.9022 73.4043 64.7395 73.4043Z'
									fill='#BDBDBD'
								>
								</path>
								<path
									d='M43.4765 33.0268H30.7689C30.3871 33.0268 30.0809 32.6946 30.0809 32.2887V18.6537C30.0809 18.2477 30.3871 17.9156 30.7689 17.9156H43.4765C43.8583 17.9156 44.1645 18.2477 44.1645 18.6537V32.2887C44.1645 32.6946 43.8583 33.0268 43.4765 33.0268Z'
									fill='white'
								>
								</path>
								<path
									d='M31.4879 18.6721C31.0992 18.6721 30.7827 19.0116 30.7827 19.4286V31.5138C30.7827 31.9308 31.0992 32.2703 31.4879 32.2703H42.7575C43.1462 32.2703 43.4627 31.9308 43.4627 31.5138V19.4286C43.4627 19.0116 43.1462 18.6721 42.7575 18.6721H31.4879ZM42.7575 33.7832H31.4879C30.3217 33.7832 29.3757 32.7648 29.3757 31.5138V19.4286C29.3757 18.1776 30.3217 17.1591 31.4879 17.1591H42.7575C43.9237 17.1591 44.8697 18.1776 44.8697 19.4286V31.5138C44.8697 32.7648 43.9237 33.7832 42.7575 33.7832Z'
									fill='#BDBDBD'
								>
								</path>
								<path
									d='M43.4765 52.8354H30.7689C30.3871 52.8354 30.0809 52.507 30.0809 52.0974V38.466C30.0809 38.0564 30.3871 37.728 30.7689 37.728H43.4765C43.8583 37.728 44.1645 38.0564 44.1645 38.466V52.0974C44.1645 52.507 43.8583 52.8354 43.4765 52.8354Z'
									fill='white'
								>
								</path>
								<path
									d='M31.4879 38.4845C31.0992 38.4845 30.7827 38.8203 30.7827 39.2373V51.3262C30.7827 51.7432 31.0992 52.0827 31.4879 52.0827H42.7575C43.1462 52.0827 43.4627 51.7432 43.4627 51.3262V39.2373C43.4627 38.8203 43.1462 38.4845 42.7575 38.4845H31.4879ZM42.7575 53.5919H31.4879C30.3217 53.5919 29.3757 52.5771 29.3757 51.3262V39.2373C29.3757 37.99 30.3217 36.9715 31.4879 36.9715H42.7575C43.9237 36.9715 44.8697 37.99 44.8697 39.2373V51.3262C44.8697 52.5771 43.9237 53.5919 42.7575 53.5919Z'
									fill='#BDBDBD'
								>
								</path>
								<path
									d='M43.4765 72.6478H30.7689C30.3871 72.6478 30.0809 72.3194 30.0809 71.9098V58.2747C30.0809 57.8688 30.3871 57.5367 30.7689 57.5367H43.4765C43.8583 57.5367 44.1645 57.8688 44.1645 58.2747V71.9098C44.1645 72.3194 43.8583 72.6478 43.4765 72.6478Z'
									fill='white'
								>
								</path>
								<path
									d='M31.4879 58.2931C31.0992 58.2931 30.7827 58.6326 30.7827 59.0496V71.1385C30.7827 71.5555 31.0992 71.8913 31.4879 71.8913H42.7575C43.1462 71.8913 43.4627 71.5555 43.4627 71.1385V59.0496C43.4627 58.6326 43.1462 58.2931 42.7575 58.2931H31.4879ZM42.7575 73.4043H31.4879C30.3217 73.4043 29.3757 72.3858 29.3757 71.1385V59.0496C29.3757 57.7987 30.3217 56.7839 31.4879 56.7839H42.7575C43.9237 56.7839 44.8697 57.7987 44.8697 59.0496V71.1385C44.8697 72.3858 43.9237 73.4043 42.7575 73.4043Z'
									fill='#BDBDBD'
								>
								</path>
								<path
									d='M109.419 92.4602H30.7689C30.3871 92.4602 30.0809 92.128 30.0809 91.7221V78.0871C30.0809 77.6811 30.3871 77.349 30.7689 77.349H109.419C109.797 77.349 110.107 77.6811 110.107 78.0871V91.7221C110.107 92.128 109.797 92.4602 109.419 92.4602Z'
									fill='white'
								>
								</path>
								<path
									d='M31.4879 78.1055C31.0992 78.1055 30.7827 78.445 30.7827 78.862V90.9472C30.7827 91.3642 31.0992 91.7037 31.4879 91.7037H108.697C109.085 91.7037 109.402 91.3642 109.402 90.9472V78.862C109.402 78.445 109.085 78.1055 108.697 78.1055H31.4879ZM108.697 93.2166H31.4879C30.3217 93.2166 29.3757 92.1982 29.3757 90.9472V78.862C29.3757 77.611 30.3217 76.5926 31.4879 76.5926H108.697C109.863 76.5926 110.812 77.611 110.812 78.862V90.9472C110.812 92.1982 109.863 93.2166 108.697 93.2166Z'
									fill='#BDBDBD'
								>
								</path>
								<path
									d='M21.4976 33.0268H8.78763C8.4075 33.0268 8.09962 32.6946 8.09962 32.2887V18.6537C8.09962 18.2477 8.4075 17.9156 8.78763 17.9156H21.4976C21.8777 17.9156 22.1856 18.2477 22.1856 18.6537V32.2887C22.1856 32.6946 21.8777 33.0268 21.4976 33.0268Z'
									fill='white'
								>
								</path>
								<path
									d='M9.50832 18.6721C9.1196 18.6721 8.8038 19.0116 8.8038 19.4286V31.5138C8.8038 31.9308 9.1196 32.2703 9.50832 32.2703H20.7773C21.1656 32.2703 21.4814 31.9308 21.4814 31.5138V19.4286C21.4814 19.0116 21.1656 18.6721 20.7773 18.6721H9.50832ZM20.7773 33.7832H9.50832C8.34318 33.7832 7.39544 32.7648 7.39544 31.5138V19.4286C7.39544 18.1776 8.34318 17.1591 9.50832 17.1591H20.7773C21.9424 17.1591 22.8901 18.1776 22.8901 19.4286V31.5138C22.8901 32.7648 21.9424 33.7832 20.7773 33.7832Z'
									fill='#BDBDBD'
								>
								</path>
								<path
									d='M21.4976 52.8354H8.78763C8.4075 52.8354 8.09962 52.507 8.09962 52.0974V38.466C8.09962 38.0564 8.4075 37.728 8.78763 37.728H21.4976C21.8777 37.728 22.1856 38.0564 22.1856 38.466V52.0974C22.1856 52.507 21.8777 52.8354 21.4976 52.8354Z'
									fill='white'
								>
								</path>
								<path
									d='M9.50832 38.4845C9.1196 38.4845 8.8038 38.8203 8.8038 39.2373V51.3262C8.8038 51.7432 9.1196 52.0827 9.50832 52.0827H20.7773C21.1656 52.0827 21.4814 51.7432 21.4814 51.3262V39.2373C21.4814 38.8203 21.1656 38.4845 20.7773 38.4845H9.50832ZM20.7773 53.5919H9.50832C8.34318 53.5919 7.39544 52.5771 7.39544 51.3262V39.2373C7.39544 37.99 8.34318 36.9715 9.50832 36.9715H20.7773C21.9424 36.9715 22.8901 37.99 22.8901 39.2373V51.3262C22.8901 52.5771 21.9424 53.5919 20.7773 53.5919Z'
									fill='#BDBDBD'
								>
								</path>
								<path
									d='M21.4976 72.6478H8.78763C8.4075 72.6478 8.09962 72.3194 8.09962 71.9098V58.2747C8.09962 57.8688 8.4075 57.5367 8.78763 57.5367H21.4976C21.8777 57.5367 22.1856 57.8688 22.1856 58.2747V71.9098C22.1856 72.3194 21.8777 72.6478 21.4976 72.6478Z'
									fill='white'
								>
								</path>
								<path
									d='M9.50832 58.2931C9.1196 58.2931 8.8038 58.6326 8.8038 59.0496V71.1385C8.8038 71.5555 9.1196 71.8913 9.50832 71.8913H20.7773C21.1656 71.8913 21.4814 71.5555 21.4814 71.1385V59.0496C21.4814 58.6326 21.1656 58.2931 20.7773 58.2931H9.50832ZM20.7773 73.4043H9.50832C8.34318 73.4043 7.39544 72.3858 7.39544 71.1385V59.0496C7.39544 57.7987 8.34318 56.7839 9.50832 56.7839H20.7773C21.9424 56.7839 22.8901 57.7987 22.8901 59.0496V71.1385C22.8901 72.3858 21.9424 73.4043 20.7773 73.4043Z'
									fill='#BDBDBD'
								>
								</path>
								<path
									d='M21.4976 92.4602H8.78763C8.4075 92.4602 8.09962 92.128 8.09962 91.7221V78.0871C8.09962 77.6811 8.4075 77.349 8.78763 77.349H21.4976C21.8777 77.349 22.1856 77.6811 22.1856 78.0871V91.7221C22.1856 92.128 21.8777 92.4602 21.4976 92.4602Z'
									fill='white'
								>
								</path>
								<path
									d='M9.50832 78.1055C9.1196 78.1055 8.8038 78.445 8.8038 78.862V90.9472C8.8038 91.3642 9.1196 91.7037 9.50832 91.7037H20.7773C21.1656 91.7037 21.4814 91.3642 21.4814 90.9472V78.862C21.4814 78.445 21.1656 78.1055 20.7773 78.1055H9.50832ZM20.7773 93.2166H9.50832C8.34318 93.2166 7.39544 92.1982 7.39544 90.9472V78.862C7.39544 77.611 8.34318 76.5926 9.50832 76.5926H20.7773C21.9424 76.5926 22.8901 77.611 22.8901 78.862V90.9472C22.8901 92.1982 21.9424 93.2166 20.7773 93.2166Z'
									fill='#BDBDBD'
								>
								</path>
								<path
									d='M137.693 39.4476V56.068C137.693 56.902 138.322 57.581 139.1 57.581H146.847C147.628 57.581 148.257 58.2563 148.257 59.0902V71.1791C148.257 72.0131 148.887 72.6884 149.664 72.6884H154.594C155.375 72.6884 156.004 72.0131 156.004 71.1791V39.4476C156.004 38.6136 155.375 37.9383 154.594 37.9383H139.1C138.322 37.9383 137.693 38.6136 137.693 39.4476Z'
									fill='#322E38'
								>
								</path>
								<path
									d='M139.1 38.6911C138.711 38.6911 138.398 39.0306 138.398 39.4476V56.068C138.398 56.485 138.711 56.8245 139.1 56.8245H146.847C148.013 56.8245 148.962 57.843 148.962 59.0902V71.1791C148.962 71.5961 149.275 71.9356 149.664 71.9356H154.594C154.983 71.9356 155.299 71.5961 155.299 71.1791V39.4476C155.299 39.0306 154.983 38.6911 154.594 38.6911H139.1ZM154.594 73.4449H149.664C148.501 73.4449 147.552 72.4301 147.552 71.1791V59.0902C147.552 58.6732 147.236 58.3337 146.847 58.3337H139.1C137.937 58.3337 136.988 57.319 136.988 56.068V39.4476C136.988 38.1966 137.937 37.1819 139.1 37.1819H154.594C155.76 37.1819 156.709 38.1966 156.709 39.4476V71.1791C156.709 72.4301 155.76 73.4449 154.594 73.4449Z'
									fill='#322E38'
								>
								</path>
								<path
									d='M82.0533 25.1003L101.373 100.741H115.824L90.2234 0H73.8797L48.2788 100.741H62.7305L82.0533 25.1003Z'
									fill='#322E38'
								>
								</path>
								<path
									d='M59.3386 22.639C57.9798 22.639 56.8721 23.8235 56.8721 25.2812C56.8721 26.7388 57.9798 27.927 59.3386 27.927C60.6974 27.927 61.8017 26.7388 61.8017 25.2812C61.8017 23.8235 60.6974 22.639 59.3386 22.639ZM59.3386 29.4362C57.2023 29.4362 55.4651 27.5727 55.4651 25.2812C55.4651 22.9896 57.2023 21.1261 59.3386 21.1261C61.4749 21.1261 63.2121 22.9896 63.2121 25.2812C63.2121 27.5727 61.4749 29.4362 59.3386 29.4362Z'
									fill='#322E38'
								>
								</path>
								<path
									d='M36.7993 22.639C35.4402 22.639 34.3363 23.8235 34.3363 25.2812C34.3363 26.7388 35.4402 27.927 36.7993 27.927C38.1582 27.927 39.2655 26.7388 39.2655 25.2812C39.2655 23.8235 38.1582 22.639 36.7993 22.639ZM36.7993 29.4362C34.6627 29.4362 32.9258 27.5727 32.9258 25.2812C32.9258 22.9896 34.6627 21.1261 36.7993 21.1261C38.9356 21.1261 40.6728 22.9896 40.6728 25.2812C40.6728 27.5727 38.9356 29.4362 36.7993 29.4362Z'
									fill='#322E38'
								>
								</path>
								<path
									d='M14.9667 42.2816C13.6075 42.2816 12.5015 43.4662 12.5015 44.9238C12.5015 46.3814 13.6075 47.5696 14.9667 47.5696C16.3258 47.5696 17.4318 46.3814 17.4318 44.9238C17.4318 43.4662 16.3258 42.2816 14.9667 42.2816ZM14.9667 49.0789C12.8311 49.0789 11.0928 47.2154 11.0928 44.9238C11.0928 42.6359 12.8311 40.7687 14.9667 40.7687C17.1022 40.7687 18.8402 42.6359 18.8402 44.9238C18.8402 47.2154 17.1022 49.0789 14.9667 49.0789Z'
									fill='#322E38'
								>
								</path>
								<path
									d='M14.9667 62.6807C13.6075 62.6807 12.5015 63.8653 12.5015 65.3229C12.5015 66.7805 13.6075 67.9687 14.9667 67.9687C16.3258 67.9687 17.4318 66.7805 17.4318 65.3229C17.4318 63.8653 16.3258 62.6807 14.9667 62.6807ZM14.9667 69.478C12.8311 69.478 11.0928 67.6145 11.0928 65.3229C11.0928 63.0313 12.8311 61.1678 14.9667 61.1678C17.1022 61.1678 18.8402 63.0313 18.8402 65.3229C18.8402 67.6145 17.1022 69.478 14.9667 69.478Z'
									fill='#322E38'
								>
								</path>
								<path
									d='M18.136 29.4362C17.9557 29.4362 17.7755 29.3624 17.6379 29.2148L11.2992 22.4176C11.024 22.1224 11.024 21.6427 11.2992 21.3475C11.5744 21.0523 12.0199 21.0523 12.2951 21.3475L18.6341 28.1484C18.909 28.4436 18.909 28.9196 18.6341 29.2148C18.4965 29.3624 18.3162 29.4362 18.136 29.4362Z'
									fill='#322E38'
								>
								</path>
								<path
									d='M11.7973 29.4362C11.6171 29.4362 11.4368 29.3624 11.2992 29.2148C11.024 28.9196 11.024 28.4436 11.2992 28.1484L17.6379 21.3475C17.9131 21.0523 18.3589 21.0523 18.6341 21.3475C18.909 21.6427 18.909 22.1224 18.6341 22.4176L12.2951 29.2148C12.1575 29.3624 11.9776 29.4362 11.7973 29.4362Z'
									fill='#322E38'
								>
								</path>
								<path
									d='M39.9711 49.0789C39.7887 49.0789 39.6095 49.0051 39.4723 48.8575L33.1322 42.0602C32.8567 41.765 32.8567 41.2853 33.1322 40.9901C33.4074 40.6949 33.8546 40.6949 34.1299 40.9901L40.4664 47.791C40.7416 48.0862 40.7416 48.5623 40.4664 48.8575C40.3288 49.0051 40.15 49.0789 39.9711 49.0789Z'
									fill='#322E38'
								>
								</path>
								<path
									d='M33.6307 49.0789C33.4522 49.0789 33.2698 49.0051 33.1322 48.8575C32.8567 48.5623 32.8567 48.0862 33.1322 47.791L39.4723 40.9901C39.7475 40.6949 40.1912 40.6949 40.4664 40.9901C40.7416 41.2853 40.7416 41.765 40.4664 42.0602L34.1299 48.8575C33.9922 49.0051 33.8099 49.0789 33.6307 49.0789Z'
									fill='#322E38'
								>
								</path>
								<path
									d='M152.716 51.1564H143.658V49.6472H151.309V45.1157H148.725V43.6027H152.716V51.1564Z'
									fill='white'
								>
								</path>
								<path d='M144.277 48.1416L140.627 50.4036L144.277 52.662V48.1416Z' fill='white'>
								</path>
							</g>
							<defs>
								<clipPath id='clip0_123_1356'>
									<rect width='164.435' height='131' fill='white'></rect>
								</clipPath>
							</defs>
						</svg>
					</div>
					<div>
						<svg
							width='162'
							height='133'
							viewBox='0 0 162 133'
							fill='none'
							xmlns='http://www.w3.org/2000/svg'
						>
							<g clip-path='url(#clip0_123_1473)'>
								<path d='M101.71 1.0555H1.72656V131.895H101.71V1.0555Z' fill='white'></path>
								<path
									d='M3.01519 130.84H100.422V2.11099H3.01519V130.84ZM103.002 132.951H0.434784V0H103.002V132.951Z'
									fill='#BDBDBD'
								>
								</path>
								<path
									d='M45.1997 14.7431V24.2418H9.07712V33.7402H85.8404V14.7431H45.1997Z'
									fill='#BDBDBD'
								>
								</path>
								<path d='M85.8404 42.7123H8.43123V78.0682H85.8404V42.7123Z' fill='#BDBDBD'></path>
								<path d='M85.8404 87.5663H52.9409V126.09H85.8404V87.5663Z' fill='#BDBDBD'></path>
								<path d='M41.3307 87.5663H9.07712V102.343H41.3307V87.5663Z' fill='#BDBDBD'></path>
								<path d='M41.3307 111.841H9.07712V126.09H41.3307V111.841Z' fill='#BDBDBD'></path>
								<path
									d='M49.116 11.5604V21.0972H12.8831V30.6341H89.7599V11.5604H49.116Z'
									fill='#322E38'
								>
								</path>
								<path
									d='M13.5133 30.1186H89.1297V12.0759H49.7462V21.6128H13.5133V30.1186ZM90.39 31.1496H12.253V20.5817H48.4859V11.0449H90.39V31.1496Z'
									fill='#322E38'
								>
								</path>
								<path d='M90.3553 39.2481H12.9052V74.604H90.3553V39.2481Z' fill='#322E38'></path>
								<path
									d='M13.5511 74.0756H89.7094V39.774H13.5511V74.0756ZM91.0012 75.1324H12.2593V38.7198H91.0012V75.1324Z'
									fill='#322E38'
								>
								</path>
								<path d='M90.119 84.1021H57.7804V122.396H90.119V84.1021Z' fill='#322E38'></path>
								<path
									d='M58.4231 121.868H89.4763V84.6305H58.4231V121.868ZM90.7649 122.925H57.1345V83.5763H90.7649V122.925Z'
									fill='#322E38'
								>
								</path>
								<path d='M45.9338 84.1021H13.592V98.5002H45.9338V84.1021Z' fill='#322E38'></path>
								<path
									d='M14.2379 97.9718H45.2879V84.6305H14.2379V97.9718ZM46.5797 99.0285H12.9462V83.5763H46.5797V99.0285Z'
									fill='#322E38'
								>
								</path>
								<path d='M45.9338 107.998H13.592V122.396H45.9338V107.998Z' fill='#322E38'></path>
								<path
									d='M14.2379 121.868H45.2879V108.527H14.2379V121.868ZM46.5797 122.925H12.9462V107.473H46.5797V122.925Z'
									fill='#322E38'
								>
								</path>
								<path
									d='M139.849 60.8838H137.269V53.7518H145.738V55.8628H139.849V60.8838Z'
									fill='#BDBDBD'
								>
								</path>
								<path d='M160.732 14.4619H125.252V43.4856H160.732V14.4619Z' fill='white'></path>
								<path
									d='M125.898 42.9598H160.086V14.9901H125.898V42.9598ZM161.375 44.014H124.606V13.9346H161.375V44.014Z'
									fill='#BDBDBD'
								>
								</path>
								<path
									d='M125.252 14.4957H160.732V3.88045C160.732 2.45689 159.321 1.30293 157.581 1.30293H128.403C126.664 1.30293 125.252 2.45689 125.252 3.88045V14.4957Z'
									fill='#322E38'
								>
								</path>
								<path
									d='M125.898 13.9681H160.086V6.58014C160.086 3.96113 157.481 1.83055 154.28 1.83055H131.702C128.501 1.83055 125.898 3.96113 125.898 6.58014V13.9681ZM161.375 15.0233H124.606V6.58014C124.606 3.37912 127.789 0.775055 131.702 0.775055H154.28C158.193 0.775055 161.375 3.37912 161.375 6.58014V15.0233Z'
									fill='#322E38'
								>
								</path>
								<path
									d='M154.239 19.7737H131.746V38.1759H154.239V19.7737ZM151.658 21.8834V36.0649H134.326V21.8834H151.658Z'
									fill='#322E38'
								>
								</path>
								<path d='M160.732 43.5217H125.252V72.5445H160.732V43.5217Z' fill='white'></path>
								<path
									d='M125.898 72.0162H160.086V44.0475H125.898V72.0162ZM161.375 73.0729H124.606V42.9933H161.375V73.0729Z'
									fill='#BDBDBD'
								>
								</path>
								<path
									d='M148.237 62.8067H138.561V60.6957H145.656V54.8086H148.237V62.8067Z'
									fill='#BDBDBD'
								>
								</path>
								<path
									d='M154.979 67.4926H140.171V60.5333H131.664V48.9345H145.842V55.8938H154.979V67.4926ZM148.363 53.8317V46.8724H129.143V62.8531H137.335V69.5546H157.5V53.8317H148.363Z'
									fill='#322E38'
								>
								</path>
								<path d='M154.239 10.682V4.7166L148.643 7.6993L154.239 10.682Z' fill='white'></path>
								<path d='M145.549 10.682V4.7166L139.957 7.6993L145.549 10.682Z' fill='white'></path>
								<path
									d='M38.1044 90.1748H21.3333C20.6212 90.1748 20.0446 89.7263 20.0446 89.1438C20.0446 88.5613 20.6212 88.1128 21.3333 88.1128H38.1044C38.8164 88.1128 39.3962 88.5613 39.3962 89.1438C39.3962 89.7263 38.8164 90.1748 38.1044 90.1748Z'
									fill='white'
								>
								</path>
								<path
									d='M83.9059 18.0042H74.227C73.5149 18.0042 72.9384 17.4271 72.9384 16.8443C72.9384 16.2616 73.5149 15.6845 74.227 15.6845H83.9059C84.6179 15.6845 85.1945 16.2616 85.1945 16.8443C85.1945 17.4271 84.6179 18.0042 83.9059 18.0042Z'
									fill='white'
								>
								</path>
								<path
									d='M83.9059 22.1283H74.227C73.5149 22.1283 72.9384 21.6798 72.9384 21.0973C72.9384 20.5145 73.5149 20.0663 74.227 20.0663H83.9059C84.6179 20.0663 85.1945 20.5145 85.1945 21.0973C85.1945 21.6798 84.6179 22.1283 83.9059 22.1283Z'
									fill='white'
								>
								</path>
								<path
									d='M83.9059 26.2523H74.227C73.5149 26.2523 72.9384 25.8038 72.9384 25.2213C72.9384 24.6388 73.5149 24.1903 74.227 24.1903H83.9059C84.6179 24.1903 85.1945 24.6388 85.1945 25.2213C85.1945 25.8038 84.6179 26.2523 83.9059 26.2523Z'
									fill='white'
								>
								</path>
								<path
									d='M31.6549 95.0721H21.3333C20.6212 95.0721 20.0446 94.4947 20.0446 93.9122C20.0446 93.3297 20.6212 92.7523 21.3333 92.7523H31.6549C32.367 92.7523 32.9436 93.3297 32.9436 93.9122C32.9436 94.4947 32.367 95.0721 31.6549 95.0721Z'
									fill='white'
								>
								</path>
								<path
									d='M38.1044 113.888H21.3333C20.6212 113.888 20.0446 113.439 20.0446 112.857C20.0446 112.274 20.6212 111.826 21.3333 111.826H38.1044C38.8164 111.826 39.3962 112.274 39.3962 112.857C39.3962 113.439 38.8164 113.888 38.1044 113.888Z'
									fill='white'
								>
								</path>
								<path
									d='M31.6549 118.785H21.3333C20.6212 118.785 20.0446 118.208 20.0446 117.625C20.0446 117.043 20.6212 116.465 21.3333 116.465H31.6549C32.367 116.465 32.9436 117.043 32.9436 117.625C32.9436 118.208 32.367 118.785 31.6549 118.785Z'
									fill='white'
								>
								</path>
								<path
									d='M89.7599 73.9364H87.2393V41.7174H13.5133V39.6554H89.7599V73.9364Z'
									fill='white'
								>
								</path>
								<path
									d='M89.7599 121.878H87.2393V86.5663H58.8831V84.5042H89.7599V121.878Z'
									fill='white'
								>
								</path>
								<path d='M155.937 72.5445H130.048V78.0682H155.937V72.5445Z' fill='white'></path>
								<path
									d='M130.69 77.5398H155.291V73.0729H130.69V77.5398ZM156.583 78.5966H129.402V72.0161H156.583V78.5966Z'
									fill='#BDBDBD'
								>
								</path>
								<path
									d='M142.764 80.0735H143.221C150.244 80.0735 155.937 84.7311 155.937 90.4763C155.937 92.5899 155.149 94.6571 153.678 96.3943L142.991 109.027L132.307 96.3943C130.835 94.6571 130.048 92.5899 130.048 90.4763C130.048 84.7311 135.741 80.0735 142.764 80.0735Z'
									fill='#322E38'
								>
								</path>
								<path
									d='M142.906 84.28H143.079C145.757 84.28 147.928 86.6332 147.928 89.5381C147.928 90.6052 147.628 91.6491 147.068 92.528L142.991 98.9126L138.917 92.528C138.356 91.6491 138.054 90.6052 138.054 89.5381C138.054 86.6332 140.224 84.28 142.906 84.28Z'
									fill='white'
								>
								</path>
							</g>
							<defs>
								<clipPath id='clip0_123_1473'>
									<rect width='161' height='133' fill='white' transform='translate(0.434784)'>
									</rect>
								</clipPath>
							</defs>
						</svg>
					</div>
					<div>
						<svg
							width='191'
							height='133'
							viewBox='0 0 191 133'
							fill='none'
							xmlns='http://www.w3.org/2000/svg'
						>
							<g clip-path='url(#clip0_123_2018)'>
								<path
									d='M4.21178 131.404H94.8686C96.3478 131.404 97.5484 130.259 97.5484 128.846V4.1057C97.5484 2.69284 96.3478 1.54756 94.8686 1.54756H4.21178C2.73171 1.54756 1.53195 2.69284 1.53195 4.1057V128.846C1.53195 130.259 2.73171 131.404 4.21178 131.404Z'
									fill='white'
								>
								</path>
								<path
									d='M7.01889 2.59512C4.59847 2.59512 2.6296 4.47484 2.6296 6.78509V126.166C2.6296 128.477 4.59847 130.356 7.01889 130.356H92.0601C94.4827 130.356 96.4497 128.477 96.4497 126.166V6.78509C96.4497 4.47484 94.4827 2.59512 92.0601 2.59512H7.01889ZM92.0601 132.451H7.01889C3.38826 132.451 0.434814 129.632 0.434814 126.166V6.78509C0.434814 3.31933 3.38826 0.5 7.01889 0.5H92.0601C95.6913 0.5 98.6444 3.31933 98.6444 6.78509V126.166C98.6444 129.632 95.6913 132.451 92.0601 132.451Z'
									fill='#BDBDBD'
								>
								</path>
								<path
									d='M93.1588 111.665H5.58972L16.5631 61.7871L11.0764 10.9423H87.6705L82.1849 61.7871L93.1588 111.665Z'
									fill='white'
								>
								</path>
								<path
									d='M6.26559 111.141H92.4835L81.649 61.8946C81.6356 61.8419 81.6329 61.7871 81.6383 61.7334L87.0649 11.466H11.6845L17.109 61.7334C17.1144 61.7871 17.1117 61.8419 17.0999 61.8946L6.26559 111.141ZM93.1588 112.189H5.58974C5.42493 112.189 5.26789 112.118 5.16391 111.995C5.05994 111.873 5.01867 111.712 5.05297 111.558L16.0084 61.7595L10.5305 10.996C10.515 10.8487 10.5654 10.7013 10.6694 10.5913C10.7731 10.4813 10.921 10.4184 11.0764 10.4184H87.6732C87.826 10.4184 87.9761 10.4813 88.0779 10.5913C88.1824 10.7013 88.2333 10.8487 88.2172 10.996L82.7397 61.7595L93.6948 111.558C93.7297 111.712 93.6895 111.873 93.5849 111.995C93.4804 112.118 93.3223 112.189 93.1588 112.189Z'
									fill='#BDBDBD'
								>
								</path>
								<path d='M87.6705 111.665H11.0764V119.178H87.6705V111.665Z' fill='white'></path>
								<path
									d='M11.625 118.654H87.1239V112.189H11.625V118.654ZM87.6732 119.701H11.0764C10.7731 119.701 10.5279 119.467 10.5279 119.178V111.665C10.5279 111.376 10.7731 111.141 11.0764 111.141H87.6732C87.976 111.141 88.2199 111.376 88.2199 111.665V119.178C88.2199 119.467 87.976 119.701 87.6732 119.701Z'
									fill='#BDBDBD'
								>
								</path>
								<path d='M82.1849 119.346H16.5631V124.24H82.1849V119.346Z' fill='white'></path>
								<path
									d='M17.1117 123.716H81.6356V119.87H17.1117V123.716ZM82.1849 124.764H16.5631C16.2598 124.764 16.0143 124.53 16.0143 124.24V119.346C16.0143 119.057 16.2598 118.823 16.5631 118.823H82.1849C82.4878 118.823 82.7343 119.057 82.7343 119.346V124.24C82.7343 124.53 82.4878 124.764 82.1849 124.764Z'
									fill='#BDBDBD'
								>
								</path>
								<path
									d='M71.3343 90.0454C69.319 90.0459 67.3815 88.9845 66.4219 87.1488L49.3739 54.6018L32.3264 87.1488C30.9707 89.7364 27.6745 90.7844 24.9654 89.4913C22.2548 88.1979 21.1563 85.0519 22.5115 82.4648L44.4666 40.5487C45.3962 38.7739 47.2954 37.6534 49.3739 37.6534C51.4523 37.6534 53.3515 38.7739 54.2812 40.5487L76.2357 82.4648C77.5917 85.0519 76.493 88.1979 73.781 89.4913C72.9958 89.8673 72.157 90.0454 71.3343 90.0454Z'
									fill='#322E38'
								>
								</path>
								<path
									d='M65.9961 13.5611C65.9961 15.8752 63.9782 17.8572 61.5529 17.8572H37.4122C34.988 17.8572 33.0342 15.8752 33.0342 13.5611V8.90374H65.9961V13.5611ZM30.8903 1.48514V14.5728C30.8903 17.4653 33.4862 19.9037 36.5163 19.9037H62.8339C65.8648 19.9037 68.1399 17.4653 68.1399 14.5728V1.48514H30.8903Z'
									fill='white'
								>
								</path>
								<path
									d='M33.5714 9.37112V13.5611C33.5714 15.5823 35.2946 17.2272 37.4122 17.2272H61.5529C63.6697 17.2272 65.3931 15.5823 65.3931 13.5611V9.37112H33.5714ZM61.5529 18.2747H37.4122C34.6892 18.2747 32.4741 16.1604 32.4741 13.5611V8.84721C32.4741 8.55789 32.7195 8.32356 33.0229 8.32356H65.9425C66.2453 8.32356 66.4918 8.55789 66.4918 8.84721V13.5611C66.4918 16.1604 64.2753 18.2747 61.5529 18.2747ZM31.3769 2.03872V14.5726C31.3769 17.1474 33.7306 19.3223 36.5163 19.3223H62.8339C65.5003 19.3223 67.5876 17.2359 67.5876 14.5726V2.03872H31.3769ZM62.8339 20.3698H36.5163C33.1354 20.3698 30.2795 17.7153 30.2795 14.5726V1.51482C30.2795 1.22549 30.525 0.991165 30.8281 0.991165H68.1372C68.4401 0.991165 68.6866 1.22549 68.6866 1.51482V14.5726C68.6866 17.8237 66.1137 20.3698 62.8339 20.3698Z'
									fill='#BDBDBD'
								>
								</path>
								<path
									d='M16.5626 95.2653C16.4811 95.2653 16.398 95.2479 16.3198 95.211C16.0481 95.0829 15.9366 94.7687 16.0711 94.5093L51.1855 26.6843C51.3195 26.4255 51.6483 26.3185 51.9205 26.4469C52.1923 26.5754 52.3038 26.8895 52.1692 27.1486L17.0549 94.9739C16.9595 95.1583 16.7649 95.2653 16.5626 95.2653Z'
									fill='#322E38'
								>
								</path>
								<path
									d='M28.8153 94.3039C28.7338 94.3039 28.6508 94.2865 28.5725 94.2497C28.3008 94.1213 28.1893 93.8071 28.3238 93.5477L59.4144 33.4931C59.5484 33.2342 59.878 33.1278 60.1514 33.2557C60.422 33.3841 60.5346 33.698 60.3979 33.9574L29.3076 94.0123C29.2122 94.197 29.0176 94.3039 28.8153 94.3039Z'
									fill='#322E38'
								>
								</path>
								<path
									d='M76.9164 85.662C76.7154 85.662 76.5198 85.5551 76.4233 85.3704L46.2476 27.1487C46.1131 26.8895 46.2245 26.5754 46.496 26.447C46.7683 26.318 47.0963 26.425 47.2311 26.6844L77.4068 84.9061C77.5408 85.1655 77.4309 85.4794 77.1602 85.6078C77.0799 85.6446 76.9968 85.662 76.9164 85.662Z'
									fill='#322E38'
								>
								</path>
								<path
									d='M69.6002 94.3039C69.3992 94.3039 69.2038 94.197 69.11 94.0123L51.1855 59.3919C51.0509 59.1325 51.1624 58.8184 51.4341 58.69C51.7061 58.5618 52.0352 58.6685 52.1692 58.9274L70.0935 93.5477C70.2275 93.8071 70.115 94.1212 69.8443 94.2497C69.7663 94.2865 69.6835 94.3039 69.6002 94.3039Z'
									fill='#322E38'
								>
								</path>
								<path
									d='M56.0665 67.9968H42.35C42.0467 67.9968 41.8015 67.7747 41.8015 67.4851C41.8015 67.1956 42.0467 66.9735 42.35 66.9735H56.0665C56.3698 66.9735 56.6153 67.1956 56.6153 67.4851C56.6153 67.7747 56.3698 67.9968 56.0665 67.9968Z'
									fill='#322E38'
								>
								</path>
								<path
									d='M22.0495 62.3689H16.5631C16.2598 62.3689 16.0143 62.1468 16.0143 61.8572C16.0143 61.5677 16.2598 61.3456 16.5631 61.3456H22.0495C22.3529 61.3456 22.5984 61.5677 22.5984 61.8572C22.5984 62.1468 22.3529 62.3689 22.0495 62.3689Z'
									fill='#BDBDBD'
								>
								</path>
								<path
									d='M82.402 62.3689H71.4281C71.1253 62.3689 70.8814 62.1468 70.8814 61.8572C70.8814 61.5677 71.1253 61.3456 71.4281 61.3456H82.402C82.7048 61.3456 82.9514 61.5677 82.9514 61.8572C82.9514 62.1468 82.7048 62.3689 82.402 62.3689Z'
									fill='#BDBDBD'
								>
								</path>
								<path
									d='M172.372 75.3179C171.916 75.3179 171.547 74.9662 171.547 74.5323C171.547 55.742 155.535 40.4551 135.849 40.4551C135.396 40.4551 135.026 40.1033 135.026 39.6695C135.026 39.2359 135.396 38.8839 135.849 38.8839C156.44 38.8839 173.195 54.8756 173.195 74.5323C173.195 74.9662 172.825 75.3179 172.372 75.3179Z'
									fill='#BDBDBD'
								>
								</path>
								<path
									d='M161.548 75.3179C161.093 75.3179 160.725 74.9662 160.725 74.5323C160.725 61.4392 149.567 50.7869 135.849 50.7869C135.396 50.7869 135.026 50.4349 135.026 50.0013C135.026 49.5674 135.396 49.2157 135.849 49.2157C150.472 49.2157 162.371 60.5728 162.371 74.5323C162.371 74.9662 162.001 75.3179 161.548 75.3179Z'
									fill='#BDBDBD'
								>
								</path>
								<path
									d='M131.598 105.592H177.335C184.195 105.592 189.756 100.283 189.756 93.734C189.756 87.1849 184.195 81.8757 177.335 81.8757H131.598L117.441 92.076C116.286 92.9072 116.286 94.5607 117.441 95.3919L131.598 105.592Z'
									fill='white'
								>
								</path>
								<path
									d='M131.783 105.069H177.335C183.882 105.069 189.209 99.9843 189.209 93.734C189.209 87.4839 183.882 82.3994 177.335 82.3994H131.783L117.77 92.4938C117.36 92.7903 117.125 93.2425 117.125 93.734C117.125 94.2262 117.36 94.6777 117.77 94.9734L131.783 105.069ZM177.335 106.116H131.598C131.48 106.116 131.362 106.079 131.269 106.01L117.111 95.8096C116.422 95.3139 116.026 94.5574 116.026 93.7345C116.026 92.9105 116.422 92.1541 117.111 91.658L131.269 81.4577C131.362 81.3892 131.48 81.3518 131.598 81.3518H177.335C184.487 81.3518 190.305 86.9063 190.305 93.734C190.305 100.562 184.487 106.116 177.335 106.116Z'
									fill='#322E38'
								>
								</path>
								<path
									d='M177.335 81.5549H170.777V105.857H177.335C184.195 105.857 190.072 100.357 190.072 93.8079V93.6572C190.072 87.1079 184.195 81.5549 177.335 81.5549Z'
									fill='#322E38'
								>
								</path>
								<path
									d='M131.598 106.116C131.542 106.116 131.483 106.107 131.424 106.089C131.137 105.997 130.982 105.7 131.078 105.426L133.147 99.5504L128.801 94.0496C128.656 93.866 128.653 93.6137 128.793 93.4277L133.147 87.6722L131.081 82.0489C130.982 81.7759 131.132 81.4771 131.416 81.3815C131.706 81.2848 132.016 81.4301 132.116 81.7023L134.278 87.5837C134.337 87.7451 134.31 87.9247 134.203 88.0633L129.921 93.7273L134.198 99.1398C134.308 99.278 134.337 99.4583 134.281 99.622L132.118 105.759C132.043 105.978 131.829 106.116 131.598 106.116Z'
									fill='#BDBDBD'
								>
								</path>
								<path
									d='M164.153 99.9735H133.975C133.673 99.9735 133.429 99.7515 133.429 99.4619C133.429 99.1723 133.673 98.9503 133.975 98.9503H164.153C164.456 98.9503 164.702 99.1723 164.702 99.4619C164.702 99.7515 164.456 99.9735 164.153 99.9735Z'
									fill='#BDBDBD'
								>
								</path>
								<path
									d='M164.153 88.4619H133.975C133.673 88.4619 133.429 88.2398 133.429 87.9503C133.429 87.6607 133.673 87.4386 133.975 87.4386H164.153C164.456 87.4386 164.702 87.6607 164.702 87.9503C164.702 88.2398 164.456 88.4619 164.153 88.4619Z'
									fill='#BDBDBD'
								>
								</path>
								<path
									d='M164.078 106.264C163.775 106.264 163.542 106.03 163.542 105.74V81.648C163.542 81.3584 163.775 81.1241 164.078 81.1241C164.381 81.1241 164.614 81.3584 164.614 81.648V105.74C164.614 106.03 164.381 106.264 164.078 106.264Z'
									fill='#BDBDBD'
								>
								</path>
								<path
									d='M170.777 106.264C170.475 106.264 170.241 106.03 170.241 105.74V81.648C170.241 81.3584 170.475 81.1241 170.777 81.1241C171.08 81.1241 171.313 81.3584 171.313 81.648V105.74C171.313 106.03 171.08 106.264 170.777 106.264Z'
									fill='#BDBDBD'
								>
								</path>
								<path
									d='M119.593 97.3603C119.29 97.3603 119.057 97.126 119.057 96.8364V90.5516C119.057 90.262 119.29 90.028 119.593 90.028C119.896 90.028 120.129 90.262 120.129 90.5516V96.8364C120.129 97.126 119.896 97.3603 119.593 97.3603Z'
									fill='#322E38'
								>
								</path>
								<path
									d='M153.911 96.8365H144.494C142.674 96.8365 141.2 95.4298 141.2 93.6941C141.2 91.9586 142.674 90.5516 144.494 90.5516H153.911C155.73 90.5516 157.204 91.9586 157.204 93.6941C157.204 95.4298 155.73 96.8365 153.911 96.8365Z'
									fill='#BDBDBD'
								>
								</path>
								<path
									d='M131.783 105.069H177.335C183.882 105.069 189.209 99.9843 189.209 93.734C189.209 87.4839 183.882 82.3994 177.335 82.3994H131.783L117.77 92.4938C117.36 92.7903 117.125 93.2425 117.125 93.734C117.125 94.2262 117.36 94.6777 117.77 94.9734L131.783 105.069ZM177.335 106.116H131.598C131.48 106.116 131.362 106.079 131.269 106.01L117.111 95.8096C116.422 95.3139 116.026 94.5574 116.026 93.7345C116.026 92.9105 116.422 92.1541 117.111 91.658L131.269 81.4577C131.362 81.3892 131.48 81.3518 131.598 81.3518H177.335C184.487 81.3518 190.305 86.9063 190.305 93.734C190.305 100.562 184.487 106.116 177.335 106.116Z'
									fill='#322E38'
								>
								</path>
								<path
									d='M186.026 94.7815C185.42 94.7815 184.927 94.3126 184.927 93.7339C184.927 89.7143 181.502 86.444 177.292 86.444C176.684 86.444 176.193 85.9751 176.193 85.3965C176.193 84.8181 176.684 84.3492 177.292 84.3492C182.713 84.3492 187.122 88.5588 187.122 93.7339C187.122 94.3126 186.631 94.7815 186.026 94.7815Z'
									fill='white'
								>
								</path>
								<path
									d='M97.9263 69.5897L130.266 38.7183C135.117 34.0873 135.117 26.5792 130.266 21.9482C125.413 17.3172 117.548 17.3172 112.697 21.9482L80.3573 52.8196L77.9026 69.5892C77.7016 70.9555 78.9263 72.1248 80.3573 71.934L97.9263 69.5897Z'
									fill='white'
								>
								</path>
								<path
									d='M112.529 21.7871L107.863 26.2408L125.711 43.2764L130.374 38.823C135.227 34.192 135.302 26.5081 130.449 21.8771L130.339 21.7704C125.486 17.1394 117.379 17.1563 112.529 21.7871Z'
									fill='#322E38'
								>
								</path>
								<path
									d='M97.9262 70.1134C97.7226 70.1134 97.5296 70.007 97.4332 69.8228L94.5443 64.2724L87.3972 63.3169C87.1587 63.2852 86.9684 63.1087 86.9309 62.8815L85.7464 55.8735L80.1188 53.2916C79.8454 53.1662 79.7302 52.8531 79.8615 52.5924C79.9928 52.332 80.3224 52.2215 80.5958 52.3473L86.478 55.048C86.6415 55.1222 86.754 55.2675 86.7835 55.4366L87.9492 62.3333L94.9838 63.2734C95.1633 63.2975 95.3188 63.4044 95.3992 63.5589L98.4167 69.3564C98.5507 69.6156 98.4408 69.9297 98.1701 70.0586C98.0897 70.096 98.0066 70.1134 97.9262 70.1134Z'
									fill='#BDBDBD'
								>
								</path>
								<path
									d='M95.0615 64.169C94.9195 64.169 94.7801 64.1179 94.6729 64.0155C94.4585 63.8109 94.4585 63.4796 94.6729 63.275L116.01 42.906C116.224 42.7016 116.573 42.7016 116.787 42.906C117.001 43.1107 117.001 43.4422 116.787 43.6469L95.4474 64.0155C95.3402 64.1179 95.2009 64.169 95.0615 64.169Z'
									fill='#BDBDBD'
								>
								</path>
								<path
									d='M86.5263 56.0219C86.3842 56.0219 86.2449 55.9707 86.1377 55.8684C85.9233 55.6637 85.9233 55.3322 86.1377 55.1278L107.474 34.7583C107.689 34.5537 108.037 34.5537 108.252 34.7583C108.466 34.963 108.466 35.2945 108.252 35.4989L86.9122 55.8684C86.805 55.9707 86.6656 56.0219 86.5263 56.0219Z'
									fill='#BDBDBD'
								>
								</path>
								<path
									d='M121.053 48.2444C120.914 48.2444 120.775 48.1932 120.667 48.0909L102.82 31.0554C102.605 30.8508 102.605 30.5193 102.82 30.3149C103.034 30.1102 103.382 30.1102 103.594 30.3149L121.442 47.3503C121.656 47.5549 121.656 47.8862 121.442 48.0909C121.335 48.1932 121.195 48.2444 121.053 48.2444Z'
									fill='#BDBDBD'
								>
								</path>
								<path
									d='M125.711 43.8001C125.569 43.8001 125.429 43.7489 125.322 43.6469L107.474 26.6112C107.26 26.4065 107.26 26.0753 107.474 25.8706C107.689 25.666 108.037 25.666 108.252 25.8706L126.097 42.906C126.311 43.1107 126.311 43.4422 126.097 43.6469C125.989 43.7489 125.85 43.8001 125.711 43.8001Z'
									fill='#BDBDBD'
								>
								</path>
								<path
									d='M83.0344 71.9463C82.8924 71.9463 82.753 71.8954 82.6459 71.793L77.991 67.3488C77.7766 67.1441 77.7766 66.8129 77.991 66.6082C78.2054 66.4035 78.5511 66.4035 78.7655 66.6082L83.4203 71.0525C83.6347 71.2568 83.6347 71.5884 83.4203 71.793C83.3131 71.8954 83.1738 71.9463 83.0344 71.9463Z'
									fill='#322E38'
								>
								</path>
								<path
									d='M107.217 48.338L100.558 54.6955C99.2715 55.9226 97.1866 55.9226 95.9003 54.6955C94.6167 53.4683 94.6167 51.4786 95.9003 50.2515L102.562 43.8937C103.846 42.6666 105.931 42.6666 107.217 43.8937C108.501 45.1209 108.501 47.1106 107.217 48.338Z'
									fill='#BDBDBD'
								>
								</path>
								<path
									d='M80.8745 53.0659L78.4439 69.6621C78.3742 70.1492 78.543 70.6278 78.9075 70.9752C79.2693 71.3234 79.7731 71.4835 80.2823 71.4155L97.6663 69.095L129.878 38.3479C134.506 33.9287 134.506 26.7381 129.878 22.3184C125.247 17.8997 117.714 17.8997 113.086 22.3184L80.8745 53.0659ZM80.0491 72.4784C79.3309 72.4784 78.6476 72.2103 78.1304 71.7163C77.5194 71.1336 77.238 70.3321 77.3586 69.5168L79.8133 52.7469C79.8294 52.6344 79.8856 52.5295 79.9687 52.4492L112.309 21.5778C117.366 16.7496 125.596 16.7506 130.652 21.5778C133.102 23.9162 134.452 27.0256 134.452 30.3333C134.452 33.6404 133.102 36.7501 130.652 39.0885L98.3122 69.9599C98.2291 70.0402 98.1192 70.0924 98.0013 70.1083L80.435 72.4528C80.3037 72.4702 80.1751 72.4784 80.0491 72.4784Z'
									fill='#322E38'
								>
								</path>
								<path
									d='M127.627 25.5145C127.345 25.5145 127.064 25.4122 126.85 25.2078C123.872 22.3654 119.027 22.3665 116.05 25.2078C115.621 25.6168 114.927 25.6168 114.498 25.2078C114.07 24.7985 114.07 24.1357 114.498 23.7264C118.333 20.0685 124.569 20.0675 128.401 23.7264C128.83 24.1357 128.83 24.7985 128.401 25.2078C128.187 25.4122 127.908 25.5145 127.627 25.5145Z'
									fill='white'
								>
								</path>
							</g>
							<defs>
								<clipPath id='clip0_123_2018'>
									<rect width='190' height='132' fill='white' transform='translate(0.434814 0.5)'>
									</rect>
								</clipPath>
							</defs>
						</svg>
					</div>
				</article> -->
			</div>
		</section>

		<section class='statement'>
			<div data-type='wide' class='container flow-large'>
				<div class='summary'>
					<p>
						<i>
							Creating the web for businesses, content creators, and art creatives. We are here to
							help you take the first steps to building an online presence that tells the world
							about your dream.
						</i>
					</p>
				</div>
			</div>
		</section>

		<section class='process'>
			<div data-type='wide' class='container flow'>
				<header>
					<h2 class='header-w-line'>How we work.</h2>
				</header>
				<article class='process__content'>
					<div class='process flow'>
						<header>
							<h3>01. Strategy</h3>
						</header>
						<p>
							We first focus on getting to know about your dream and idea. Sitting with you, talking
							about content helps us to make some bid design decisions before getting to the
							visuals.
						</p>
					</div>
					<div class='process flow'>
						<header>
							<h3>02. Design</h3>
						</header>
						<p>
							After gathering the content, we form a design. We conduct research based on the
							content and provide design mockups to narrow down the website you want.
						</p>
					</div>
					<div class='process flow'>
						<header>
							<h3>03. Development</h3>
						</header>
						<p>
							After careful consideration, we create a website that meets your specs and
							incorporates all requested features, ideas, and concepts. We take pride in our work
							and ensure the highest quality.
						</p>
					</div>
					<div class='process flow'>
						<header>
							<h3>04. Support & Assistance</h3>
						</header>
						<p>
							Lastly, we sit down and talk about how to use your website, such as how to go about
							updating the website, or helping to plan a launch date that works within your favor.
						</p>
					</div>
				</article>
			</div>
		</section>

		<section id='services' class='services'>
			<div data-type='wide' class='container flow'>
				<header>
					<h2 class='header-w-line'>What we can do.</h2>
				</header>
				<article class='services__content'>
					<div class='detail flow'>
						<header>
							<h3>Web Design & Development</h3>
						</header>
						<p>
							We create the web using the right tools for the right job. Let us create an online
							presence for you, that will take you to the next level, allowing you to take your
							steps with what you are passionate about.
						</p>
					</div>
					<div class='detail flow'>
						<header>
							<p>Coming Soon</p>
							<h3>OBS Graphics & Effects</h3>
						</header>
						<p>
							We use <a class='event-link' href='https://www.nodecg.dev/' target='_blank'>NodeCG</a>
							 to create broadcast graphics. This service allows one to run complicated parts of
							their stream smoothly, and we also can provide subtle animations for sub alerts, and
							social media callouts.
						</p>
					</div>

					<div class='detail flow'>
						<header>
							<h3>Data Integration</h3>
						</header>
						<p>
							If you want to display information, redeems, top cheer, etc. Animancy can integrate
							that data using the Twitch API.
						</p>
					</div>
				</article>

				<div class='margin-block-start-24'>
					<a type='button' href='#'>Uncover More <i class='fa-solid fa-arrow-right'></i></a>
				</div>
			</div>
		</section>

		<section id='demos' class='demos'>
			<div data-type='wide' class='container flow'>
				<header>
					<h2 class='header-w-line'>Take a Look.</h2>
				</header>

				<article class='showcase'>
					<div class='showcase__content'>
						<!-- Showcase content -->
						<div class='showcase__img'>
							<img src='/img/6.jpg' />
						</div>
						<div class='showcase__img'>
							<img src='/img/10.jpg' />
						</div>
						<div class='showcase__img'>
							<img src='/img/16.jpg' />
						</div>
						<div class='showcase__img'>
							<img src='/img/20.jpg' />
						</div>
					</div>
				</article>

				<article class='lang-stack'>
					<div>
						<i class='fa-brands fa-xl fa-html5'></i>
					</div>
					<div>
						<i class='fa-brands fa-xl fa-sass'></i>
					</div>
					<div>
						<i class='fa-brands fa-xl fa-js'></i>
					</div>
					<div>
						<i class='fa-brands fa-xl fa-react'></i>
					</div>
					<div>
						<i class='fa-brands fa-xl fa-figma'></i>
					</div>
				</article>

				<div class='margin-block-start-24'>
					<a type='button' href='/case-studies'>
						See Case Studies <i class='fa-solid fa-arrow-right'></i>
					</a>
				</div>
			</div>
		</section>

		<section class='conculsion'>
			<div data-type='wide' class='container flow'>
				<header>
					<h2>Let's get started.</h2>
				</header>

				<div class='conculsion__images'>
					<div>
						<svg
							width='405'
							height='206'
							viewBox='0 0 405 206'
							fill='none'
							xmlns='http://www.w3.org/2000/svg'
						>
							<rect width='405' height='206' rx='3' fill='#596067'></rect>
							<path
								d='M280.303 159.959C235.391 186.403 172.706 185.633 129.869 158.098L72.4456 121.042L226.558 30.3696L283.981 67.4257C326.947 95.175 325.343 133.472 280.303 159.959ZM240.224 134.114C263.086 120.678 264.263 102.706 243.261 89.1844L226.943 78.6581L150.593 123.588L166.911 134.114C187.934 147.593 217.49 147.464 240.224 134.092V134.114Z'
								fill='#DAD7D3'
							>
							</path>
							<path
								d='M165.957 135.995C146.807 135.995 127.791 130.961 112.244 120.925L72.2313 95.1328C72.068 95.0331 71.933 94.893 71.8394 94.7261C71.7458 94.5592 71.6967 94.3711 71.6967 94.1798C71.6967 93.9884 71.7458 93.8003 71.8394 93.6334C71.933 93.4665 72.068 93.3265 72.2313 93.2267L179.538 30.1472C179.714 30.036 179.918 29.9771 180.126 29.9771C180.334 29.9771 180.538 30.036 180.714 30.1472L220.698 55.9389C235.276 65.3353 243.169 77.0399 242.915 88.9083C242.662 101.119 233.847 112.958 218.092 122.22C202.234 131.334 184.247 136.086 165.957 135.995ZM74.9861 94.2989L113.45 119.108C142.667 137.945 186.224 138.467 217.019 120.388C232.074 111.528 240.503 100.375 240.741 88.9678C240.965 77.9036 233.444 66.884 219.536 57.9194L180.134 32.4404L74.9861 94.2989ZM163.694 111.483C154.625 111.576 145.72 109.064 138.036 104.246L126.674 96.9198C126.511 96.82 126.376 96.68 126.282 96.5131C126.188 96.3462 126.139 96.1581 126.139 95.9667C126.139 95.7754 126.188 95.5872 126.282 95.4203C126.376 95.2535 126.511 95.1135 126.674 95.0137L179.836 63.742C180.012 63.6308 180.216 63.5718 180.424 63.5718C180.632 63.5718 180.836 63.6308 181.012 63.742L192.374 71.0685C199.656 75.7592 203.439 81.3286 203.305 87.166C203.171 93.3905 198.644 99.3173 190.215 104.261C182.164 108.953 173.012 111.425 163.694 111.424V111.483ZM129.444 96.0114L139.287 102.355C153.523 111.543 173.537 111.543 189.173 102.355C196.901 97.8133 201.086 92.5417 201.086 87.1362C201.19 82.1178 197.765 77.2186 191.168 72.9597L180.387 66.0054L129.444 96.0114Z'
								fill='#322E38'
							>
							</path>
							<path
								d='M73.1691 90.3975L66.1107 94.4479L73.3627 98.6174L80.4212 94.567L73.1691 90.3975Z'
								fill='#322E38'
							>
							</path>
							<path
								d='M73.3627 99.7342C73.1693 99.7331 72.9794 99.6818 72.8118 99.5853L65.5597 95.4157C65.3896 95.3178 65.2482 95.1767 65.15 95.0068C65.0517 94.8369 65 94.6441 65 94.4478C65 94.2515 65.0517 94.0587 65.15 93.8887C65.2482 93.7188 65.3896 93.5778 65.5597 93.4799L72.6182 89.4294C72.7879 89.3314 72.9805 89.2798 73.1766 89.2798C73.3726 89.2798 73.5652 89.3314 73.735 89.4294L80.9871 93.599C81.1572 93.6969 81.2985 93.8379 81.3967 94.0078C81.495 94.1778 81.5468 94.3706 81.5468 94.5669C81.5468 94.7632 81.495 94.956 81.3967 95.126C81.2985 95.2959 81.1572 95.4369 80.9871 95.5348L73.9286 99.6002C73.7551 99.694 73.5599 99.7403 73.3627 99.7342ZM68.3593 94.4478L73.3627 97.3218L78.1726 94.5669L73.1691 91.6929L68.3593 94.4478Z'
								fill='#322E38'
							>
							</path>
							<path
								d='M180.327 27.02L173.254 31.0705L180.506 35.24L187.579 31.1896L180.327 27.02Z'
								fill='#322E38'
							>
							</path>
							<path
								d='M180.506 36.3568C180.312 36.3557 180.123 36.3043 179.955 36.2078L172.703 32.0383C172.533 31.9404 172.391 31.7993 172.293 31.6294C172.195 31.4595 172.143 31.2666 172.143 31.0703C172.143 30.874 172.195 30.6812 172.293 30.5113C172.391 30.3414 172.533 30.2003 172.703 30.1024L179.761 26.052C179.931 25.9539 180.124 25.9023 180.32 25.9023C180.516 25.9023 180.708 25.9539 180.878 26.052L188.13 30.2215C188.3 30.3195 188.442 30.4605 188.54 30.6304C188.638 30.8004 188.69 30.9932 188.69 31.1895C188.69 31.3858 188.638 31.5786 188.54 31.7485C188.442 31.9184 188.3 32.0595 188.13 32.1574L181.072 36.2078C180.9 36.3069 180.704 36.3583 180.506 36.3568ZM175.502 31.1001L180.506 33.9741L185.316 31.2193L180.312 28.3452L175.502 31.1001Z'
								fill='#322E38'
							>
							</path>
							<path
								d='M217.6 116.472L210.541 120.508L217.793 124.678L224.852 120.642L217.6 116.472Z'
								fill='#322E38'
							>
							</path>
							<path
								d='M217.793 125.794C217.6 125.793 217.41 125.742 217.242 125.645L209.99 121.476C209.82 121.378 209.679 121.237 209.581 121.067C209.482 120.897 209.431 120.704 209.431 120.508C209.431 120.311 209.482 120.118 209.581 119.949C209.679 119.779 209.82 119.638 209.99 119.54L217.049 115.489C217.219 115.391 217.411 115.34 217.607 115.34C217.803 115.34 217.996 115.391 218.166 115.489L225.418 119.659C225.588 119.757 225.729 119.898 225.828 120.068C225.926 120.238 225.978 120.43 225.978 120.627C225.978 120.823 225.926 121.016 225.828 121.186C225.729 121.356 225.588 121.497 225.418 121.595L218.359 125.645C218.187 125.744 217.992 125.796 217.793 125.794ZM212.79 120.448L217.793 123.322L222.603 120.567L217.6 117.693L212.79 120.448Z'
								fill='#322E38'
							>
							</path>
							<path
								d='M161.757 155.562C161.511 155.564 161.27 155.484 161.074 155.335C160.877 155.186 160.736 154.976 160.671 154.738C160.606 154.5 160.622 154.247 160.717 154.019C160.811 153.791 160.978 153.601 161.192 153.478L268.409 90.4576C268.662 90.3284 268.956 90.3007 269.229 90.3803C269.502 90.4598 269.734 90.6405 269.879 90.8856C270.023 91.1307 270.069 91.4217 270.006 91.6991C269.943 91.9765 269.777 92.2196 269.541 92.3786L162.323 155.399C162.153 155.504 161.957 155.56 161.757 155.562Z'
								fill='#322E38'
							>
							</path>
							<path
								d='M142.22 140.075C142.004 140.076 141.792 140.014 141.61 139.897L72.2311 95.1334C72.0994 95.0582 71.9844 94.9571 71.893 94.836C71.8017 94.715 71.7359 94.5766 71.6998 94.4293C71.6637 94.282 71.6579 94.1289 71.6829 93.9793C71.7078 93.8298 71.763 93.6868 71.845 93.5593C71.927 93.4317 72.0342 93.3222 72.1599 93.2374C72.2856 93.1526 72.4272 93.0943 72.5762 93.066C72.7252 93.0377 72.8784 93.04 73.0264 93.0729C73.1744 93.1057 73.3143 93.1684 73.4373 93.257L142.831 137.931C143.034 138.062 143.189 138.255 143.272 138.482C143.356 138.708 143.364 138.956 143.295 139.187C143.227 139.419 143.085 139.622 142.891 139.766C142.697 139.91 142.462 139.987 142.22 139.986V140.075Z'
								fill='#322E38'
							>
							</path>
							<path
								d='M248.619 76.3998C248.402 76.4007 248.19 76.3386 248.008 76.2211L179.508 32.0684C179.376 31.9933 179.261 31.8921 179.17 31.771C179.079 31.65 179.013 31.5116 178.977 31.3643C178.941 31.2171 178.935 31.064 178.96 30.9144C178.985 30.7648 179.04 30.6219 179.122 30.4943C179.204 30.3668 179.311 30.2573 179.437 30.1725C179.563 30.0877 179.704 30.0293 179.853 30.001C180.002 29.9728 180.155 29.9751 180.303 30.008C180.451 30.0408 180.591 30.1035 180.714 30.1921L249.214 74.3448C249.417 74.4758 249.572 74.6691 249.656 74.8955C249.74 75.122 249.748 75.3696 249.679 75.6011C249.61 75.8325 249.468 76.0355 249.274 76.1795C249.08 76.3235 248.845 76.4008 248.604 76.3998H248.619Z'
								fill='#322E38'
							>
							</path>
							<path
								d='M248.619 78.5739C250.436 78.5739 251.91 77.1005 251.91 75.2829C251.91 73.4654 250.436 71.9919 248.619 71.9919C246.801 71.9919 245.328 73.4654 245.328 75.2829C245.328 77.1005 246.801 78.5739 248.619 78.5739Z'
								fill='#322E38'
							>
							</path>
							<path
								d='M248.619 79.6907C247.735 79.6907 246.871 79.4286 246.137 78.9378C245.402 78.4469 244.829 77.7492 244.491 76.9328C244.153 76.1165 244.065 75.2183 244.237 74.3517C244.409 73.4851 244.835 72.6891 245.46 72.0643C246.084 71.4396 246.88 71.0141 247.747 70.8417C248.614 70.6693 249.512 70.7578 250.328 71.0959C251.144 71.4341 251.842 72.0066 252.333 72.7413C252.824 73.476 253.086 74.3397 253.086 75.2233C253.086 76.4081 252.615 77.5444 251.778 78.3822C250.94 79.22 249.803 79.6907 248.619 79.6907ZM248.619 73.1087C248.189 73.1087 247.768 73.2362 247.411 73.4751C247.053 73.714 246.775 74.0535 246.61 74.4508C246.445 74.8481 246.402 75.2852 246.486 75.707C246.57 76.1287 246.777 76.5161 247.081 76.8202C247.385 77.1242 247.773 77.3313 248.194 77.4152C248.616 77.4991 249.053 77.456 249.451 77.2915C249.848 77.1269 250.187 76.8483 250.426 76.4907C250.665 76.1332 250.793 75.7128 250.793 75.2828C250.793 74.7062 250.564 74.1532 250.156 73.7455C249.748 73.3377 249.195 73.1087 248.619 73.1087Z'
								fill='#322E38'
							>
							</path>
							<path
								d='M270.404 93.5546C272.222 93.5546 273.695 92.0812 273.695 90.2637C273.695 88.4461 272.222 86.9727 270.404 86.9727C268.587 86.9727 267.113 88.4461 267.113 90.2637C267.113 92.0812 268.587 93.5546 270.404 93.5546Z'
								fill='#322E38'
							>
							</path>
							<path
								d='M270.405 94.6714C269.521 94.6714 268.657 94.4094 267.923 93.9185C267.188 93.4276 266.616 92.7299 266.277 91.9135C265.939 91.0972 265.851 90.199 266.023 89.3324C266.196 88.4658 266.621 87.6698 267.246 87.045C267.871 86.4202 268.667 85.9948 269.533 85.8224C270.4 85.65 271.298 85.7385 272.114 86.0766C272.931 86.4148 273.628 86.9873 274.119 87.722C274.61 88.4567 274.872 89.3204 274.872 90.204C274.872 91.3888 274.401 92.5251 273.564 93.3629C272.726 94.2007 271.59 94.6714 270.405 94.6714ZM270.405 88.0894C269.975 88.0894 269.554 88.2169 269.197 88.4558C268.839 88.6947 268.561 89.0343 268.396 89.4315C268.232 89.8288 268.189 90.2659 268.272 90.6877C268.356 91.1094 268.563 91.4968 268.867 91.8009C269.171 92.1049 269.559 92.312 269.981 92.3959C270.402 92.4798 270.84 92.4367 271.237 92.2721C271.634 92.1076 271.974 91.8289 272.212 91.4714C272.451 91.1139 272.579 90.6935 272.579 90.2635C272.579 89.6869 272.35 89.1339 271.942 88.7262C271.534 88.3185 270.981 88.0894 270.405 88.0894Z'
								fill='#322E38'
							>
							</path>
							<path
								d='M161.758 157.736C163.575 157.736 165.049 156.263 165.049 154.445C165.049 152.628 163.575 151.154 161.758 151.154C159.94 151.154 158.467 152.628 158.467 154.445C158.467 156.263 159.94 157.736 161.758 157.736Z'
								fill='#322E38'
							>
							</path>
							<path
								d='M161.758 158.853C160.874 158.853 160.011 158.591 159.276 158.1C158.541 157.609 157.969 156.911 157.631 156.095C157.292 155.279 157.204 154.381 157.376 153.514C157.549 152.647 157.974 151.851 158.599 151.227C159.224 150.602 160.02 150.176 160.886 150.004C161.753 149.832 162.651 149.92 163.467 150.258C164.284 150.596 164.981 151.169 165.472 151.904C165.963 152.638 166.225 153.502 166.225 154.386C166.225 155.57 165.755 156.707 164.917 157.545C164.079 158.382 162.943 158.853 161.758 158.853ZM161.758 152.271C161.328 152.271 160.907 152.399 160.55 152.637C160.192 152.876 159.914 153.216 159.749 153.613C159.585 154.01 159.542 154.448 159.625 154.869C159.709 155.291 159.916 155.678 160.221 155.982C160.525 156.287 160.912 156.494 161.334 156.577C161.755 156.661 162.193 156.618 162.59 156.454C162.987 156.289 163.327 156.011 163.565 155.653C163.804 155.296 163.932 154.875 163.932 154.445C163.932 153.869 163.703 153.316 163.295 152.908C162.887 152.5 162.334 152.271 161.758 152.271Z'
								fill='#322E38'
							>
							</path>
							<path
								d='M142.861 142.875C144.678 142.875 146.152 141.401 146.152 139.584C146.152 137.766 144.678 136.293 142.861 136.293C141.043 136.293 139.57 137.766 139.57 139.584C139.57 141.401 141.043 142.875 142.861 142.875Z'
								fill='#322E38'
							>
							</path>
							<path
								d='M142.86 143.991C141.977 143.991 141.113 143.729 140.379 143.239C139.644 142.748 139.071 142.05 138.733 141.234C138.395 140.417 138.307 139.519 138.479 138.652C138.651 137.786 139.077 136.99 139.702 136.365C140.326 135.74 141.122 135.315 141.989 135.142C142.856 134.97 143.754 135.059 144.57 135.397C145.386 135.735 146.084 136.307 146.575 137.042C147.066 137.777 147.328 138.64 147.328 139.524C147.328 140.709 146.857 141.845 146.019 142.683C145.182 143.521 144.045 143.991 142.86 143.991ZM142.86 137.409C142.43 137.409 142.01 137.537 141.653 137.776C141.295 138.015 141.016 138.354 140.852 138.752C140.687 139.149 140.644 139.586 140.728 140.008C140.812 140.429 141.019 140.817 141.323 141.121C141.627 141.425 142.015 141.632 142.436 141.716C142.858 141.8 143.295 141.757 143.692 141.592C144.09 141.428 144.429 141.149 144.668 140.791C144.907 140.434 145.035 140.014 145.035 139.584C145.031 139.01 144.8 138.46 144.393 138.056C143.985 137.651 143.435 137.424 142.86 137.424V137.409Z'
								fill='#322E38'
							>
							</path>
							<path
								d='M257.226 149.799C257.009 149.8 256.797 149.738 256.615 149.62L222.767 127.388C222.632 127.314 222.513 127.213 222.418 127.091C222.324 126.969 222.256 126.828 222.218 126.679C222.18 126.529 222.174 126.373 222.2 126.221C222.226 126.069 222.283 125.923 222.367 125.794C222.452 125.665 222.563 125.555 222.692 125.471C222.821 125.387 222.967 125.33 223.119 125.305C223.271 125.28 223.427 125.286 223.577 125.325C223.726 125.363 223.866 125.431 223.988 125.526L257.836 147.759C258.039 147.89 258.194 148.083 258.278 148.31C258.361 148.536 258.37 148.784 258.301 149.015C258.232 149.247 258.09 149.45 257.896 149.594C257.702 149.738 257.467 149.815 257.226 149.814V149.799Z'
								fill='#322E38'
							>
							</path>
							<path
								d='M260.249 144.691C263.361 146.538 263.659 149.307 260.933 150.886C259.262 151.649 257.433 152.005 255.597 151.922C253.761 151.839 251.972 151.32 250.376 150.409C247.263 148.563 246.965 145.793 249.691 144.215C251.362 143.451 253.191 143.096 255.027 143.179C256.863 143.262 258.653 143.78 260.249 144.691Z'
								fill='#DAD7D3'
							>
							</path>
							<path
								d='M256.362 153.06C254.062 153.079 251.798 152.494 249.795 151.362C248.933 150.954 248.193 150.326 247.65 149.542C247.106 148.759 246.778 147.846 246.698 146.895C246.733 146.124 246.975 145.376 247.4 144.732C247.825 144.087 248.415 143.569 249.11 143.232C250.954 142.366 252.98 141.958 255.015 142.044C257.05 142.129 259.035 142.706 260.8 143.723C261.662 144.132 262.402 144.759 262.945 145.543C263.489 146.327 263.817 147.24 263.897 148.191C263.86 148.961 263.617 149.708 263.193 150.353C262.768 150.997 262.178 151.516 261.485 151.854C259.908 152.687 258.145 153.103 256.362 153.06ZM254.233 144.274C252.847 144.232 251.473 144.545 250.242 145.183C249.895 145.339 249.595 145.581 249.368 145.886C249.141 146.191 248.996 146.548 248.946 146.925C248.946 147.759 249.691 148.712 250.942 149.456C252.368 150.263 253.962 150.726 255.598 150.808C257.235 150.891 258.868 150.591 260.368 149.933C260.718 149.78 261.022 149.539 261.252 149.234C261.481 148.929 261.628 148.569 261.678 148.191C261.678 147.357 260.934 146.404 259.683 145.659C258.016 144.734 256.138 144.257 254.233 144.274Z'
								fill='#322E38'
							>
							</path>
						</svg>
					</div>
					<div>
						<svg
							width='301'
							height='206'
							viewBox='0 0 301 206'
							fill='none'
							xmlns='http://www.w3.org/2000/svg'
						>
							<rect width='301' height='206' rx='3' fill='#596067'></rect>
							<path
								d='M87.5306 148H57.8906V143.44C59.1706 142.64 60.5306 141.96 61.9706 141.4C63.4906 140.76 64.9706 140.28 66.4106 139.96L97.3706 62.56H106.251L136.371 139.96C137.971 140.28 139.571 140.76 141.171 141.4C142.771 141.96 144.171 142.64 145.371 143.44V148H107.811V143.44C109.331 142.72 110.971 142.04 112.731 141.4C114.491 140.76 116.171 140.28 117.771 139.96L110.811 120.88H84.1706L77.0906 139.96C80.7706 140.44 84.2506 141.6 87.5306 143.44V148ZM87.0506 113.08H108.291L100.491 90.16L98.2106 79.84H97.9706L95.3306 90.4L87.0506 113.08ZM201.713 130.6C201.713 132.36 201.713 133.88 201.713 135.16C201.793 136.44 201.913 137.8 202.073 139.24L210.353 140.44V144.64C209.393 145.12 208.073 145.6 206.393 146.08C204.793 146.56 203.073 147.04 201.233 147.52C199.473 147.92 197.713 148.24 195.953 148.48C194.193 148.8 192.633 149.04 191.273 149.2H187.193C186.393 147.36 185.913 145.52 185.753 143.68C185.593 141.84 185.473 139.6 185.393 136.96H184.793C184.393 138.56 183.713 140.12 182.753 141.64C181.793 143.08 180.553 144.4 179.033 145.6C177.593 146.72 175.873 147.64 173.873 148.36C171.873 149.08 169.633 149.44 167.153 149.44C164.513 149.44 162.073 149.04 159.833 148.24C157.593 147.44 155.633 146.32 153.953 144.88C152.273 143.44 150.953 141.72 149.993 139.72C149.033 137.64 148.553 135.32 148.553 132.76C148.553 129.16 149.233 126.2 150.593 123.88C151.953 121.56 154.073 119.68 156.953 118.24C159.913 116.72 163.673 115.6 168.233 114.88C172.873 114.16 178.473 113.64 185.033 113.32C185.673 106.44 185.393 101.4 184.193 98.2C182.993 95 180.393 93.4 176.393 93.4C173.913 93.4 171.633 93.8 169.553 94.6L163.913 109H158.633C157.993 108.04 157.353 106.96 156.713 105.76C156.153 104.48 155.593 103.16 155.033 101.8C154.553 100.36 154.113 98.92 153.713 97.48C153.392 96.04 153.153 94.64 152.993 93.28C156.033 91.2 159.953 89.56 164.753 88.36C169.553 87.16 174.633 86.56 179.993 86.56C184.553 86.56 188.273 87.08 191.153 88.12C194.033 89.08 196.273 90.44 197.873 92.2C199.553 93.88 200.713 95.88 201.353 98.2C201.993 100.52 202.313 103 202.313 105.64C202.313 110.44 202.193 114.8 201.953 118.72C201.793 122.56 201.713 126.52 201.713 130.6ZM174.713 139.84C176.393 139.84 177.833 139.52 179.033 138.88C180.233 138.24 181.233 137.48 182.033 136.6C182.913 135.72 183.553 134.76 183.953 133.72C184.433 132.68 184.793 131.76 185.033 130.96V118.96C181.273 119.04 178.193 119.28 175.793 119.68C173.393 120.08 171.513 120.76 170.153 121.72C168.793 122.6 167.833 123.76 167.273 125.2C166.793 126.56 166.553 128.24 166.553 130.24C166.553 133.28 167.273 135.64 168.713 137.32C170.153 139 172.153 139.84 174.713 139.84Z'
								fill='#DAD7D3'
							>
							</path>
							<line x1='244' y1='37' x2='244' y2='169' stroke='#DAD7D3' stroke-dasharray='2 2'>
							</line>
							<line x1='57' y1='168.5' x2='244' y2='168.5' stroke='#DAD7D3' stroke-dasharray='2 2'>
							</line>
						</svg>
					</div>
				</div>
				<div class='content'>
					<p>
						We strive to create an online presence that reflects your unique vision and speaks to
						your target audience. We understand that every business is different, and we are
						dedicated to helping you create an online presence that is tailored to your individual
						needs.
					</p>
				</div>
				<div class='margin-block-start-24'>
					<a type='button' href='/contact'>
						Request a Project <i class='fa-solid fa-arrow-right'></i>
					</a>
				</div>
				<div class='flow ending-quote'>
					<hr class='daimond-hr' />
					<p>
						<i>
							Strive for two things in design: simplicity and clarity. Great design is born of those
							two things.
						</i>
					</p>
				</div>
			</div>
		</section>
	</main>
</Layout>
