---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Card from '../components/CaseCard.astro';
---

<Layout title='Animancy Designs.'>
	<Navbar />
	<main>
		<header class='hero'>
			<div class='u-container'>
				<svg
					xmlns='http://www.w3.org/2000/svg'
					width='501'
					height='175'
					fill='none'
					viewBox='0 0 501 175'
				>
					<path
						fill='#4C4C4C'
						d='M191.765 125.874c-9.334 6.114-18.848 11.06-28.99 11.06-35.363 0-43.71-47.388-54.48-75.443-1.975-4.946-6.104-7.643-11.13-7.643-5.295 0-11.219 3.866-13.193 10.25h1.077c1.615-3.057 5.026-5.575 7.988-5.575 2.692 0 4.846 1.35 6.641 4.407l-17.681 49.096c-.987 3.057-3.68 7.913-6.552 7.913v1.349h13.912v-1.349c-2.962 0-4.667-3.956-3.41-7.733l2.333-6.924h25.669c7.988 23.289 22.169 36.148 42.902 36.148 17.323 0 28.811-9.172 35.184-15.196l-.27-.36ZM89.267 102.045l11.937-35.519c3.68 8.363 7.001 23.47 11.489 35.519H89.267Z'
					>
					</path>
					<path
						fill='#4C4C4C'
						d='M180.128 89.546c0-12.409-5.026-16.995-14.091-16.995-6.463 0-13.463 5.935-16.425 9.891l-.898-9.261-12.386 1.528v1.349c3.052 0 4.937 3.327 4.937 6.384v29.224c0 3.238-2.065 8.273-5.116 8.273v1.349h18.579v-1.349c-3.052 0-5.116-5.125-5.116-8.273V87.388c2.154-2.788 8.078-9.172 13.642-9.172 3.77 0 8.527 1.978 8.527 11.33v22.12c0 3.417-2.064 8.273-5.116 8.273v1.349h18.579v-1.349c-2.962 0-5.116-4.856-5.116-8.273v-22.12ZM204.238 111.756V72.281l-13.193 2.338v1.35c3.051 0 5.026 3.506 5.026 6.563v29.224c0 2.968-2.244 8.183-5.296 8.183v1.349h18.759v-1.349c-3.052 0-5.296-5.215-5.296-8.183Zm-4.577-45.23c2.962 0 5.206-2.427 5.206-5.215s-2.244-5.125-5.206-5.125c-2.782 0-5.026 2.337-5.026 5.125s2.244 5.215 5.026 5.215ZM286.688 89.546c0-12.23-5.744-16.995-14.181-16.995-5.744 0-11.937 4.046-14.899 8.453-.988-3.417-4.488-8.453-12.835-8.453-6.552 0-14.181 6.564-16.425 9.891l-.897-9.261-12.386 1.528v1.349c3.051 0 4.936 3.597 4.936 6.654v28.954c0 2.968-2.064 8.273-5.116 8.273v1.349h18.579v-1.349c-3.052 0-5.116-5.035-5.116-8.273V87.388c1.975-2.608 8.616-9.172 13.463-9.172 3.231 0 8.437 1.888 8.437 11.33v22.12c0 3.148-2.064 8.273-5.116 8.273v1.349h18.579v-1.349c-2.962 0-5.116-5.035-5.116-8.273v-22.75l-.179-3.236c1.256-3.238 6.013-7.464 11.308-7.464 3.321 0 8.527 1.709 8.527 11.33v22.12c0 3.238-2.064 8.273-5.116 8.273v1.349h18.669v-1.349c-2.962 0-5.116-5.035-5.116-8.273v-22.12ZM336.502 111.936V87.118c0-11.6-7.36-14.657-16.066-14.657-10.86 0-18.399 6.295-18.399 11.87 0 3.417 2.154 4.855 5.026 4.855 1.616 0 2.782-.809 2.782-.809 0-2.428 2.244-12.05 10.591-12.05 4.937 0 7.719 3.867 7.719 6.655v2.698c0 8.902-29.708 10.34-29.708 24.728 0 8.542 7.718 12.049 16.066 12.049 6.192 0 10.142-2.248 13.642-4.946.269 1.889 1.705 3.777 4.218 3.777h9.245v-1.349c-3.052 0-5.116-3.417-5.116-8.003Zm-19.566 6.474c-5.116 0-8.886-2.517-8.886-7.913 0-7.643 12.925-12.768 20.105-17.894v18.974c-1.346 3.147-6.911 6.833-11.219 6.833ZM389.205 89.546c0-12.409-5.026-16.995-14.091-16.995-6.462 0-13.463 5.935-16.425 9.891l-.897-9.261-12.386 1.528v1.349c3.051 0 4.936 3.327 4.936 6.384v29.224c0 3.238-2.064 8.273-5.116 8.273v1.349h18.579v-1.349c-3.052 0-5.116-5.125-5.116-8.273V87.388c2.154-2.788 8.078-9.172 13.643-9.172 3.769 0 8.526 1.978 8.526 11.33v22.12c0 3.417-2.064 8.273-5.116 8.273v1.349h18.579v-1.349c-2.962 0-5.116-4.856-5.116-8.273v-22.12ZM440.799 110.408c-2.962 2.697-7.808 6.294-13.373 6.294-11.399 0-18.31-9.801-18.31-22.12 0-11.24 6.911-18.614 12.655-18.614 8.796 0 11.04 12.769 11.04 14.747 0 0 1.705 1.079 4.039 1.079 2.962 0 4.757-1.978 4.757-4.406 0-5.665-7.091-14.657-19.028-14.657-14.001 0-22.797 9.891-22.797 24.189 0 13.757 10.86 24.907 24.862 24.907 9.513 0 15.976-6.744 18.309-8.992l-2.154-2.427ZM481.135 73.18v1.35c4.039.27 3.86 5.484 2.513 9.261l-8.975 27.066-12.924-27.965c-1.616-3.147-.898-8.183 2.423-8.363V73.18h-19.925v1.35c3.051 0 6.282 5.035 8.077 8.362l18.579 38.126-3.32 8.992s-3.232 7.823-8.258 7.823c-4.667 0-6.731-3.507-6.731-6.744 0-1.798.718-3.507.718-4.676 0-1.259-.629-2.697-2.962-2.697-3.052 0-5.834 3.327-5.834 7.193 0 5.665 5.116 10.791 13.373 10.791 7.898 0 12.655-8.093 14.091-11.69l17.323-48.017c1.615-4.586 3.141-7.464 5.565-7.464V73.18h-13.733ZM496.333 121.648c2.513 0 4.667-2.248 4.667-4.766 0-2.698-2.154-4.766-4.667-4.766-2.693 0-4.757 2.068-4.757 4.766 0 2.518 2.064 4.766 4.757 4.766ZM204.813 151.535l-2.021 11.576h-3.189l-1.603-9.05-1.686 9.05h-3.106l-2.004-11.576h2.454l1.32 9.669 1.753-9.669h2.588l1.687 9.669 1.486-9.669h2.321ZM212.486 158.477c0 .112-.016.419-.05.92h-5.527c.078.803.295 1.372.651 1.707.357.334.841.502 1.453.502a3.09 3.09 0 0 0 1.069-.184 4.99 4.99 0 0 0 1.085-.586l.985 1.338c-.99.803-2.109 1.205-3.356 1.205-1.391 0-2.46-.418-3.206-1.255-.746-.836-1.119-1.968-1.119-3.396 0-.903.156-1.712.468-2.426.323-.724.785-1.293 1.386-1.706.612-.413 1.336-.619 2.17-.619 1.258 0 2.238.396 2.939 1.188.702.792 1.052 1.896 1.052 3.312Zm-2.354-.669c0-1.472-.529-2.208-1.586-2.208-.49 0-.874.184-1.153.552-.267.357-.428.942-.484 1.757h3.223v-.101ZM217.951 153.977c1.036 0 1.837.413 2.405 1.238.579.825.868 1.98.868 3.463 0 .915-.144 1.729-.434 2.443-.278.702-.685 1.254-1.219 1.656-.523.401-1.141.602-1.853.602-.969 0-1.743-.379-2.321-1.138l-.134.87h-2.104v-12.396l2.371-.268v4.751a2.893 2.893 0 0 1 1.052-.886c.423-.223.88-.335 1.369-.335Zm-.901 7.645c1.135 0 1.703-.981 1.703-2.944 0-1.082-.139-1.84-.418-2.275-.267-.446-.656-.669-1.168-.669-.635 0-1.18.379-1.637 1.137v3.798c.39.636.896.953 1.52.953ZM228.168 151.535c1.804 0 3.245.412 4.325 1.238 1.091.814 1.636 2.314 1.636 4.5 0 2.141-.534 3.652-1.603 4.533-1.057.87-2.415 1.305-4.074 1.305h-3.306v-11.576h3.022Zm-.568 1.806v7.964h1.002c.947 0 1.676-.29 2.188-.87.523-.591.785-1.645.785-3.162 0-1.049-.134-1.863-.401-2.443-.256-.58-.601-.97-1.035-1.171-.435-.212-.963-.318-1.587-.318h-.952ZM242.393 158.477c0 .112-.016.419-.05.92h-5.527c.078.803.295 1.372.651 1.707.356.334.841.502 1.453.502a3.09 3.09 0 0 0 1.069-.184 5.013 5.013 0 0 0 1.085-.586l.985 1.338c-.99.803-2.109 1.205-3.356 1.205-1.392 0-2.46-.418-3.206-1.255-.746-.836-1.119-1.968-1.119-3.396 0-.903.156-1.712.468-2.426.322-.724.784-1.293 1.386-1.706.612-.413 1.335-.619 2.17-.619 1.258 0 2.238.396 2.939 1.188.702.792 1.052 1.896 1.052 3.312Zm-2.354-.669c0-1.472-.529-2.208-1.587-2.208-.489 0-.873.184-1.152.552-.267.357-.428.942-.484 1.757h3.223v-.101Z'
					>
					</path>
					<path
						fill='#4C4C4C'
						d='M246.005 153.977c1.247 0 2.315.357 3.206 1.071l-.902 1.355c-.746-.469-1.48-.703-2.204-.703-.39 0-.69.073-.902.218a.677.677 0 0 0-.317.585.75.75 0 0 0 .134.452c.1.123.278.24.534.351.267.112.662.246 1.185.402.936.256 1.631.602 2.088 1.037.456.424.684 1.009.684 1.757 0 .591-.172 1.104-.517 1.539-.334.435-.791.769-1.369 1.003-.579.223-1.225.335-1.937.335a5.923 5.923 0 0 1-2.038-.335 4.818 4.818 0 0 1-1.569-.953l1.169-1.305c.745.58 1.536.87 2.371.87.445 0 .796-.084 1.052-.251.267-.179.4-.418.4-.719 0-.235-.05-.419-.15-.553-.1-.133-.284-.256-.551-.368-.267-.122-.684-.262-1.252-.418-.891-.245-1.553-.591-1.987-1.037-.423-.457-.635-1.021-.635-1.69 0-.502.145-.953.434-1.355.29-.401.696-.714 1.219-.937.535-.234 1.152-.351 1.854-.351ZM252.384 154.245v8.866h-2.371v-8.866h2.371Zm-1.202-4.567c.423 0 .768.133 1.035.401.278.257.417.586.417.987 0 .402-.139.736-.417 1.004-.267.256-.612.385-1.035.385-.423 0-.769-.129-1.036-.385a1.364 1.364 0 0 1-.401-1.004c0-.401.134-.73.401-.987.267-.268.613-.401 1.036-.401ZM261.597 154.73c-.579.223-1.431.334-2.555.334.556.246.968.553 1.236.921.267.357.4.808.4 1.355 0 .568-.15 1.082-.451 1.539-.289.446-.712.797-1.269 1.054-.545.256-1.185.385-1.92.385-.39 0-.735-.04-1.035-.118-.223.145-.334.341-.334.586 0 .178.067.323.2.435.145.1.418.15.818.15h1.353c.657 0 1.23.112 1.72.335.501.212.885.513 1.152.903.278.38.418.815.418 1.305 0 .904-.39 1.606-1.169 2.108-.768.513-1.882.77-3.34.77-1.046 0-1.876-.112-2.488-.335-.601-.212-1.024-.524-1.269-.937-.245-.412-.367-.931-.367-1.555h2.12c0 .289.056.518.167.685.111.179.312.307.601.385.301.089.729.134 1.286.134.768 0 1.303-.095 1.603-.284.312-.19.468-.458.468-.803 0-.313-.117-.552-.351-.72-.234-.167-.579-.251-1.035-.251h-1.303c-.879 0-1.536-.161-1.97-.485-.434-.334-.651-.753-.651-1.255 0-.312.089-.613.267-.903.189-.301.445-.552.768-.753-.546-.301-.946-.652-1.202-1.054-.245-.412-.368-.903-.368-1.472 0-.647.156-1.21.468-1.69.323-.49.768-.864 1.336-1.12.579-.268 1.235-.402 1.97-.402.913.022 1.664-.056 2.254-.234a9.338 9.338 0 0 0 1.887-.837l.585 1.824Zm-4.676.836c-.445 0-.801.145-1.069.435-.256.279-.384.664-.384 1.155 0 .502.128.897.384 1.187.268.29.629.435 1.086.435.479 0 .84-.139 1.085-.418.245-.279.368-.691.368-1.238 0-1.037-.49-1.556-1.47-1.556ZM266.664 153.977c.779 0 1.386.24 1.82.719.434.469.651 1.121.651 1.958v6.457h-2.371v-6.056c0-.479-.084-.814-.251-1.003-.155-.201-.395-.302-.718-.302-.334 0-.64.106-.918.318-.267.201-.529.508-.785.92v6.123h-2.371v-8.866h2.054l.184 1.121c.367-.458.768-.803 1.202-1.038a3.18 3.18 0 0 1 1.503-.351ZM277.388 151.267c.701 0 1.314.117 1.837.351.523.223.924.536 1.202.937.278.402.418.853.418 1.355 0 .647-.195 1.221-.585 1.723-.389.491-.946.965-1.67 1.422l2.438 2.275c.357-.758.635-1.594.835-2.509l2.021.602c-.412 1.227-.919 2.281-1.52 3.162l1.987 1.773-1.97 1.021-1.386-1.338c-1.002.892-2.221 1.338-3.657 1.338-.79 0-1.492-.134-2.104-.402-.612-.267-1.091-.641-1.436-1.12-.334-.491-.501-1.06-.501-1.707 0-.68.184-1.271.551-1.773.367-.502.941-1.004 1.72-1.506-.59-.569-1.008-1.054-1.252-1.455a2.799 2.799 0 0 1-.351-1.405c0-.502.128-.96.384-1.372.256-.413.64-.742 1.152-.987.523-.257 1.152-.385 1.887-.385Zm.033 1.572c-.367 0-.656.106-.868.318-.2.212-.3.491-.3.837 0 .312.077.602.233.87.156.256.423.569.802.937.434-.279.757-.558.968-.837.212-.29.318-.613.318-.97s-.106-.636-.318-.837c-.2-.212-.478-.318-.835-.318Zm-.5 5.32c-.401.279-.696.569-.886.87a1.936 1.936 0 0 0-.267 1.004c0 .502.178.898.535 1.188.356.29.829.435 1.419.435.768 0 1.453-.257 2.054-.77l-2.855-2.727ZM292.551 151.267c.724 0 1.353.106 1.887.318a5.512 5.512 0 0 1 1.57.937l-1.219 1.422c-.668-.547-1.369-.82-2.104-.82-.824 0-1.481.34-1.971 1.02-.478.67-.718 1.724-.718 3.162 0 1.405.24 2.448.718 3.129.49.669 1.153 1.003 1.988 1.003.434 0 .829-.078 1.185-.234a6.093 6.093 0 0 0 1.119-.702l1.135 1.422a4.994 4.994 0 0 1-1.536 1.053c-.601.268-1.269.402-2.004.402-1.035 0-1.942-.234-2.721-.703-.78-.468-1.386-1.154-1.821-2.057-.434-.915-.651-2.019-.651-3.313 0-1.26.223-2.342.668-3.245.445-.915 1.058-1.606 1.837-2.075.779-.479 1.659-.719 2.638-.719ZM300.802 153.994c.267 0 .562.044.885.134l-.401 2.292a3.348 3.348 0 0 0-.785-.118c-.523 0-.929.184-1.219.553-.289.368-.517.925-.684 1.672v4.584h-2.372v-8.866h2.054l.217 1.723c.212-.625.518-1.11.919-1.456a2.104 2.104 0 0 1 1.386-.518Z'
					>
					</path>
					<path
						fill='#4C4C4C'
						d='M308.795 158.477c0 .112-.017.419-.05.92h-5.527c.078.803.295 1.372.651 1.707.356.334.841.502 1.453.502.378 0 .735-.062 1.069-.184a5.036 5.036 0 0 0 1.085-.586l.985 1.338c-.991.803-2.109 1.205-3.356 1.205-1.392 0-2.46-.418-3.206-1.255-.746-.836-1.119-1.968-1.119-3.396 0-.903.156-1.712.467-2.426.323-.724.785-1.293 1.386-1.706.613-.413 1.336-.619 2.171-.619 1.258 0 2.238.396 2.939 1.188.701.792 1.052 1.896 1.052 3.312Zm-2.354-.669c0-1.472-.529-2.208-1.587-2.208-.49 0-.874.184-1.152.552-.267.357-.429.942-.484 1.757h3.223v-.101Z'
					>
					</path>
					<path
						fill='#4C4C4C'
						d='M316.067 160.652c0 .346.051.602.151.77.1.156.267.273.501.351l-.501 1.573c-.523-.045-.952-.168-1.286-.369-.323-.2-.573-.513-.751-.936-.579.892-1.464 1.338-2.655 1.338-.88 0-1.581-.251-2.104-.753-.513-.513-.769-1.176-.769-1.991 0-.97.351-1.712 1.052-2.225.702-.513 1.709-.769 3.023-.769h1.018v-.435c0-.547-.122-.926-.367-1.138-.245-.212-.651-.318-1.219-.318-.623 0-1.403.157-2.338.469l-.534-1.589c1.102-.435 2.193-.653 3.273-.653 1.202 0 2.087.262 2.655.786.568.513.851 1.283.851 2.309v3.58Zm-3.89 1.021c.668 0 1.191-.329 1.569-.987v-1.69h-.784c-1.281 0-1.921.479-1.921 1.439 0 .39.095.697.284.92.201.212.484.318.852.318ZM322.686 162.693c-.323.223-.69.39-1.102.502a4.076 4.076 0 0 1-1.202.184c-.913-.011-1.603-.273-2.071-.786-.467-.513-.701-1.266-.701-2.259v-4.416h-1.319v-1.673h1.319v-1.941l2.371-.284v2.225h2.037l-.233 1.673h-1.804v4.366c0 .424.072.731.217.92.145.19.368.285.668.285.301 0 .635-.101 1.002-.302l.818 1.506ZM325.064 154.245v8.866h-2.371v-8.866h2.371Zm-1.203-4.567c.424 0 .769.133 1.036.401.278.257.417.586.417.987 0 .402-.139.736-.417 1.004-.267.256-.612.385-1.036.385-.423 0-.768-.129-1.035-.385a1.364 1.364 0 0 1-.401-1.004c0-.401.134-.73.401-.987.267-.268.612-.401 1.035-.401ZM333.709 154.245l-2.839 8.866h-2.822l-2.889-8.866h2.572l1.753 7.009 1.787-7.009h2.438ZM341.164 158.477c0 .112-.016.419-.05.92h-5.527c.078.803.295 1.372.651 1.707.357.334.841.502 1.453.502a3.09 3.09 0 0 0 1.069-.184 4.99 4.99 0 0 0 1.085-.586l.985 1.338c-.99.803-2.109 1.205-3.356 1.205-1.392 0-2.46-.418-3.206-1.255-.746-.836-1.119-1.968-1.119-3.396 0-.903.156-1.712.468-2.426.323-.724.785-1.293 1.386-1.706.612-.413 1.336-.619 2.17-.619 1.258 0 2.238.396 2.939 1.188.702.792 1.052 1.896 1.052 3.312Zm-2.354-.669c0-1.472-.529-2.208-1.586-2.208-.49 0-.874.184-1.153.552-.267.357-.428.942-.484 1.757h3.223v-.101ZM348.443 151.267c.835 0 1.559.123 2.171.368a5.153 5.153 0 0 1 1.72 1.087l-1.169 1.355a4.55 4.55 0 0 0-1.235-.736 3.696 3.696 0 0 0-1.32-.234c-.512 0-.924.112-1.235.335-.301.212-.451.518-.451.92 0 .279.061.507.184.686.133.178.361.346.684.502.323.156.807.334 1.453.535 1.147.368 2.004.825 2.572 1.372.567.535.851 1.305.851 2.308 0 .714-.178 1.344-.534 1.891-.356.535-.874.959-1.553 1.271-.679.301-1.475.452-2.388.452-.913 0-1.725-.145-2.438-.435a5.618 5.618 0 0 1-1.837-1.188l1.253-1.388c.445.379.907.669 1.386.87a4.23 4.23 0 0 0 1.569.284c.601 0 1.08-.139 1.436-.418.368-.279.551-.669.551-1.171 0-.313-.066-.569-.2-.77-.123-.212-.34-.401-.651-.569-.312-.167-.763-.34-1.353-.518-1.258-.391-2.16-.859-2.705-1.405-.534-.547-.801-1.261-.801-2.142 0-.647.172-1.216.517-1.706.345-.502.824-.887 1.436-1.155.612-.267 1.308-.401 2.087-.401Z'
					>
					</path>
					<path
						fill='#4C4C4C'
						d='M358.562 162.693c-.323.223-.691.39-1.103.502-.4.123-.801.184-1.202.184-.913-.011-1.603-.273-2.07-.786-.468-.513-.702-1.266-.702-2.259v-4.416h-1.319v-1.673h1.319v-1.941l2.371-.284v2.225h2.038l-.234 1.673h-1.804v4.366c0 .424.073.731.217.92.145.19.368.285.668.285.301 0 .635-.101 1.002-.302l.819 1.506ZM365.815 163.111h-2.054l-.117-1.187c-.312.49-.69.858-1.135 1.104-.446.234-.963.351-1.553.351-.802 0-1.414-.24-1.837-.719-.423-.491-.635-1.171-.635-2.041v-6.374h2.372v6.073c0 .468.077.803.233 1.003.156.19.401.285.735.285.635 0 1.174-.385 1.62-1.155v-6.206h2.371v8.866ZM374.777 150.715v12.396h-2.087l-.134-1.087c-.623.903-1.469 1.355-2.538 1.355-1.091 0-1.926-.418-2.505-1.255-.567-.847-.851-1.996-.851-3.446 0-.914.145-1.723.434-2.426.301-.714.724-1.271 1.269-1.673a3.104 3.104 0 0 1 1.887-.602c.824 0 1.542.296 2.154.887v-4.417l2.371.268Zm-4.057 10.891c.345 0 .651-.084.918-.251.267-.179.523-.452.768-.82v-3.965a2.57 2.57 0 0 0-.718-.619 1.52 1.52 0 0 0-.818-.217c-.546 0-.974.239-1.286.719-.3.48-.451 1.221-.451 2.225 0 1.06.134 1.812.401 2.258.278.447.673.67 1.186.67ZM378.436 154.245v8.866h-2.371v-8.866h2.371Zm-1.202-4.567c.423 0 .768.133 1.035.401.279.257.418.586.418.987 0 .402-.139.736-.418 1.004-.267.256-.612.385-1.035.385-.423 0-.768-.129-1.035-.385a1.364 1.364 0 0 1-.401-1.004c0-.401.134-.73.401-.987.267-.268.612-.401 1.035-.401ZM383.458 153.977c1.325 0 2.36.418 3.106 1.255.746.825 1.119 1.974 1.119 3.446 0 .937-.173 1.762-.518 2.476a3.748 3.748 0 0 1-1.469 1.639c-.635.391-1.386.586-2.255.586-1.324 0-2.365-.413-3.122-1.238-.746-.836-1.119-1.991-1.119-3.463 0-.937.167-1.757.501-2.459.345-.714.835-1.266 1.469-1.656.646-.391 1.409-.586 2.288-.586Zm0 1.773c-.601 0-1.052.24-1.353.72-.289.468-.434 1.204-.434 2.208 0 1.004.145 1.745.434 2.225.301.468.746.703 1.336.703.59 0 1.03-.235 1.319-.703.301-.48.451-1.221.451-2.225s-.144-1.74-.434-2.208c-.289-.48-.729-.72-1.319-.72ZM389.097 160.518c.401 0 .741.14 1.019.418.278.279.417.614.417 1.004 0 .391-.139.731-.417 1.021a1.384 1.384 0 0 1-1.019.418c-.389 0-.723-.139-1.002-.418a1.427 1.427 0 0 1-.417-1.021c0-.39.139-.725.417-1.004a1.37 1.37 0 0 1 1.002-.418ZM31.92 29.735l3.739 3.746-3.739 3.744-3.739-3.744 3.739-3.746Zm0-8.86 3.739 3.746-3.739 3.745-3.739-3.745 3.739-3.745Zm0-8.86 3.739 3.747-3.739 3.745-3.739-3.745 3.739-3.746Zm0-8.858 3.739 3.746-3.739 3.746-3.739-3.746 3.739-3.746ZM17.527 44.062h28.718V39.08H36.86V0h-9.95v39.079h-9.384v4.983ZM47.747 99.015c.658 0 1.268.406 1.518 1.009l.087.21-3.022 1.253-.086-.209a1.63 1.63 0 0 1 .002-1.248 1.623 1.623 0 0 1 1.5-1.015Zm-.482-10.312a1.642 1.642 0 0 1-.885-2.14l.086-.21 3.021 1.254-.086.21c-.25.603-.86 1.01-1.518 1.01-.213 0-.421-.042-.618-.124Zm-2.207-3.018c-.917 0-1.64-.72-1.64-1.638v-.226h3.28v.226c0 .918-.723 1.638-1.64 1.638Zm-2.172 2.993a1.631 1.631 0 0 1-2.136-.887l-.087-.208 3.022-1.254.086.21a1.641 1.641 0 0 1-.885 2.14Zm3.698 15.871h-3.279v-.227c0-.918.723-1.638 1.64-1.638.917 0 1.64.72 1.64 1.638v.227Zm-5.958-4.573a1.63 1.63 0 0 1 2.136-.886 1.64 1.64 0 0 1 .885 2.14l-.086.209-3.022-1.253.087-.21Zm-1.559-12.113a1.62 1.62 0 0 1-1.155.475c-.44 0-.85-.168-1.157-.475l-.16-.16 2.312-2.317.16.16a1.643 1.643 0 0 1 0 2.317Zm-5.913 2.85-.086.21-3.021-1.254.086-.21c.25-.603.86-1.009 1.518-1.009a1.622 1.622 0 0 1 1.501 1.016c.167.406.167.849.002 1.247Zm-3.31-17.42 2.312-2.317.16.16a1.642 1.642 0 0 1 0 2.317 1.62 1.62 0 0 1-1.155.476c-.44 0-.852-.17-1.158-.476l-.16-.16Zm-.5 7.853a1.631 1.631 0 0 1-2.137.887L27 81.946l1.25-3.026.21.086c.404.167.718.482.885.887.167.404.167.849 0 1.254Zm-.936 6.516-.21.087-1.25-3.026.208-.087a1.631 1.631 0 0 1 2.136.886 1.64 1.64 0 0 1-.884 2.14Zm-.023 4.097-.16.16-2.313-2.317.16-.16a1.62 1.62 0 0 1 1.158-.476 1.625 1.625 0 0 1 1.63 1.639 1.63 1.63 0 0 1-.475 1.154Zm-4.3-6.806h-.226V81.67h.226c.917 0 1.635.723 1.635 1.642 0 .918-.718 1.642-1.634 1.642ZM28.34 74.8l.16.16a1.643 1.643 0 0 1 0 2.317 1.62 1.62 0 0 1-1.155.476c-.44 0-.852-.17-1.158-.476l-.16-.16 2.313-2.317Zm7.939-1.346a1.62 1.62 0 0 1-1.156.476c-.44 0-.85-.17-1.157-.476l-.16-.16 2.312-2.317.16.16c.305.305.474.715.475 1.154.002.441-.167.854-.474 1.163Zm-2.694-3.91 2.313-2.316.16.16a1.643 1.643 0 0 1 0 2.316 1.62 1.62 0 0 1-1.154.476c-.44 0-.852-.169-1.158-.475l-.16-.16Zm-.902 7.512a1.62 1.62 0 0 1-1.155.476c-.44 0-.851-.169-1.158-.476l-.16-.16 2.313-2.316.16.16a1.641 1.641 0 0 1 0 2.316Zm17.492 19.104a1.636 1.636 0 0 1 2.136-.887l.21.087-1.252 3.027-.21-.087a1.627 1.627 0 0 1-.879-.884 1.626 1.626 0 0 1-.005-1.256Zm.966-6.527.209-.086 1.251 3.026-.209.087a1.635 1.635 0 0 1-2.136-.887 1.64 1.64 0 0 1 .885-2.14Zm.02-4.107.159-.16 2.312 2.316-.16.16a1.624 1.624 0 0 1-1.157.476 1.625 1.625 0 0 1-1.63-1.64c.002-.437.17-.847.475-1.152Zm3.677 6.79h.226v3.286h-.226c-.772 0-1.636-.705-1.636-1.643 0-.937.864-1.642 1.636-1.642Zm-3.635 10.212-.16-.16a1.643 1.643 0 0 1 0-2.317 1.62 1.62 0 0 1 1.154-.475c.44 0 .851.168 1.158.475l.16.161-2.312 2.316Zm-6.174-5.757a2.85 2.85 0 0 1-1.85-.681 15.728 15.728 0 0 1-3.83 1.942v6.913a12.39 12.39 0 0 0 5.681 1.379c1.604 0 3.17-.305 4.654-.907a12.308 12.308 0 0 0 4.105-2.729 12.4 12.4 0 0 0 3.628-8.796 12.398 12.398 0 0 0-.914-4.666 12.363 12.363 0 0 0-2.721-4.105 12.324 12.324 0 0 0-4.1-2.727 12.386 12.386 0 0 0-9.325-.008 12.27 12.27 0 0 0-4.105 2.726 2.85 2.85 0 0 1-2.028.839 2.855 2.855 0 0 1-2.03-.84 2.837 2.837 0 0 1-.838-2.022c0-.765.297-1.483.837-2.023l7.752-7.767 5.783-.852c1.439-.21 3.108-1.468 3.712-2.791l4.395-9.639c.603-1.324.257-3.25-.772-4.277l-2.318-2.324c-1.027-1.03-2.949-1.377-4.27-.772l-9.614 4.4v-9.016h-9.95v24.817l-1.456 1.46a12.361 12.361 0 0 0-2.657 3.946 12.353 12.353 0 0 0-.979 4.838c0 1.677.33 3.306.98 4.843a12.366 12.366 0 0 0 2.663 3.946c.454.453.939.868 1.45 1.24a12.335 12.335 0 0 0 7.313 2.387 12.342 12.342 0 0 0 4.822-.975 12.36 12.36 0 0 0 3.94-2.655l.003-.003c.54-.54 1.26-.837 2.023-.837a2.85 2.85 0 0 1 2.026.843c.541.542.84 1.265.842 2.03a2.838 2.838 0 0 1-.835 2.025c-.539.54-1.254.838-2.017.838Z'
					>
					</path>
					<path
						fill='#4C4C4C'
						d='m25.126 127.628.16-.161a1.622 1.622 0 0 1 1.156-.476 1.62 1.62 0 0 1 1.63 1.639 1.63 1.63 0 0 1-.474 1.154l-.16.16-2.312-2.316Zm4.199-.12a1.631 1.631 0 0 1 2.136-.886c.404.167.718.482.885.886.167.404.167.85 0 1.254l-.087.209-3.02-1.254.086-.209Zm4.313 2.814c.917 0 1.64.72 1.64 1.639v.226h-3.279v-.226c0-.919.723-1.639 1.64-1.639Zm1.307-2.76a1.622 1.622 0 0 1 1.5-1.015c.659 0 1.269.406 1.519 1.009l.087.21-3.022 1.253-.086-.209a1.63 1.63 0 0 1 .002-1.248Zm1.019-11.327a1.62 1.62 0 0 1-.883-.892 1.63 1.63 0 0 1-.002-1.248l.087-.209 3.02 1.253-.086.21c-.25.604-.86 1.01-1.518 1.01-.213 0-.421-.042-.618-.124Zm-2.212-3.025c-.917 0-1.64-.72-1.64-1.638v-.227h3.28v.227c0 .918-.723 1.638-1.64 1.638Zm-1.188.967c0 .918-.722 1.638-1.639 1.638s-1.64-.72-1.64-1.638v-.226h3.28v.226Zm-4.918-.967c-.917 0-1.639-.72-1.639-1.638v-.227h3.279v.227c0 .918-.723 1.638-1.64 1.638Zm-2.49.044-.087.209-3.021-1.254.086-.209c.25-.604.86-1.009 1.518-1.009.213 0 .421.041.618.123a1.64 1.64 0 0 1 .885 2.14Zm-.489-9.119a2.855 2.855 0 0 1 2.035-.832h.21v5.664h-.21c-.765 0-1.485-.275-2.027-.818a2.814 2.814 0 0 1-.84-2.01 2.796 2.796 0 0 1 .832-2.004Zm-3.403-4.794a1.598 1.598 0 0 1-1.144.454c-.448 0-.884-.17-1.168-.454l-.16-.16 2.312-2.317.16.16c.546.547.662 1.653 0 2.317Zm.02 4.349a1.636 1.636 0 0 1-2.137.887l-.209-.087 1.252-3.027.208.087c.399.165.71.479.88.884.17.407.172.853.005 1.256Zm-.937 6.405-.209.087-1.251-3.026.209-.087a1.635 1.635 0 0 1 2.136.886 1.641 1.641 0 0 1-.885 2.14Zm.026 4.122-.16.16-2.312-2.316.16-.16a1.623 1.623 0 0 1 1.154-.488c.433 0 .845.173 1.158.487.311.312.484.72.487 1.149.003.436-.17.851-.486 1.168Zm-4.316-6.723h-.226v-3.285h.227c.771 0 1.635.705 1.635 1.642 0 .938-.863 1.643-1.636 1.643Zm22.817 16.197a1.637 1.637 0 0 1 2.136-.887l.21.087-1.252 3.027-.21-.087a1.623 1.623 0 0 1-.879-.884 1.627 1.627 0 0 1-.005-1.256Zm.086-5.643c.17-.404.482-.718.88-.883l.209-.087 1.251 3.026-.209.087a1.634 1.634 0 0 1-2.13-2.143Zm.899-4.992.16-.159 2.312 2.316-.16.16a1.622 1.622 0 0 1-1.157.476 1.622 1.622 0 0 1-1.63-1.639c.001-.439.17-.848.475-1.154Zm3.785 6.785h.227v3.284h-.227c-.963 0-1.635-.677-1.635-1.642 0-.964.673-1.642 1.636-1.642Zm-3.743 10.218-.16-.16a1.629 1.629 0 0 1-.475-1.153 1.623 1.623 0 0 1 1.63-1.639c.44 0 .851.169 1.157.476l.16.16-2.312 2.316Zm-11.011 2.817c1.53.645 3.152.974 4.82.974 1.075 0 2.129-.136 3.15-.404.57-.15 1.128-.341 1.675-.572a12.326 12.326 0 0 0 3.94-2.656 12.38 12.38 0 0 0 3.635-8.785c0-1.676-.329-3.306-.98-4.842a12.372 12.372 0 0 0-2.663-3.947 12.35 12.35 0 0 0-3.94-2.652c-.543-.23-1.1-.421-1.666-.569V98.664c-.86.145-1.743.222-2.645.222-2.635 0-5.12-.648-7.305-1.795a15.792 15.792 0 0 1-3.838-2.822 12.344 12.344 0 0 0-5.149 3.095 12.393 12.393 0 0 0-3.627 8.797c.002 1.608.31 3.177.914 4.664a12.346 12.346 0 0 0 2.721 4.105 12.302 12.302 0 0 0 3.978 2.676c.04.018.081.047.122.064 1.484.604 3.052.925 4.66.925h7.014c.767 0 1.487.286 2.029.828.541.54.839 1.253.839 2.016 0 .766-.297 1.481-.837 2.021a2.84 2.84 0 0 1-2.026.837 2.855 2.855 0 0 1-2.028-.84 2.84 2.84 0 0 1-.785-1.464h-4.2c-1.892 0-3.704-.333-5.384-.945a12.367 12.367 0 0 0 .973 5.229 12.35 12.35 0 0 0 2.663 3.945 12.383 12.383 0 0 0 3.94 2.654Z'
					>
					</path>
					<path
						fill='#4C4C4C'
						d='M48.031 130.905a14.494 14.494 0 0 0-.488-1.891 15.852 15.852 0 0 1-6.63 6.467c.087 1.818-.444 3.869-1.607 5.192a8.675 8.675 0 0 1-2.445 2.212v-5.977c-1.02.209-2.076.263-3.158.263h-.05c-2.412 0-4.697-.488-6.742-1.457v9.294c1.504 1.23 3.278 2.049 5.177 2.474 1.586.316 3.204.339 4.773.079a13.151 13.151 0 0 0 5.423-2.212c4.568-3.189 6.772-8.99 5.747-14.444ZM31.594 149.964l-.057-.012a15.333 15.333 0 0 1-4.626-1.855V175l9.95-15.293v-9.591a15.77 15.77 0 0 1-5.266-.152ZM54.839 41.76a.987.987 0 0 0 .309 1.017 11.19 11.19 0 0 0 7.264 2.68c6.178 0 11.205-5.035 11.205-11.224 0-3.367-2.735-6.106-6.095-6.106s-6.094 2.74-6.094 6.106a6.868 6.868 0 0 1-5.797 6.82.984.984 0 0 0-.792.708ZM64.56 102.397c1.437 0 2.601-1.167 2.601-2.606a2.603 2.603 0 0 0-2.6-2.605 2.603 2.603 0 0 0-2.6 2.605 2.603 2.603 0 0 0 2.6 2.606ZM64.448 65.697a2.603 2.603 0 0 0-2.6-2.605 2.603 2.603 0 0 0-2.601 2.605 2.603 2.603 0 0 0 2.6 2.605c1.436 0 2.6-1.166 2.6-2.605ZM54.659 107.68a5.856 5.856 0 0 0-1.707 3.854.873.873 0 0 0 .008.18 1.665 1.665 0 0 1-.911 1.719 1.633 1.633 0 0 1-1.265.08 1.642 1.642 0 0 1-.95-.838.946.946 0 0 0-1.337-.395l-.002.001a.95.95 0 0 0-.363 1.23 9.239 9.239 0 0 0 1.754 2.456 9.153 9.153 0 0 0 6.523 2.71 9.17 9.17 0 0 0 6.528-2.703 5.878 5.878 0 0 0 0-8.294 5.852 5.852 0 0 0-8.278 0ZM56.307 141.815a4.188 4.188 0 0 0-4.183 4.191 4.188 4.188 0 0 0 4.183 4.191 4.188 4.188 0 0 0 4.183-4.191 4.188 4.188 0 0 0-4.183-4.191ZM58.795 75.325a2.603 2.603 0 0 0-2.6-2.605 2.603 2.603 0 0 0-2.601 2.605 2.603 2.603 0 0 0 2.6 2.605c1.436 0 2.6-1.166 2.6-2.605ZM48.955 28.366a1 1 0 0 0 .194-.008 1.796 1.796 0 0 1 1.862.989c.212.432.242.92.088 1.376a1.788 1.788 0 0 1-.908 1.033 1.03 1.03 0 0 0-.429 1.453l.001.002a1.025 1.025 0 0 0 1.332.393 9.935 9.935 0 0 0 2.66-1.906 9.962 9.962 0 0 0 2.935-7.09 9.98 9.98 0 0 0-2.929-7.094 6.348 6.348 0 0 0-8.98 0 6.377 6.377 0 0 0 0 8.997 6.33 6.33 0 0 0 4.174 1.855ZM50.315 151.443a2.604 2.604 0 0 0-2.6 2.606 2.603 2.603 0 0 0 2.6 2.605c1.436 0 2.6-1.167 2.6-2.605a2.603 2.603 0 0 0-2.6-2.606ZM12.724 76.802c2.541-2.546 2.541-6.69 0-9.236a4.429 4.429 0 0 1 0-6.25 4.41 4.41 0 0 1 6.24 0c.41.412 1.077.412 1.489 0a1.057 1.057 0 0 0 0-1.493c-4.673-4.682-12.276-4.682-16.948 0-4.673 4.681-4.673 12.298 0 16.98a6.515 6.515 0 0 0 9.219 0ZM20.241 132.187a2.603 2.603 0 0 0-2.6-2.605 2.603 2.603 0 0 0-2.6 2.605 2.603 2.603 0 0 0 2.6 2.605c1.435 0 2.6-1.166 2.6-2.605ZM14.215 140.776a1.05 1.05 0 0 0-.194.009 1.803 1.803 0 0 1-1.862-.989 1.794 1.794 0 0 1-.087-1.376 1.79 1.79 0 0 1 .907-1.033 1.032 1.032 0 0 0 .429-1.453l-.002-.002a1.022 1.022 0 0 0-1.332-.393 9.976 9.976 0 0 0-2.659 1.906 9.967 9.967 0 0 0-2.935 7.09 9.984 9.984 0 0 0 2.929 7.094 6.348 6.348 0 0 0 8.98 0 6.376 6.376 0 0 0 0-8.997 6.336 6.336 0 0 0-4.174-1.856ZM14.023 26.052a4.188 4.188 0 0 0 4.183-4.19 4.188 4.188 0 0 0-4.183-4.192 4.188 4.188 0 0 0-4.183 4.191 4.188 4.188 0 0 0 4.183 4.191ZM10.458 99.954c0-2.718 1.939-5 4.612-5.427a.785.785 0 0 0 .384-1.373 8.906 8.906 0 0 0-5.78-2.132c-4.917 0-8.916 4.006-8.916 8.932 0 2.678 2.176 4.858 4.85 4.858a4.86 4.86 0 0 0 4.85-4.858ZM7.352 51.878c1.436 0 2.6-1.167 2.6-2.605a2.603 2.603 0 0 0-2.6-2.606 2.604 2.604 0 0 0-2.6 2.606 2.603 2.603 0 0 0 2.6 2.605ZM9.5 120.973a2.603 2.603 0 0 0-2.6-2.605 2.603 2.603 0 0 0-2.6 2.605 2.604 2.604 0 0 0 2.6 2.606c1.436 0 2.6-1.167 2.6-2.606Z'
					>
					</path>
				</svg>
			</div>
		</header>

		<section class='summary'>
			<div class='u-container flow-large'>
				<p>
					Animancy creates the web for businesses, content creators, and art creatives. We are here
					to help you take the first steps to building an online presence that tells the world about
					your dream.
				</p>
				<hr class='daimond-hr' />
			</div>
		</section>

		<section class='selected-works'>
			<div class='u-container flow-large'>
				<header>
					<h1>Selected Works.</h1>
				</header>
				<article class='selected-works__case-cards u-flex'>
					<Card
						title='Nyacchii'
						catagory='Digital Art Portfolio'
						body='A portfolio website for Nyacchii, an professional digital artist and Twitch partner. To help with commission pricing and information.'
						href='/case-studies/nyacchii'
					/>
					<Card
						title='Rockstar Renovations'
						catagory='Company Website'
						body="A company website for Rockstar Renovations. An fully insured business, both in general liability and workman's compensation.Renovations for the modern style."
						href='/case-studies/rockstar-renovations'
					/>
					<Card
						title='Noasketch'
						catagory='Digital Art Portfolio'
						body='A digital art portfolio for Noa, who is a professional illustrator, designer and story teller residing in the country of Colombia.'
						href='/case-studies/noasketch'
					/>
				</article>
			</div>
		</section>

		<section class='process'>
			<div class='u-container flow-large'>
				<header>
					<h1>The Process.</h1>
				</header>
				<article class='process__content u-flex'>
					<div class='card flow'>
						<header>
							<h3>01. Strategy</h3>
						</header>
						<p>
							We first focus on getting to know about your dream and idea. Sitting with you, talking
							about content helps us to make some bid design decisions before getting to the
							visuals.
						</p>
					</div>
					<div class='card flow'>
						<header>
							<h3>02. Design</h3>
						</header>
						<p>
							After gathering the content, we form a design. We conduct research based on the
							content and provide design mockups to narrow down the website you want.
						</p>
					</div>
					<div class='card flow'>
						<header>
							<h3>03. Development</h3>
						</header>
						<p>
							After careful consideration, we create a website that meets your specs and
							incorporates all requested features, ideas, & concepts. We take pride in our work and
							ensure the highest quality & that your needs are fully met.
						</p>
					</div>
					<div class='card flow'>
						<header>
							<h3>04. Support & Assistance</h3>
						</header>
						<p>
							Lastly, we sit down and talk about how to use your website, such as how to go about
							updating the website, or helping to plan a launch date that works within your favor.
						</p>
					</div>
				</article>
			</div>
		</section>

		<section id='services' class='services'>
			<div class='u-container flow-large'>
				<header>
					<h2>Services.</h2>
				</header>
				<article class='flow-large'>
					<div class='detail flow'>
						<header>
							<h3>Web Design and Development</h3>
						</header>
						<p>
							We create the web using the right tools for the right job. Let us create an online
							presence for you, that will take you to the next level, allowing you to take your
							steps with what you are passionate about.
						</p>
					</div>
					<div class='detail flow'>
						<header>
							<p>Coming Soon</p>
							<h3>OBS Graphics & Effects</h3>
						</header>
						<p>
							We use <a class='event-link' href='https://www.nodecg.dev/' target='_blank'>NodeCG</a>
							to create broadcast graphics. This service allows one to run complicated parts of their
							stream smoothly, and we also can provide subtle animations for sub alerts, and social media
							callouts.
						</p>
					</div>
					<div class='detail flow'>
						<header>
							<h3>Data Integration</h3>
						</header>
						<p>
							If you want to display information, redeems, top cheer, etc. Animancy can integrate
							that data using the Twitch API.
						</p>
					</div>

					<hr class='daimond-hr' />
				</article>
			</div>
		</section>
	</main>
</Layout>
