---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Card from '../components/CaseCard.astro';
---

<Layout title='Animancy Designs.'>
	<Navbar />
	<main>
		<header class='hero'>
			<div class='u-container'>
				<svg
					width='416'
					height='145'
					viewBox='0 0 416 145'
					fill='none'
					xmlns='http://www.w3.org/2000/svg'
				>
					<path
						d='M159.23 104.295C151.48 109.362 143.58 113.46 135.158 113.46C105.795 113.46 98.8645 74.1953 89.9214 50.9496C88.2818 46.8518 84.8536 44.6166 80.6802 44.6166C76.2832 44.6166 71.3645 47.8204 69.7249 53.1102H70.6192C71.9607 50.5771 74.7926 48.4909 77.252 48.4909C79.4878 48.4909 81.2764 49.6085 82.7669 52.1417L68.0853 92.8216C67.2655 95.3548 65.0298 99.3781 62.6449 99.3781V100.496H74.1964V99.3781C71.7371 99.3781 70.3211 96.0999 71.3645 92.9706L73.3021 87.2337H94.6165C101.249 106.531 113.024 117.185 130.24 117.185C144.623 117.185 154.163 109.585 159.454 104.593L159.23 104.295ZM74.1219 84.5515L84.0338 55.1219C87.0894 62.0509 89.8468 74.5678 93.5731 84.5515H74.1219Z'
						fill='#4C4C4C'
					>
					</path>
					<path
						d='M149.567 74.1953C149.567 63.9135 145.394 60.1137 137.867 60.1137C132.501 60.1137 126.688 65.0311 124.229 68.3093L123.483 60.6353L113.199 61.9019V63.0195C115.733 63.0195 117.298 65.7762 117.298 68.3093V92.5236C117.298 95.2058 115.584 99.3781 113.05 99.3781V100.496H128.477V99.3781C125.943 99.3781 124.229 95.1313 124.229 92.5236V72.4072C126.017 70.0975 130.936 64.8076 135.557 64.8076C138.687 64.8076 142.636 66.4467 142.636 74.1953V92.5236C142.636 95.3548 140.922 99.3781 138.388 99.3781V100.496H153.815V99.3781C151.356 99.3781 149.567 95.3548 149.567 92.5236V74.1953Z'
						fill='#4C4C4C'
					>
					</path>
					<path
						d='M169.587 92.5981V59.8902L158.632 61.8274V62.945C161.166 62.945 162.805 65.8507 162.805 68.3839V92.5981C162.805 95.0568 160.942 99.3781 158.408 99.3781V100.496H173.984V99.3781C171.45 99.3781 169.587 95.0568 169.587 92.5981ZM165.786 55.1219C168.246 55.1219 170.109 53.1102 170.109 50.8006C170.109 48.4909 168.246 46.5538 165.786 46.5538C163.476 46.5538 161.613 48.4909 161.613 50.8006C161.613 53.1102 163.476 55.1219 165.786 55.1219Z'
						fill='#4C4C4C'
					>
					</path>
					<path
						d='M238.048 74.1953C238.048 64.0625 233.279 60.1137 226.273 60.1137C221.503 60.1137 216.361 63.4665 213.902 67.1173C213.082 64.2861 210.176 60.1137 203.245 60.1137C197.804 60.1137 191.47 65.5527 189.606 68.3093L188.861 60.6353L178.577 61.9019V63.0195C181.111 63.0195 182.676 65.9997 182.676 68.5329V92.5236C182.676 94.9823 180.961 99.3781 178.428 99.3781V100.496H193.854V99.3781C191.321 99.3781 189.606 95.2058 189.606 92.5236V72.4072C191.246 70.2465 196.761 64.8076 200.785 64.8076C203.468 64.8076 207.791 66.3722 207.791 74.1953V92.5236C207.791 95.1313 206.077 99.3781 203.543 99.3781V100.496H218.97V99.3781C216.51 99.3781 214.722 95.2058 214.722 92.5236V73.6737L214.573 70.9915C215.616 68.3093 219.566 64.8076 223.963 64.8076C226.72 64.8076 231.043 66.2232 231.043 74.1953V92.5236C231.043 95.2058 229.329 99.3781 226.795 99.3781V100.496H242.296V99.3781C239.837 99.3781 238.048 95.2058 238.048 92.5236V74.1953Z'
						fill='#4C4C4C'
					>
					</path>
					<path
						d='M279.411 92.7471V72.1836C279.411 62.5724 273.3 60.0392 266.071 60.0392C257.053 60.0392 250.793 65.2546 250.793 69.874C250.793 72.7052 252.582 73.8973 254.966 73.8973C256.308 73.8973 257.277 73.2267 257.277 73.2267C257.277 71.2151 259.14 63.243 266.071 63.243C270.17 63.243 272.48 66.4467 272.48 68.7564V70.9915C272.48 78.3676 247.812 79.5597 247.812 91.4805C247.812 98.5586 254.221 101.464 261.152 101.464C266.294 101.464 269.574 99.6016 272.48 97.3665C272.704 98.9311 273.896 100.496 275.983 100.496H283.659V99.3781C281.125 99.3781 279.411 96.5469 279.411 92.7471ZM263.164 98.1115C258.916 98.1115 255.786 96.0254 255.786 91.555C255.786 85.2221 266.518 80.9753 272.48 76.7285V92.4491C271.362 95.0568 266.742 98.1115 263.164 98.1115Z'
						fill='#4C4C4C'
					>
					</path>
					<path
						d='M323.172 74.1953C323.172 63.9135 318.999 60.1137 311.472 60.1137C306.106 60.1137 300.293 65.0311 297.834 68.3093L297.088 60.6353L286.804 61.9019V63.0195C289.338 63.0195 290.903 65.7762 290.903 68.3093V92.5236C290.903 95.2058 289.189 99.3781 286.655 99.3781V100.496H302.082V99.3781C299.548 99.3781 297.834 95.1313 297.834 92.5236V72.4072C299.622 70.0975 304.541 64.8076 309.162 64.8076C312.292 64.8076 316.242 66.4467 316.242 74.1953V92.5236C316.242 95.3548 314.527 99.3781 311.994 99.3781V100.496H327.42V99.3781C324.961 99.3781 323.172 95.3548 323.172 92.5236V74.1953Z'
						fill='#4C4C4C'
					>
					</path>
					<path
						d='M366.013 91.4805C363.554 93.7157 359.529 96.6959 354.909 96.6959C345.444 96.6959 339.705 88.5748 339.705 78.3676C339.705 69.0544 345.444 62.945 350.213 62.945C357.517 62.945 359.38 73.5247 359.38 75.1638C359.38 75.1638 360.796 76.0579 362.734 76.0579C365.193 76.0579 366.684 74.4188 366.684 72.4072C366.684 67.7133 360.796 60.2628 350.884 60.2628C339.258 60.2628 331.955 68.4584 331.955 80.3047C331.955 91.7041 340.972 100.943 352.598 100.943C360.498 100.943 365.864 95.3548 367.801 93.4922L366.013 91.4805Z'
						fill='#4C4C4C'
					>
					</path>
					<path
						d='M399.506 60.6353V61.7529C402.859 61.9764 402.71 66.2977 401.592 69.4269L394.14 91.8531L383.408 68.6819C382.067 66.0742 382.663 61.9019 385.42 61.7529V60.6353H368.875V61.7529C371.409 61.7529 374.092 65.9252 375.583 68.6819L391.01 100.272L388.252 107.723C388.252 107.723 385.569 114.205 381.396 114.205C377.52 114.205 375.806 111.299 375.806 108.617C375.806 107.127 376.403 105.711 376.403 104.743C376.403 103.699 375.881 102.507 373.943 102.507C371.409 102.507 369.099 105.264 369.099 108.468C369.099 113.162 373.347 117.408 380.203 117.408C386.762 117.408 390.712 110.703 391.904 107.723L406.287 67.9368C407.629 64.137 408.896 61.7529 410.908 61.7529V60.6353H399.506Z'
						fill='#4C4C4C'
					>
					</path>
					<path
						d='M412.125 100.794C414.211 100.794 416 98.9311 416 96.8449C416 94.6098 414.211 92.8961 412.125 92.8961C409.889 92.8961 408.175 94.6098 408.175 96.8449C408.175 98.9311 409.889 100.794 412.125 100.794Z'
						fill='#4C4C4C'
					>
					</path>
					<path
						d='M170.064 125.557L168.387 135.149H165.738L164.407 127.65L163.007 135.149H160.428L158.764 125.557H160.802L161.898 133.569L163.353 125.557H165.503L166.903 133.569L168.137 125.557H170.064Z'
						fill='#4C4C4C'
					>
					</path>
					<path
						d='M176.436 131.31C176.436 131.402 176.422 131.656 176.394 132.072H171.805C171.869 132.737 172.05 133.209 172.346 133.486C172.641 133.763 173.043 133.902 173.552 133.902C173.866 133.902 174.162 133.851 174.439 133.749C174.716 133.648 175.017 133.486 175.34 133.264L176.158 134.373C175.336 135.038 174.407 135.371 173.372 135.371C172.216 135.371 171.329 135.025 170.709 134.332C170.09 133.638 169.78 132.701 169.78 131.518C169.78 130.769 169.91 130.099 170.169 129.508C170.437 128.907 170.82 128.436 171.319 128.094C171.828 127.752 172.429 127.581 173.122 127.581C174.166 127.581 174.98 127.909 175.562 128.565C176.145 129.221 176.436 130.136 176.436 131.31ZM174.481 130.755C174.481 129.535 174.042 128.926 173.164 128.926C172.757 128.926 172.438 129.078 172.207 129.383C171.985 129.679 171.851 130.164 171.805 130.838H174.481V130.755Z'
						fill='#4C4C4C'
					>
					</path>
					<path
						d='M180.974 127.581C181.833 127.581 182.499 127.923 182.97 128.607C183.451 129.291 183.691 130.247 183.691 131.476C183.691 132.234 183.571 132.908 183.331 133.5C183.1 134.082 182.762 134.539 182.319 134.872C181.884 135.205 181.371 135.371 180.779 135.371C179.975 135.371 179.333 135.057 178.852 134.429L178.741 135.149H176.994V124.878L178.963 124.656V128.593C179.194 128.279 179.485 128.034 179.837 127.858C180.188 127.673 180.567 127.581 180.974 127.581ZM180.225 133.916C181.168 133.916 181.639 133.103 181.639 131.476C181.639 130.58 181.524 129.951 181.293 129.591C181.071 129.221 180.747 129.036 180.322 129.036C179.795 129.036 179.342 129.351 178.963 129.979V133.126C179.287 133.652 179.707 133.916 180.225 133.916Z'
						fill='#4C4C4C'
					>
					</path>
					<path
						d='M189.457 125.557C190.954 125.557 192.151 125.899 193.048 126.583C193.954 127.258 194.407 128.5 194.407 130.312C194.407 132.086 193.963 133.338 193.076 134.068C192.198 134.789 191.07 135.149 189.693 135.149H186.947V125.557H189.457ZM188.986 127.054V133.652H189.817C190.603 133.652 191.209 133.412 191.634 132.932C192.068 132.442 192.285 131.568 192.285 130.312C192.285 129.443 192.175 128.768 191.953 128.288C191.74 127.807 191.454 127.484 191.093 127.318C190.733 127.142 190.294 127.054 189.776 127.054H188.986Z'
						fill='#4C4C4C'
					>
					</path>
					<path
						d='M201.269 131.31C201.269 131.402 201.255 131.656 201.227 132.072H196.638C196.702 132.737 196.883 133.209 197.178 133.486C197.474 133.763 197.876 133.902 198.385 133.902C198.699 133.902 198.995 133.851 199.272 133.749C199.549 133.648 199.85 133.486 200.173 133.264L200.991 134.373C200.169 135.038 199.24 135.371 198.204 135.371C197.049 135.371 196.162 135.025 195.542 134.332C194.923 133.638 194.613 132.701 194.613 131.518C194.613 130.769 194.743 130.099 195.002 129.508C195.27 128.907 195.653 128.436 196.152 128.094C196.661 127.752 197.262 127.581 197.955 127.581C198.999 127.581 199.813 127.909 200.395 128.565C200.977 129.221 201.269 130.136 201.269 131.31ZM199.314 130.755C199.314 129.535 198.875 128.926 197.996 128.926C197.59 128.926 197.271 129.078 197.04 129.383C196.818 129.679 196.684 130.164 196.638 130.838H199.314V130.755Z'
						fill='#4C4C4C'
					>
					</path>
					<path
						d='M204.267 127.581C205.303 127.581 206.19 127.877 206.93 128.468L206.181 129.591C205.562 129.203 204.951 129.009 204.351 129.009C204.027 129.009 203.778 129.069 203.602 129.189C203.426 129.309 203.338 129.471 203.338 129.674C203.338 129.822 203.375 129.947 203.449 130.048C203.533 130.15 203.68 130.247 203.893 130.339C204.115 130.432 204.443 130.543 204.878 130.672C205.654 130.885 206.232 131.171 206.611 131.532C206.99 131.883 207.179 132.368 207.179 132.987C207.179 133.477 207.036 133.902 206.749 134.262C206.472 134.623 206.093 134.9 205.612 135.094C205.132 135.279 204.596 135.371 204.004 135.371C203.385 135.371 202.821 135.279 202.312 135.094C201.804 134.9 201.37 134.637 201.009 134.304L201.98 133.223C202.599 133.703 203.255 133.943 203.949 133.943C204.318 133.943 204.609 133.874 204.822 133.736C205.044 133.588 205.155 133.389 205.155 133.139C205.155 132.945 205.113 132.793 205.03 132.682C204.947 132.571 204.794 132.469 204.572 132.377C204.351 132.275 204.004 132.16 203.533 132.031C202.793 131.827 202.243 131.541 201.883 131.171C201.531 130.792 201.356 130.326 201.356 129.771C201.356 129.355 201.476 128.981 201.716 128.648C201.957 128.316 202.294 128.057 202.728 127.872C203.172 127.678 203.685 127.581 204.267 127.581Z'
						fill='#4C4C4C'
					>
					</path>
					<path
						d='M209.564 127.803V135.149H207.595V127.803H209.564ZM208.566 124.019C208.917 124.019 209.204 124.13 209.426 124.351C209.657 124.564 209.772 124.836 209.772 125.169C209.772 125.502 209.657 125.779 209.426 126.001C209.204 126.213 208.917 126.32 208.566 126.32C208.215 126.32 207.928 126.213 207.706 126.001C207.484 125.779 207.373 125.502 207.373 125.169C207.373 124.836 207.484 124.564 207.706 124.351C207.928 124.13 208.215 124.019 208.566 124.019Z'
						fill='#4C4C4C'
					>
					</path>
					<path
						d='M217.214 128.205C216.733 128.39 216.026 128.482 215.093 128.482C215.555 128.685 215.897 128.939 216.119 129.244C216.341 129.54 216.451 129.914 216.451 130.367C216.451 130.838 216.327 131.264 216.077 131.642C215.837 132.012 215.485 132.303 215.023 132.516C214.57 132.728 214.039 132.835 213.429 132.835C213.105 132.835 212.819 132.802 212.569 132.737C212.384 132.858 212.292 133.019 212.292 133.223C212.292 133.37 212.347 133.491 212.458 133.583C212.578 133.666 212.805 133.708 213.138 133.708H214.261C214.806 133.708 215.282 133.8 215.689 133.985C216.105 134.161 216.424 134.41 216.646 134.734C216.877 135.048 216.992 135.408 216.992 135.815C216.992 136.563 216.669 137.145 216.022 137.561C215.384 137.986 214.459 138.199 213.249 138.199C212.38 138.199 211.691 138.106 211.183 137.922C210.683 137.746 210.332 137.487 210.129 137.145C209.926 136.804 209.824 136.374 209.824 135.856H211.585C211.585 136.097 211.631 136.286 211.723 136.425C211.816 136.572 211.982 136.679 212.223 136.743C212.472 136.817 212.828 136.854 213.29 136.854C213.928 136.854 214.372 136.776 214.621 136.619C214.88 136.462 215.009 136.24 215.009 135.953C215.009 135.695 214.912 135.496 214.718 135.357C214.524 135.219 214.238 135.149 213.859 135.149H212.777C212.047 135.149 211.502 135.015 211.141 134.747C210.781 134.47 210.6 134.124 210.6 133.708C210.6 133.449 210.674 133.2 210.822 132.959C210.979 132.71 211.192 132.502 211.46 132.335C211.007 132.086 210.674 131.795 210.462 131.462C210.258 131.12 210.157 130.714 210.157 130.242C210.157 129.706 210.286 129.24 210.545 128.842C210.813 128.436 211.183 128.126 211.654 127.914C212.135 127.692 212.68 127.581 213.29 127.581C214.048 127.6 214.672 127.535 215.162 127.387C215.652 127.239 216.174 127.008 216.729 126.694L217.214 128.205ZM213.332 128.898C212.962 128.898 212.666 129.018 212.444 129.258C212.232 129.489 212.125 129.808 212.125 130.215C212.125 130.631 212.232 130.959 212.444 131.199C212.666 131.439 212.967 131.559 213.346 131.559C213.743 131.559 214.044 131.444 214.247 131.213C214.45 130.982 214.552 130.64 214.552 130.187C214.552 129.328 214.145 128.898 213.332 128.898Z'
						fill='#4C4C4C'
					>
					</path>
					<path
						d='M221.421 127.581C222.068 127.581 222.572 127.78 222.933 128.177C223.293 128.565 223.473 129.106 223.473 129.799V135.149H221.505V130.132C221.505 129.734 221.435 129.457 221.297 129.3C221.167 129.133 220.968 129.05 220.7 129.05C220.423 129.05 220.169 129.138 219.938 129.314C219.716 129.48 219.499 129.734 219.286 130.076V135.149H217.317V127.803H219.023L219.175 128.732C219.48 128.353 219.813 128.066 220.173 127.872C220.543 127.678 220.959 127.581 221.421 127.581Z'
						fill='#4C4C4C'
					>
					</path>
					<path
						d='M230.326 125.335C230.909 125.335 231.417 125.432 231.851 125.627C232.286 125.811 232.619 126.07 232.85 126.403C233.081 126.735 233.196 127.11 233.196 127.526C233.196 128.062 233.035 128.537 232.711 128.953C232.388 129.36 231.925 129.753 231.325 130.132L233.349 132.017C233.645 131.388 233.876 130.695 234.042 129.937L235.72 130.436C235.378 131.453 234.957 132.326 234.458 133.056L236.108 134.526L234.472 135.371L233.321 134.262C232.489 135.002 231.477 135.371 230.285 135.371C229.628 135.371 229.046 135.26 228.538 135.038C228.029 134.817 227.632 134.507 227.345 134.11C227.068 133.703 226.929 133.232 226.929 132.696C226.929 132.132 227.082 131.642 227.387 131.227C227.692 130.811 228.168 130.395 228.815 129.979C228.325 129.508 227.978 129.106 227.775 128.773C227.581 128.431 227.484 128.043 227.484 127.609C227.484 127.193 227.59 126.814 227.803 126.472C228.015 126.13 228.334 125.858 228.759 125.654C229.194 125.442 229.716 125.335 230.326 125.335ZM230.354 126.638C230.049 126.638 229.809 126.726 229.633 126.902C229.467 127.077 229.383 127.308 229.383 127.595C229.383 127.854 229.448 128.094 229.577 128.316C229.707 128.528 229.929 128.787 230.243 129.092C230.604 128.861 230.872 128.63 231.047 128.399C231.223 128.159 231.311 127.891 231.311 127.595C231.311 127.299 231.223 127.068 231.047 126.902C230.881 126.726 230.65 126.638 230.354 126.638ZM229.938 131.046C229.605 131.277 229.36 131.518 229.203 131.767C229.055 132.017 228.981 132.294 228.981 132.599C228.981 133.015 229.129 133.343 229.425 133.583C229.721 133.823 230.114 133.943 230.604 133.943C231.241 133.943 231.81 133.731 232.309 133.306L229.938 131.046Z'
						fill='#4C4C4C'
					>
					</path>
					<path
						d='M242.917 125.335C243.518 125.335 244.04 125.423 244.484 125.599C244.927 125.765 245.362 126.024 245.787 126.375L244.775 127.553C244.22 127.1 243.638 126.874 243.028 126.874C242.344 126.874 241.798 127.156 241.392 127.72C240.994 128.274 240.795 129.147 240.795 130.339C240.795 131.504 240.994 132.368 241.392 132.932C241.798 133.486 242.348 133.763 243.042 133.763C243.402 133.763 243.73 133.699 244.026 133.569C244.322 133.431 244.632 133.236 244.955 132.987L245.898 134.165C245.556 134.516 245.131 134.807 244.622 135.038C244.123 135.26 243.569 135.371 242.958 135.371C242.099 135.371 241.345 135.177 240.698 134.789C240.051 134.401 239.548 133.833 239.187 133.084C238.827 132.326 238.646 131.411 238.646 130.339C238.646 129.295 238.831 128.399 239.201 127.65C239.571 126.893 240.079 126.32 240.726 125.932C241.373 125.534 242.103 125.335 242.917 125.335Z'
						fill='#4C4C4C'
					>
					</path>
					<path
						d='M249.768 127.595C249.989 127.595 250.234 127.632 250.502 127.706L250.17 129.605C249.911 129.54 249.694 129.508 249.518 129.508C249.084 129.508 248.746 129.66 248.506 129.965C248.266 130.27 248.076 130.732 247.937 131.351V135.149H245.968V127.803H247.674L247.854 129.231C248.03 128.713 248.284 128.311 248.617 128.025C248.959 127.738 249.342 127.595 249.768 127.595Z'
						fill='#4C4C4C'
					>
					</path>
					<path
						d='M256.405 131.31C256.405 131.402 256.391 131.656 256.363 132.072H251.774C251.838 132.737 252.019 133.209 252.314 133.486C252.61 133.763 253.012 133.902 253.521 133.902C253.835 133.902 254.131 133.851 254.408 133.749C254.685 133.648 254.986 133.486 255.309 133.264L256.127 134.373C255.305 135.038 254.376 135.371 253.34 135.371C252.185 135.371 251.298 135.025 250.678 134.332C250.059 133.638 249.749 132.701 249.749 131.518C249.749 130.769 249.879 130.099 250.138 129.508C250.406 128.907 250.789 128.436 251.288 128.094C251.797 127.752 252.398 127.581 253.091 127.581C254.135 127.581 254.949 127.909 255.531 128.565C256.114 129.221 256.405 130.136 256.405 131.31ZM254.45 130.755C254.45 129.535 254.011 128.926 253.132 128.926C252.726 128.926 252.407 129.078 252.176 129.383C251.954 129.679 251.82 130.164 251.774 130.838H254.45V130.755Z'
						fill='#4C4C4C'
					>
					</path>
					<path
						d='M262.443 133.112C262.443 133.398 262.485 133.611 262.568 133.749C262.651 133.879 262.79 133.976 262.984 134.04L262.568 135.343C262.134 135.306 261.778 135.205 261.5 135.038C261.232 134.872 261.024 134.613 260.876 134.262C260.396 135.002 259.661 135.371 258.672 135.371C257.942 135.371 257.359 135.163 256.925 134.747C256.5 134.322 256.287 133.772 256.287 133.098C256.287 132.294 256.578 131.679 257.161 131.254C257.743 130.829 258.579 130.617 259.67 130.617H260.516V130.256C260.516 129.803 260.414 129.489 260.211 129.314C260.008 129.138 259.67 129.05 259.199 129.05C258.681 129.05 258.034 129.18 257.258 129.438L256.814 128.122C257.729 127.761 258.635 127.581 259.532 127.581C260.53 127.581 261.265 127.798 261.736 128.233C262.208 128.658 262.443 129.295 262.443 130.145V133.112ZM259.213 133.957C259.767 133.957 260.202 133.685 260.516 133.139V131.739H259.864C258.801 131.739 258.27 132.137 258.27 132.932C258.27 133.255 258.348 133.509 258.505 133.694C258.672 133.87 258.908 133.957 259.213 133.957Z'
						fill='#4C4C4C'
					>
					</path>
					<path
						d='M267.939 134.803C267.671 134.988 267.366 135.126 267.024 135.219C266.691 135.32 266.358 135.371 266.026 135.371C265.268 135.362 264.695 135.145 264.306 134.72C263.918 134.295 263.724 133.671 263.724 132.848V129.189H262.629V127.803H263.724V126.195L265.693 125.959V127.803H267.384L267.19 129.189H265.693V132.807C265.693 133.158 265.753 133.412 265.873 133.569C265.993 133.726 266.178 133.805 266.428 133.805C266.677 133.805 266.955 133.722 267.26 133.555L267.939 134.803Z'
						fill='#4C4C4C'
					>
					</path>
					<path
						d='M269.913 127.803V135.149H267.944V127.803H269.913ZM268.915 124.019C269.266 124.019 269.553 124.13 269.775 124.351C270.006 124.564 270.121 124.836 270.121 125.169C270.121 125.502 270.006 125.779 269.775 126.001C269.553 126.213 269.266 126.32 268.915 126.32C268.564 126.32 268.277 126.213 268.055 126.001C267.833 125.779 267.723 125.502 267.723 125.169C267.723 124.836 267.833 124.564 268.055 124.351C268.277 124.13 268.564 124.019 268.915 124.019Z'
						fill='#4C4C4C'
					>
					</path>
					<path
						d='M277.092 127.803L274.735 135.149H272.391L269.993 127.803H272.128L273.584 133.611L275.067 127.803H277.092Z'
						fill='#4C4C4C'
					>
					</path>
					<path
						d='M283.282 131.31C283.282 131.402 283.268 131.656 283.241 132.072H278.651C278.716 132.737 278.896 133.209 279.192 133.486C279.488 133.763 279.89 133.902 280.398 133.902C280.712 133.902 281.008 133.851 281.286 133.749C281.563 133.648 281.863 133.486 282.187 133.264L283.005 134.373C282.182 135.038 281.253 135.371 280.218 135.371C279.063 135.371 278.175 135.025 277.556 134.332C276.936 133.638 276.627 132.701 276.627 131.518C276.627 130.769 276.756 130.099 277.015 129.508C277.283 128.907 277.667 128.436 278.166 128.094C278.674 127.752 279.275 127.581 279.968 127.581C281.013 127.581 281.826 127.909 282.409 128.565C282.991 129.221 283.282 130.136 283.282 131.31ZM281.327 130.755C281.327 129.535 280.888 128.926 280.01 128.926C279.603 128.926 279.284 129.078 279.053 129.383C278.831 129.679 278.697 130.164 278.651 130.838H281.327V130.755Z'
						fill='#4C4C4C'
					>
					</path>
					<path
						d='M289.326 125.335C290.02 125.335 290.62 125.437 291.129 125.64C291.646 125.834 292.122 126.135 292.557 126.541L291.586 127.664C291.244 127.387 290.902 127.184 290.56 127.054C290.218 126.925 289.853 126.86 289.465 126.86C289.04 126.86 288.698 126.953 288.439 127.137C288.189 127.313 288.065 127.567 288.065 127.9C288.065 128.131 288.115 128.32 288.217 128.468C288.328 128.616 288.518 128.755 288.786 128.884C289.054 129.013 289.456 129.161 289.992 129.328C290.944 129.633 291.656 130.011 292.127 130.464C292.599 130.908 292.834 131.545 292.834 132.377C292.834 132.969 292.686 133.491 292.391 133.943C292.095 134.387 291.665 134.738 291.101 134.997C290.537 135.246 289.876 135.371 289.118 135.371C288.36 135.371 287.686 135.251 287.094 135.011C286.502 134.77 285.994 134.442 285.569 134.027L286.609 132.876C286.978 133.19 287.362 133.431 287.76 133.597C288.157 133.754 288.591 133.833 289.063 133.833C289.562 133.833 289.96 133.717 290.255 133.486C290.56 133.255 290.713 132.932 290.713 132.516C290.713 132.257 290.657 132.044 290.546 131.878C290.445 131.702 290.265 131.545 290.006 131.407C289.747 131.268 289.373 131.125 288.883 130.977C287.838 130.654 287.089 130.266 286.636 129.813C286.193 129.36 285.971 128.768 285.971 128.038C285.971 127.502 286.114 127.031 286.401 126.625C286.687 126.209 287.085 125.89 287.593 125.668C288.102 125.446 288.679 125.335 289.326 125.335Z'
						fill='#4C4C4C'
					>
					</path>
					<path
						d='M297.728 134.803C297.46 134.988 297.155 135.126 296.813 135.219C296.48 135.32 296.147 135.371 295.814 135.371C295.056 135.362 294.483 135.145 294.095 134.72C293.707 134.295 293.513 133.671 293.513 132.848V129.189H292.417V127.803H293.513V126.195L295.482 125.959V127.803H297.173L296.979 129.189H295.482V132.807C295.482 133.158 295.542 133.412 295.662 133.569C295.782 133.726 295.967 133.805 296.216 133.805C296.466 133.805 296.743 133.722 297.048 133.555L297.728 134.803Z'
						fill='#4C4C4C'
					>
					</path>
					<path
						d='M303.751 135.149H302.045L301.948 134.165C301.689 134.572 301.375 134.877 301.005 135.08C300.635 135.274 300.206 135.371 299.716 135.371C299.05 135.371 298.542 135.172 298.191 134.775C297.839 134.369 297.664 133.805 297.664 133.084V127.803H299.633V132.835C299.633 133.223 299.697 133.5 299.827 133.666C299.956 133.823 300.159 133.902 300.437 133.902C300.964 133.902 301.412 133.583 301.782 132.945V127.803H303.751V135.149Z'
						fill='#4C4C4C'
					>
					</path>
					<path
						d='M311.192 124.878V135.149H309.459L309.348 134.248C308.831 134.997 308.128 135.371 307.241 135.371C306.335 135.371 305.642 135.025 305.161 134.332C304.689 133.629 304.454 132.677 304.454 131.476C304.454 130.718 304.574 130.048 304.814 129.466C305.064 128.875 305.415 128.413 305.868 128.08C306.321 127.747 306.843 127.581 307.435 127.581C308.119 127.581 308.715 127.826 309.223 128.316V124.656L311.192 124.878ZM307.823 133.902C308.11 133.902 308.364 133.833 308.586 133.694C308.807 133.546 309.02 133.32 309.223 133.015V129.73C309.029 129.499 308.831 129.328 308.627 129.217C308.433 129.097 308.207 129.036 307.948 129.036C307.495 129.036 307.139 129.235 306.88 129.633C306.631 130.03 306.506 130.644 306.506 131.476C306.506 132.354 306.617 132.978 306.839 133.347C307.07 133.717 307.398 133.902 307.823 133.902Z'
						fill='#4C4C4C'
					>
					</path>
					<path
						d='M314.231 127.803V135.149H312.262V127.803H314.231ZM313.232 124.019C313.584 124.019 313.87 124.13 314.092 124.351C314.323 124.564 314.439 124.836 314.439 125.169C314.439 125.502 314.323 125.779 314.092 126.001C313.87 126.213 313.584 126.32 313.232 126.32C312.881 126.32 312.595 126.213 312.373 126.001C312.151 125.779 312.04 125.502 312.04 125.169C312.04 124.836 312.151 124.564 312.373 124.351C312.595 124.13 312.881 124.019 313.232 124.019Z'
						fill='#4C4C4C'
					>
					</path>
					<path
						d='M318.4 127.581C319.5 127.581 320.36 127.928 320.979 128.621C321.599 129.304 321.908 130.256 321.908 131.476C321.908 132.252 321.765 132.936 321.478 133.528C321.201 134.11 320.794 134.563 320.258 134.886C319.731 135.209 319.107 135.371 318.386 135.371C317.286 135.371 316.422 135.029 315.794 134.345C315.174 133.652 314.865 132.696 314.865 131.476C314.865 130.7 315.003 130.021 315.281 129.438C315.567 128.847 315.974 128.39 316.501 128.066C317.037 127.743 317.67 127.581 318.4 127.581ZM318.4 129.05C317.901 129.05 317.527 129.249 317.277 129.646C317.037 130.035 316.917 130.644 316.917 131.476C316.917 132.308 317.037 132.922 317.277 133.32C317.527 133.708 317.896 133.902 318.386 133.902C318.876 133.902 319.241 133.708 319.482 133.32C319.731 132.922 319.856 132.308 319.856 131.476C319.856 130.644 319.736 130.035 319.496 129.646C319.255 129.249 318.89 129.05 318.4 129.05Z'
						fill='#4C4C4C'
					>
					</path>
					<path
						d='M323.083 133.001C323.416 133.001 323.698 133.116 323.929 133.347C324.16 133.578 324.275 133.856 324.275 134.179C324.275 134.503 324.16 134.784 323.929 135.025C323.698 135.256 323.416 135.371 323.083 135.371C322.759 135.371 322.482 135.256 322.251 135.025C322.02 134.784 321.904 134.503 321.904 134.179C321.904 133.856 322.02 133.578 322.251 133.347C322.482 133.116 322.759 133.001 323.083 133.001Z'
						fill='#4C4C4C'
					>
					</path>
					<path
						d='M26.5045 24.6373L29.6089 27.7411L26.5045 30.8438L23.4001 27.7411L26.5045 24.6373ZM26.5045 17.2971L29.6089 20.3999L26.5045 23.5036L23.4001 20.3999L26.5045 17.2971ZM26.5045 9.9559L29.6089 13.0597L26.5045 16.1633L23.4001 13.0597L26.5045 9.9559ZM26.5045 2.6157L29.6089 5.71934L26.5045 8.82323L23.4001 5.71934L26.5045 2.6157ZM14.5538 36.5087H38.3988V32.3794H30.6069V0H22.3455V32.3794H14.5537L14.5538 36.5087Z'
						fill='#4C4C4C'
					>
					</path>
					<path
						d='M39.646 82.0408C40.1927 82.0408 40.6995 82.3772 40.9069 82.8773L40.9787 83.0509L38.4698 84.0892L38.3979 83.916C38.2608 83.5858 38.2616 83.2187 38.3995 82.8822C38.5385 82.5438 38.7989 82.2811 39.1326 82.1429C39.2966 82.0753 39.4691 82.0408 39.646 82.0408ZM39.246 73.4969C38.5544 73.2104 38.2249 72.4149 38.5109 71.7237L38.5827 71.55L41.0914 72.589L41.0196 72.7624C40.8124 73.2627 40.3058 73.5989 39.7589 73.5989C39.5823 73.5989 39.4095 73.5647 39.246 73.4969ZM37.4132 70.9962C36.6521 70.9962 36.0522 70.3999 36.0522 69.6391V69.4513H38.7745V69.6391C38.7745 70.3999 38.1747 70.9962 37.4132 70.9962ZM35.61 73.4765C35.4441 73.5452 35.2693 73.58 35.0911 73.58C34.5397 73.58 34.0471 73.2512 33.8361 72.7419L33.7642 72.5685L36.273 71.5295L36.3447 71.703C36.6313 72.3943 36.3016 73.1902 35.61 73.4765ZM38.6807 86.6262H35.9581V86.4386C35.9581 85.6776 36.5582 85.0813 37.3195 85.0813C38.0809 85.0813 38.6807 85.6776 38.6807 86.4386V86.6262ZM33.7334 82.8373C33.944 82.3283 34.4367 81.9992 34.9881 81.9992C35.1663 81.9992 35.341 82.034 35.5071 82.1029C36.1988 82.3891 36.5283 83.1847 36.242 83.8763L36.1702 84.0495L33.6615 83.0109L33.7334 82.8373ZM32.4389 72.8005C32.1846 73.0548 31.8438 73.1947 31.48 73.1947C31.1146 73.1947 30.7734 73.0548 30.5187 72.8005L30.3859 72.6678L32.306 70.7482L32.4389 70.8809C32.968 71.4099 32.968 72.2709 32.4389 72.8005ZM27.5293 75.1624L27.4574 75.3358L24.9491 74.2971L25.0207 74.1236C25.2279 73.6233 25.7346 73.2872 26.2815 73.2872C26.4585 73.2872 26.6311 73.3215 26.7945 73.3891C27.1286 73.5275 27.389 73.7901 27.5279 74.1287C27.6658 74.4649 27.6664 74.832 27.5293 75.1624ZM24.7804 60.7283L26.7002 58.8085L26.8327 58.9414C27.3623 59.4706 27.3623 60.3316 26.8331 60.8609C26.5786 61.1151 26.238 61.2552 25.874 61.2552C25.5085 61.2552 25.1672 61.1151 24.9129 60.8609L24.7804 60.7283ZM24.3654 67.2356C24.1543 67.7448 23.6618 68.0738 23.1105 68.0738C22.9322 68.0738 22.7574 68.0389 22.5914 67.9702L22.4181 67.8983L23.457 65.3905L23.6304 65.4624C23.9657 65.6009 24.2266 65.8616 24.3656 66.1968C24.504 66.5317 24.504 66.9005 24.3654 67.2356ZM23.588 72.6344L23.4147 72.7064L22.3754 70.1987L22.5489 70.127C22.7149 70.0578 22.8893 70.0231 23.0679 70.0231C23.6192 70.0231 24.1115 70.3523 24.3227 70.8613C24.609 71.553 24.2796 72.3484 23.588 72.6344ZM23.5689 76.0286L23.4364 76.1614L21.5161 74.2418L21.649 74.1094C21.9032 73.8548 22.2444 73.715 22.6099 73.715C22.9742 73.715 23.3146 73.8547 23.5689 74.1092C23.8246 74.3648 23.9646 74.7069 23.9634 75.0729C23.962 75.4363 23.822 75.7759 23.5689 76.0286ZM19.9991 70.3898H19.8113L19.8113 67.6682H19.9987C20.7602 67.6682 21.3565 68.2677 21.3565 69.0287C21.3565 69.7897 20.7602 70.3898 19.9991 70.3898ZM23.5315 61.9764L23.6645 62.1089C24.1936 62.6381 24.1936 63.4993 23.6645 64.0287C23.4102 64.2829 23.0697 64.4228 22.7056 64.4228C22.3399 64.4228 21.9985 64.2829 21.7444 64.0287L21.6117 63.8959L23.5315 61.9764ZM30.1235 60.8609C29.8691 61.1151 29.5285 61.2552 29.1643 61.2552C28.799 61.2552 28.4575 61.1151 28.2031 60.8609L28.0705 60.7283L29.9905 58.8085L30.1233 58.9414C30.3763 59.1943 30.5165 59.5336 30.5177 59.8973C30.5189 60.2632 30.3791 60.6052 30.1235 60.8609ZM27.8873 57.6217L29.8078 55.702L29.9404 55.8346C30.4697 56.3636 30.4699 57.2248 29.9407 57.7542C29.6863 58.0084 29.3457 58.1485 28.9817 58.1485C28.6162 58.1485 28.2748 58.0084 28.0203 57.7544L27.8873 57.6217ZM27.1377 63.8456C26.8832 64.1 26.5428 64.2401 26.1787 64.2401C25.8132 64.2401 25.4719 64.1 25.2175 63.8456L25.0849 63.7131L27.0049 61.7936L27.1377 61.9262C27.6672 62.4556 27.6672 63.3165 27.1377 63.8456ZM41.6624 79.6743C41.8729 79.1662 42.3681 78.8379 42.9239 78.8379C43.1008 78.8379 43.2734 78.8721 43.4362 78.9397L43.6097 79.0113L42.5704 81.5195L42.397 81.4476C42.0666 81.3108 41.8072 81.0506 41.6668 80.7154C41.5255 80.3778 41.5241 80.0081 41.6624 79.6743ZM42.4646 74.2669L42.6377 74.195L43.6768 76.7029L43.5035 76.7747C43.3406 76.8422 43.1682 76.8764 42.9911 76.8764C42.435 76.8764 41.94 76.5481 41.7296 76.0401C41.4432 75.3489 41.7728 74.5534 42.4646 74.2669ZM42.4803 70.8633L42.6128 70.7306L44.5329 72.6501L44.4003 72.7827C44.1458 73.0369 43.8046 73.177 43.4388 73.177C43.0753 73.177 42.7344 73.0369 42.4804 72.7827C42.2246 72.5273 42.0845 72.1849 42.0858 71.8189C42.0872 71.4556 42.2271 71.1162 42.4803 70.8633ZM45.5338 76.4902H45.7216V79.2119H45.5338C44.893 79.2119 44.1761 78.628 44.1761 77.8511C44.1761 77.0742 44.893 76.4902 45.5338 76.4902ZM42.5155 84.9512L42.3825 84.8185C41.8533 84.2894 41.8533 83.4282 42.3825 82.899C42.6369 82.6446 42.9774 82.5046 43.3414 82.5046C43.7068 82.5046 44.0482 82.6446 44.3025 82.899L44.435 83.0316L42.5155 84.9512ZM37.389 80.1806C36.8211 80.1794 36.2821 79.9806 35.8529 79.6164C34.8804 80.2895 33.8111 80.8338 32.6725 81.2261V86.954C32.9448 87.0956 33.2252 87.224 33.5116 87.3405C34.7453 87.8408 36.0558 88.0952 37.3899 88.0959C38.722 88.0959 40.0221 87.8436 41.2548 87.3444C42.5345 86.8263 43.6815 86.066 44.6636 85.0832C45.6465 84.1006 46.4079 82.9529 46.9261 81.6708C47.4255 80.4357 47.6779 79.1321 47.6761 77.795C47.6732 76.462 47.419 75.1613 46.9167 73.9289C46.3976 72.6525 45.6371 71.5076 44.657 70.5278C43.6768 69.5478 42.5317 68.7879 41.253 68.2687C40.0204 67.7672 38.7192 67.5131 37.3844 67.5112C36.0522 67.5112 34.7407 67.7638 33.5099 68.2622C32.4433 68.6938 31.47 69.2926 30.607 70.0482C30.4344 70.1984 30.2654 70.3558 30.1012 70.5202C29.6514 70.9687 29.0535 71.2156 28.4178 71.2156C27.7815 71.2156 27.1834 70.9687 26.7327 70.5202C26.283 70.0727 26.036 69.4774 26.036 68.844C26.036 68.2105 26.283 67.6155 26.7308 67.1677L33.1681 60.7322L37.97 60.0265C39.1642 59.8519 40.5507 58.8102 41.052 57.714L44.7012 49.728C45.2023 48.6307 44.9144 47.0353 44.0607 46.1833L42.1354 44.2584C41.283 43.4052 39.6871 43.1171 38.5897 43.6183L30.607 47.2643V39.7937H22.3457V60.3567L21.1367 61.5658C20.1913 62.509 19.4488 63.6098 18.9297 64.8356C18.3907 66.1074 18.1175 67.4559 18.1175 68.8441C18.1175 70.2341 18.3917 71.5836 18.9315 72.8574C19.4524 74.0837 20.1959 75.1838 21.1423 76.1263C21.5188 76.5023 21.9215 76.8458 22.3457 77.1547C22.9849 77.6231 23.6768 78.0144 24.4139 78.325C25.6841 78.8599 27.0313 79.1321 28.4178 79.1321C29.1604 79.1321 29.8918 79.0543 30.607 78.8985C31.2266 78.7655 31.8322 78.5738 32.4227 78.3241C33.6489 77.8059 34.7491 77.0664 35.6933 76.1241L35.6961 76.1214C36.1441 75.6737 36.7419 75.4278 37.3757 75.4278C38.0114 75.4287 38.6084 75.6765 39.0582 76.1263C39.5076 76.5756 39.7564 77.1746 39.7576 77.8088C39.7585 78.4434 39.5126 79.0384 39.0645 79.4862C38.6169 79.9337 38.0226 80.1806 37.389 80.1806Z'
						fill='#4C4C4C'
					>
					</path>
					<path
						d='M20.8627 105.749L20.9953 105.616C21.2495 105.361 21.5909 105.221 21.9562 105.221C22.3203 105.221 22.6608 105.361 22.9154 105.616C23.1709 105.871 23.3111 106.214 23.3099 106.579C23.3085 106.943 23.1684 107.283 22.9154 107.535L22.7825 107.668L20.8627 105.749ZM24.3494 105.649C24.5604 105.141 25.0529 104.811 25.604 104.811C25.7827 104.811 25.9572 104.846 26.1231 104.915C26.4584 105.054 26.7193 105.315 26.8581 105.649C26.9969 105.985 26.9969 106.353 26.8581 106.688L26.7861 106.862L24.2776 105.823L24.3494 105.649ZM27.9312 107.981C28.6927 107.981 29.2926 108.577 29.2926 109.339V109.526H26.5703V109.339C26.5703 108.577 27.1701 107.981 27.9312 107.981ZM29.016 105.695C29.1545 105.356 29.415 105.093 29.7488 104.955C29.9127 104.888 30.0852 104.853 30.2619 104.853C30.8087 104.853 31.3154 105.189 31.5227 105.69L31.5948 105.863L29.0863 106.902L29.0144 106.728C28.8775 106.398 28.8779 106.031 29.016 105.695ZM29.8623 96.3092C29.5282 96.1708 29.2678 95.9085 29.129 95.5697C28.991 95.2337 28.9905 94.8664 29.1275 94.5359L29.1993 94.3624L31.7077 95.4013L31.6358 95.5745C31.4285 96.0749 30.9221 96.4114 30.3752 96.4114C30.1983 96.4114 30.0259 96.377 29.8623 96.3092ZM28.0252 93.8024C27.2641 93.8024 26.664 93.2061 26.664 92.4452V92.2573H29.3867V92.4452C29.3867 93.2061 28.7868 93.8024 28.0252 93.8024ZM27.0395 94.6038C27.0395 95.3648 26.4397 95.961 25.6784 95.961C24.9172 95.961 24.317 95.3648 24.317 94.6038V94.4161H27.0395V94.6038ZM22.9559 93.8024C22.1944 93.8024 21.5946 93.2061 21.5946 92.4452V92.2573H24.317V92.4452C24.317 93.2061 23.7173 93.8024 22.9559 93.8024ZM20.8874 93.839L20.8156 94.0126L18.3071 92.9736L18.3788 92.8003C18.586 92.2999 19.0925 91.9639 19.6394 91.9639C19.8163 91.9639 19.9889 91.9981 20.1526 92.066C20.8441 92.3521 21.1735 93.1475 20.8874 93.839ZM20.4823 86.2833C20.9327 85.8338 21.5365 85.5939 22.1721 85.5939H22.3456V90.2866H22.1721C21.5365 90.2866 20.9384 90.0589 20.4889 89.6095C20.0391 89.1598 19.7912 88.5784 19.7904 87.9441C19.7894 87.3095 20.0352 86.7309 20.4823 86.2833ZM17.6567 82.3109C17.414 82.5534 17.0766 82.687 16.7062 82.687C16.3343 82.687 15.9722 82.5464 15.7366 82.3109L15.6038 82.1781L17.5237 80.2588L17.6566 80.3914C18.1095 80.8443 18.2059 81.7613 17.6567 82.3109ZM17.6724 85.9147C17.4619 86.4228 16.9666 86.7509 16.4111 86.7509C16.2339 86.7509 16.0615 86.7167 15.8987 86.6495L15.7251 86.5773L16.7643 84.0696L16.9376 84.1414C17.2682 84.2782 17.5274 84.5381 17.668 84.8736C17.8092 85.211 17.8107 85.5808 17.6724 85.9147ZM16.8952 91.2218L16.7217 91.2939L15.6825 88.786L15.8562 88.7139C16.0188 88.6465 16.1913 88.6121 16.3685 88.6121C16.9244 88.6121 17.4195 88.9405 17.6297 89.4484C17.9163 90.1398 17.5867 90.9353 16.8952 91.2218ZM16.9169 94.6368L16.7844 94.7698L14.8641 92.8504L14.997 92.7177C15.2576 92.4572 15.598 92.3135 15.9553 92.3135C16.3147 92.3135 16.6564 92.4572 16.9168 92.7175C17.1749 92.9754 17.3184 93.3136 17.321 93.6696C17.3237 94.0305 17.1803 94.374 16.9169 94.6368ZM13.3331 89.0664H13.1453V86.3447H13.3331C13.974 86.3447 14.6909 86.9288 14.6911 87.7055C14.6911 88.4823 13.9744 89.0664 13.3331 89.0664ZM32.2785 102.487C32.489 101.979 32.984 101.65 33.5399 101.65C33.7171 101.65 33.8896 101.684 34.0523 101.752L34.2259 101.824L33.1868 104.332L33.0131 104.26C32.6825 104.123 32.4232 103.863 32.2831 103.528C32.142 103.19 32.1404 102.821 32.2785 102.487ZM32.3502 97.8112C32.4908 97.4761 32.75 97.2161 33.0807 97.0792L33.2539 97.0074L34.293 99.515L34.1195 99.5868C33.9568 99.6543 33.7843 99.6885 33.607 99.6885C33.0513 99.6885 32.5561 99.3604 32.346 98.8525C32.2075 98.5186 32.2089 98.149 32.3502 97.8112ZM33.0963 93.6754L33.2292 93.5429L35.1489 95.4622L35.0163 95.595C34.7618 95.8492 34.4208 95.9892 34.0553 95.9892C33.6914 95.9892 33.3507 95.8492 33.0967 95.5951C32.8407 95.3395 32.7007 94.9974 32.702 94.6314C32.7032 94.2676 32.8433 93.9282 33.0963 93.6754ZM36.2397 99.2965H36.4275V102.018H36.2392C35.44 102.018 34.8819 101.457 34.8819 100.658C34.8819 99.8583 35.4403 99.2965 36.2397 99.2965ZM33.1317 107.763L32.9988 107.631C32.7457 107.378 32.6058 107.039 32.6044 106.675C32.6029 106.309 32.7431 105.967 32.9988 105.711C33.2528 105.457 33.5935 105.317 33.9576 105.317C34.323 105.317 34.6644 105.457 34.9186 105.711L35.0515 105.844L33.1317 107.763ZM23.9884 110.097C25.2587 110.632 26.6058 110.904 27.9915 110.904C28.8832 110.904 29.7584 110.792 30.6069 110.569C31.0791 110.445 31.5428 110.287 31.9972 110.095C33.2242 109.578 34.3246 108.838 35.2681 107.895C36.2133 106.952 36.956 105.851 37.476 104.626C38.0139 103.354 38.2872 102.005 38.2872 100.616C38.2872 99.227 38.0139 97.8764 37.4734 96.6037C36.9532 95.3771 36.2086 94.2772 35.2624 93.3338C34.3178 92.3927 33.2176 91.6531 31.9906 91.1362C31.5393 90.9455 31.0772 90.7876 30.6069 90.6647V81.7505C29.8926 81.8707 29.1594 81.9338 28.4113 81.9338C26.2228 81.9338 24.1594 81.397 22.3455 80.447C21.1655 79.8314 20.0927 79.0392 19.1585 78.1083C18.8184 78.2113 18.4836 78.3333 18.1539 78.4723C16.9278 78.9895 15.8277 79.7301 14.8832 80.6724C13.9004 81.6551 13.1388 82.8038 12.6207 84.0848C12.1212 85.32 11.8697 86.6244 11.8715 87.9608C11.8734 89.2946 12.1289 90.5944 12.63 91.8267C13.1494 93.1038 13.9096 94.2481 14.8899 95.2279C15.8446 96.1814 16.9542 96.9287 18.1924 97.4446C18.2264 97.4598 18.26 97.4837 18.2938 97.4979C19.5265 97.9981 20.8284 98.2641 22.1627 98.2641H27.9878C28.6242 98.2641 29.2223 98.5011 29.6719 98.9506C30.1217 99.3983 30.3685 99.9884 30.3685 100.621C30.3685 101.255 30.1226 101.848 29.6738 102.295C29.2251 102.744 28.627 102.989 27.9915 102.989C27.3559 102.989 26.7581 102.741 26.3074 102.293C25.9694 101.957 25.7459 101.536 25.6557 101.08H22.1683C20.5976 101.08 19.0927 100.804 17.6977 100.297C17.6939 100.403 17.6919 100.509 17.6919 100.616C17.6919 102.006 17.9662 103.356 18.5059 104.629C19.026 105.856 19.7707 106.956 20.7168 107.898C21.2172 108.397 21.7618 108.839 22.3455 109.221C22.863 109.562 23.4123 109.853 23.9884 110.097Z'
						fill='#4C4C4C'
					>
					</path>
					<path
						d='M39.8822 108.464C39.7819 107.93 39.6456 107.406 39.4766 106.898C38.2198 109.187 36.2988 111.059 33.9724 112.256C34.0439 113.762 33.6027 115.462 32.6376 116.558C32.0583 117.323 31.3683 117.932 30.6069 118.391V113.438C29.7602 113.611 28.8832 113.656 27.9851 113.656H27.9426C25.9404 113.656 24.043 113.251 22.3456 112.449V120.149C23.5941 121.169 25.0672 121.848 26.6436 122.199C27.9606 122.461 29.3041 122.48 30.6069 122.265C32.2095 122.001 33.752 121.384 35.1103 120.432C38.9031 117.79 40.7328 112.983 39.8822 108.464Z'
						fill='#4C4C4C'
					>
					</path>
					<path
						d='M26.234 124.256L26.1863 124.246C24.8073 123.937 23.508 123.416 22.3456 122.709V145L30.6069 132.329V124.382C30.0062 124.465 29.3996 124.507 28.7914 124.507C27.937 124.507 27.0809 124.424 26.234 124.256Z'
						fill='#4C4C4C'
					>
					</path>
					<path
						d='M45.5346 34.6015C45.5139 34.6739 45.5036 34.7491 45.5036 34.8223C45.5036 35.0578 45.6058 35.287 45.791 35.4444C47.4704 36.8765 49.6125 37.665 51.8235 37.665C56.953 37.665 61.1269 33.4922 61.1269 28.3642C61.1269 25.5748 58.856 23.3053 56.0661 23.3053C53.2759 23.3053 51.0058 25.5748 51.0058 28.3642C51.0058 31.1929 48.9818 33.5694 46.1925 34.0151C45.8782 34.0648 45.621 34.2938 45.5346 34.6015Z'
						fill='#4C4C4C'
					>
					</path>
					<path
						d='M53.6073 84.8431C54.7996 84.8431 55.7666 83.8764 55.7666 82.6843C55.7666 81.4925 54.7996 80.5257 53.6073 80.5257C52.415 80.5257 51.4482 81.4925 51.4482 82.6843C51.4482 83.8764 52.415 84.8431 53.6073 84.8431Z'
						fill='#4C4C4C'
					>
					</path>
					<path
						d='M53.5134 54.4348C53.5134 53.2429 52.5467 52.2761 51.3545 52.2761C50.162 52.2761 49.195 53.2429 49.195 54.4348C49.195 55.6267 50.162 56.5933 51.3545 56.5933C52.5467 56.5933 53.5134 55.6267 53.5134 54.4348Z'
						fill='#4C4C4C'
					>
					</path>
					<path
						d='M45.3854 89.2204C44.5312 90.0744 44.0273 91.2093 43.9678 92.4143C43.965 92.464 43.967 92.5139 43.9745 92.5633C43.9894 92.6731 43.9914 92.7858 43.9792 92.8984C43.9462 93.211 43.8054 93.5049 43.5848 93.7253C43.4788 93.8324 43.3547 93.9204 43.2179 93.9871C42.8884 94.1495 42.5157 94.1731 42.1683 94.0538C41.821 93.9356 41.5402 93.6886 41.3786 93.3594C41.2822 93.1622 41.1065 93.0138 40.8952 92.9519C40.6849 92.8902 40.4567 92.9191 40.2692 93.0318L40.2673 93.0326C40.2108 93.0665 40.1602 93.1066 40.1159 93.151C39.8833 93.3837 39.8156 93.7449 39.966 94.052C40.3357 94.8046 40.8257 95.4887 41.4227 96.0867C42.8677 97.5337 44.7912 98.3316 46.8386 98.3324C48.8862 98.3324 50.8107 97.5375 52.259 96.0923C54.1546 94.1974 54.1546 91.1145 52.259 89.2204C50.364 87.3255 47.2808 87.3255 45.3854 89.2204Z'
						fill='#4C4C4C'
					>
					</path>
					<path
						d='M46.7541 117.504C44.8363 117.504 43.2809 119.059 43.2809 120.976C43.2809 122.894 44.8363 124.449 46.7541 124.449C48.672 124.449 50.2277 122.894 50.2277 120.976C50.2277 119.059 48.672 117.504 46.7541 117.504Z'
						fill='#4C4C4C'
					>
					</path>
					<path
						d='M48.8196 62.4124C48.8196 61.2203 47.8526 60.2536 46.6604 60.2536C45.468 60.2536 44.5011 61.2203 44.5011 62.4124C44.5011 63.6042 45.468 64.5708 46.6604 64.5708C47.8526 64.5708 48.8196 63.6042 48.8196 62.4124Z'
						fill='#4C4C4C'
					>
					</path>
					<path
						d='M40.6493 23.5037C40.7037 23.5065 40.7571 23.5046 40.8107 23.497C40.9309 23.4801 41.0528 23.4775 41.1749 23.4912C41.5138 23.5271 41.8329 23.6791 42.0724 23.9194C42.1878 24.0348 42.2838 24.1681 42.3569 24.3165C42.5324 24.6741 42.5577 25.0784 42.4292 25.456C42.3003 25.8322 42.0329 26.1363 41.6754 26.3118C41.4611 26.4169 41.3008 26.6072 41.2332 26.8353C41.1655 27.0645 41.1967 27.3113 41.3196 27.516L41.3204 27.5178C41.3578 27.5786 41.4014 27.6332 41.4492 27.6813C41.7016 27.9334 42.0929 28.0067 42.4263 27.8434C43.2431 27.4438 43.9864 26.9115 44.6344 26.2639C46.2058 24.6966 47.0707 22.6103 47.0717 20.3896C47.0723 18.1699 46.2088 16.0827 44.6401 14.5118C42.584 12.4564 39.2392 12.4564 37.1833 14.5118C35.1273 16.5668 35.1273 19.911 37.1833 21.9664C38.1107 22.8936 39.3416 23.4388 40.6493 23.5037Z'
						fill='#4C4C4C'
					>
					</path>
					<path
						d='M41.7786 125.481C40.5862 125.481 39.6193 126.448 39.6193 127.64C39.6193 128.832 40.5862 129.799 41.7786 129.799C42.971 129.799 43.9377 128.832 43.9377 127.64C43.9377 126.448 42.971 125.481 41.7786 125.481Z'
						fill='#4C4C4C'
					>
					</path>
					<path
						d='M10.5649 63.6362C12.6752 61.5263 12.6752 58.093 10.5649 55.9833C9.13597 54.5558 9.13597 52.2321 10.5649 50.8045C11.9928 49.3759 14.3172 49.3759 15.7461 50.8045C16.0868 51.146 16.6407 51.146 16.9825 50.8045C17.3241 50.4627 17.3241 49.9091 16.9825 49.5674C13.1025 45.6884 6.78998 45.6884 2.91005 49.5674C-0.970015 53.4464 -0.970015 59.7571 2.91005 63.6362C5.02032 65.747 8.45467 65.747 10.5649 63.6362Z'
						fill='#4C4C4C'
					>
					</path>
					<path
						d='M16.8069 109.526C16.8069 108.334 15.8399 107.368 14.6477 107.368C13.4554 107.368 12.4884 108.334 12.4884 109.526C12.4884 110.718 13.4554 111.685 14.6477 111.685C15.8399 111.685 16.8069 110.718 16.8069 109.526Z'
						fill='#4C4C4C'
					>
					</path>
					<path
						d='M11.8031 116.643C11.7486 116.64 11.6953 116.643 11.6418 116.651C11.5216 116.668 11.3996 116.67 11.2775 116.655C10.9387 116.62 10.6193 116.468 10.38 116.228C10.2645 116.113 10.1687 115.979 10.0954 115.831C9.91998 115.473 9.89449 115.068 10.0234 114.691C10.152 114.315 10.4204 114.011 10.777 113.835C10.9919 113.73 11.1526 113.54 11.2194 113.312C11.2868 113.082 11.2558 112.836 11.1331 112.631L11.1319 112.629C11.0955 112.569 11.0523 112.514 11.0032 112.466C10.7517 112.213 10.3594 112.14 10.0261 112.303C9.20934 112.704 8.4667 113.235 7.81803 113.883C6.2475 115.45 5.38174 117.537 5.381 119.757C5.381 121.977 6.2439 124.064 7.81251 125.635C9.86847 127.691 13.2131 127.691 15.269 125.635C17.3252 123.58 17.3252 120.236 15.269 118.181C14.3426 117.254 13.111 116.708 11.8031 116.643Z'
						fill='#4C4C4C'
					>
					</path>
					<path
						d='M11.6437 21.5861C13.5614 21.5861 15.1171 20.0312 15.1171 18.1136C15.1171 16.1961 13.5614 14.6409 11.6437 14.6409C9.72577 14.6409 8.17021 16.1961 8.17021 18.1136C8.17021 20.0312 9.72577 21.5861 11.6437 21.5861Z'
						fill='#4C4C4C'
					>
					</path>
					<path
						d='M8.68341 82.8187C8.68341 80.5673 10.2937 78.6762 12.5129 78.3223C12.7635 78.282 12.9682 78.0997 13.0366 77.856C13.0526 77.7975 13.0601 77.7386 13.0601 77.6795C13.0601 77.4917 12.9796 77.3104 12.832 77.1846C11.4953 76.0455 9.7913 75.4183 8.03195 75.4183C3.95011 75.4183 0.62967 78.7379 0.62967 82.8187C0.62967 85.0383 2.43594 86.844 4.65609 86.844C6.87636 86.844 8.68341 85.0383 8.68341 82.8187Z'
						fill='#4C4C4C'
					>
					</path>
					<path
						d='M6.10469 42.9845C7.29689 42.9845 8.26382 42.0178 8.26382 40.826C8.26382 39.6343 7.29689 38.6673 6.10469 38.6673C4.91236 38.6673 3.94538 39.6343 3.94538 40.826C3.94538 42.0178 4.91236 42.9845 6.10469 42.9845Z'
						fill='#4C4C4C'
					>
					</path>
					<path
						d='M7.88831 100.235C7.88831 99.043 6.92153 98.0764 5.7292 98.0764C4.53687 98.0764 3.56988 99.043 3.56988 100.235C3.56988 101.427 4.53687 102.394 5.7292 102.394C6.92153 102.394 7.88831 101.427 7.88831 100.235Z'
						fill='#4C4C4C'
					>
					</path>
				</svg>
			</div>
		</header>

		<section class='summary'>
			<div class='u-container flow-large'>
				<p>
					Animancy creates the web for businesses, content creators, and art creatives. We are here
					to help you take the first steps to building an online presence that tells the world about
					your dream.
				</p>
				<hr class='daimond-hr' />
			</div>
		</section>

		<section class='selected-works'>
			<div class='u-container flow-large'>
				<header>
					<h2>Selected Works.</h2>
				</header>
				<article class='selected-works__case-cards u-flex'>
					<Card
						title='Nyacchii'
						catagory='Digital Art Portfolio'
						body='A portfolio website for Nyacchii, an professional digital artist and Twitch partner. To help with commission pricing and information.'
						href='#'
					/>
					<Card
						title='Rockstar Renovations'
						catagory='Company Website'
						body="A company website for Rockstar Renovations. An fully insured business, both in general liability and workman's compensation.Renovations for the modern style."
						href='#'
					/>
					<Card
						title='Noasketch'
						catagory='Digital Art Portfolio'
						body='A digital art portfolio for Noa, who is a professional illustrator, designer and story teller residing in the country of Colombia.'
						href='#'
					/>
				</article>
			</div>
		</section>

		<section class='process'>
			<div class='u-container flow-large'>
				<header>
					<h2>The Process.</h2>
				</header>
				<article class='process__content u-flex'>
					<div class='card flow'>
						<header>
							<h3>01. Strategy</h3>
						</header>
						<p>
							We first focus on getting to know about your dream and idea. Sitting with you, talking
							about content helps us to make some bid design decisions before getting to the
							visuals.
						</p>
					</div>
					<div class='card flow'>
						<header>
							<h3>02. Design</h3>
						</header>
						<p>
							After gathering the content, we form a design. We conduct research based on the
							content and provide design mockups to narrow down the website you want.
						</p>
					</div>
					<div class='card flow'>
						<header>
							<h3>03. Development</h3>
						</header>
						<p>
							After careful consideration, we create a website that meets your specs and
							incorporates all requested features, ideas, & concepts. We take pride in our work and
							ensure the highest quality & that your needs are fully met.
						</p>
					</div>
					<div class='card flow'>
						<header>
							<h3>04. Support & Assistance</h3>
						</header>
						<p>
							Lastly, we sit down and talk about how to use your website, such as how to go about
							updating the website, or helping to plan a launch date that works within your favor.
						</p>
					</div>
				</article>
			</div>
		</section>

		<section id='services' class='services'>
			<div class='u-container flow-large'>
				<header>
					<h2>Services.</h2>
				</header>
				<article class='flow-large'>
					<div class='detail flow'>
						<header>
							<h3>Web Design and Development</h3>
						</header>
						<p>
							We create the web using the right tools for the right job. Let us create an online
							presence for you, that will take you to the next level, allowing you to take your
							steps with what you are passionate about.
						</p>
					</div>
					<div class='detail flow'>
						<header>
							<p>Coming Soon</p>
							<h3>OBS Graphics & Effects</h3>
						</header>
						<p>
							We use <a class='event-link' href='https://www.nodecg.dev/' target='_blank'>NodeCG</a>
							to create broadcast graphics. This service allows one to run complicated parts of their
							stream smoothly, and we also can provide subtle animations for sub alerts, and social media
							callouts.
						</p>
					</div>
					<div class='detail flow'>
						<header>
							<h3>Data Integration</h3>
						</header>
						<p>
							If you want to display information, redeems, top cheer, etc. Animancy can integrate
							that data using the Twitch API.
						</p>
					</div>
					<hr class='daimond-hr' />
				</article>
			</div>
		</section>
	</main>
</Layout>
