---
export interface Props {
  title: string;
  body: string;
  catagory: string;
  href: string;
}

const { href, title, body, catagory } = Astro.props;
---

<div class="case-card flow">
  <header class="case-card__title">
    <p class="small">{catagory}</p>
    <h3>{title}</h3>
  </header>
  <summary>
    <p>{body}</p>
  </summary>
  <a class="btn-white" href={href} aria-label="button">View Case Study.</a>

  <hr class="daimond-hr" />
</div>

<style lang="scss">
  .case-card {
    padding: var(--space-m);
    width: 100%;
    max-width: 76.88em;
    transition: background 1s;
    background: #514d7d;
    border-radius: 0.3em;

    p,
    h3 {
      color: var(--background-base-color);
    }

    &:hover {
      background: #67538e;
    }
  }

  .case-card .daimond-hr {
    --hrWidth: 10rem;
    margin-inline-start: 90%;
    color: var(--background-base-color);
    border-bottom: 1px solid var(--background-base-color);
  }

  @media (min-width: 76.88rem) {
    .case-card {
      max-width: 35em;
    }
  }
</style>
