---
import '../styles/main.scss';
import Footer from '../components/Footer.astro';
import { ViewTransitions } from 'astro:transitions';

export interface Props {
	title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width' />
		<meta name='generator' content={Astro.generator} />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<ViewTransitions />
		<title>{title}</title>
	</head>
	<body>
		<slot />
		<Footer />
		<script>
			import Lenis from '@studio-freight/lenis';

			const lenis = new Lenis({
				duration: 1.2,
				easing: (t) => Math.min(1, 1.001 - Math.pow(2, -10 * t)), // https://www.desmos.com/calculator/brs54l4xou
				direction: 'vertical', // vertical, horizontal
				gestureDirection: 'vertical', // vertical, horizontal, both
				smooth: true,
				mouseMultiplier: 1,
				smoothTouch: false,
				touchMultiplier: 2,
				infinite: false,
			});

			//get scroll value test
			lenis.on('scroll', ({ scroll, limit, velocity, direction, progress }) => {
				console.log({ scroll, limit, velocity, direction, progress });
			});

			function raf(time) {
				lenis.raf(time);
				requestAnimationFrame(raf);
			}

			requestAnimationFrame(raf);
		</script>

		<script type='text/javascript'>
			function resetForm() {
				document.getElementById('form-content').reset();
			}
		</script>

		<!-- <script type='text/javascript'>
			const themeSwitcher = document.querySelector('.theme-switcher');
			let activeTheme = localStorage.getItem('theme');

			themeSwitcher.addEventListener('click', (e) => {
				if (e.target.tagName != 'INPUT') {
					return;
				}

				const themeToActivate = e.target.id;
				changeTheme(themeToActivate);
			});

			function changeTheme(theme) {
				document.body.classList.add('theme-switch');
				if (theme === 'system') {
					localStorage.removeItem('theme');
					document.body.removeAttribute('data-theme');
				} else {
					localStorage.setItem('theme', theme);
					document.body.setAttribute('data-theme', theme);
				}

				document.body.addEventListener(
					'transitionend',
					() => {
						document.body.classList.remove('theme-switch');
					},
					{}
				);
			}

			window.onload = () => {
				if (activeTheme) {
					document.getElementById(activeTheme).checked = true;
					changeTheme(activeTheme);
				}
			};
		</script> -->
	</body>
</html>
