---
import Layout from '../../layouts/Layout.astro';
import Navbar from '../../components/Navbar.astro';
---

<Layout title="Case Studies">
  <Navbar />
  <main class="case-studies">
    <header class="hero">
      <Navbar />
      <div class="u-container"></div>
    </header>
  </main>
</Layout>
