---
import Layout from '../../layouts/Layout.astro';
import Navbar from '../../components/Navbar.astro';
---

<Layout title='Case Study - Nyacchii'>
	<main class='case-study'>
		<div class='case-study-fade'><img src='/img/16.jpg' /></div>
		<section class='hero'>
			<div data-type='wide' class='container flow-large'>
				<Navbar />
				<header>
					<p>Case Study - Art Portfolio</p>
					<h1>Nyacchii</h1>
				</header>
				<div class='summary'>
					<p>
						Nyacchii, full-time creative streamer and Twitch Partner from Mexico. Expertise in
						digital and traditional art.
					</p>
				</div>
			</div>
		</section>

		<section class='overview'>
			<div data-type='wide' class='container flow-large'>
				<header>
					<h2 class='header-w-line'>Overview.</h2>
				</header>
				<div class='flow-large content-block'>
					<p>
						In the evolving landscape of digital artistry, Nyacchii, a dedicated full-time creative
						streamer and Twitch Partner based in Mexico, sought to establish an online presence that
						seamlessly showcased her diverse talents. Specializing in digital and traditional art,
						Twitch emotes, and animation, Nyacchii required a website that not only reflected her
						artistic expertise but also engaged her growing audience.
					</p>

					<p>
						This case study delves into the strategic design and development process undertaken to
						create a cohesive and functional digital platform for Nyacchii. Our objective was to
						provide her with a user-friendly website that not only highlighted her portfolio but
						also integrated seamlessly with her Twitch streaming activities.
					</p>
				</div>
			</div>
		</section>

		<section class='design'>
			<div data-type='wide' class='container flow-large'>
				<header>
					<h2>Design.</h2>
				</header>
				<div class='summary'>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
						incididunt ut labore et dolore magna aliqua. In pellentesque massa placerat duis
						ultricies lacus sed.
					</p>
				</div>
				<div class='design__images'>
					<img src='https://placehold.co/300x200' />
					<img src='https://placehold.co/300x200' />
					<img src='https://placehold.co/300x200' />
				</div>
			</div>
		</section>

		<section class='development'>
			<div data-type='wide' class='container flow-large'>
				<header>
					<h2>Development.</h2>
				</header>
				<div class='summary'>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
						incididunt ut labore et dolore magna aliqua. In pellentesque massa placerat duis
						ultricies lacus sed.
					</p>
				</div>

				<div class='lang-stack'>
					<div>
						<i class='fa-brands fa-xl fa-html5'></i>
					</div>
					<div>
						<i class='fa-brands fa-xl fa-sass'></i>
					</div>
					<div>
						<i class='fa-brands fa-xl fa-js'></i>
					</div>
					<div>
						<i class='fa-brands fa-xl fa-react'></i>
					</div>
					<div>
						<i class='fa-brands fa-xl fa-figma'></i>
					</div>
				</div>
			</div>
		</section>

		<section class='results'>
			<div data-type='wide' class='container flow-large'>
				<header>
					<h2>Results.</h2>
				</header>
				<div class='summary'>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
						incididunt ut labore et dolore magna aliqua. In pellentesque massa placerat duis
						ultricies lacus sed.
					</p>
				</div>
				<div class='design__images'>
					<img src='https://placehold.co/300x200' />
					<img src='https://placehold.co/300x200' />
					<img src='https://placehold.co/300x200' />
				</div>
			</div>
		</section>

		<section class='conculsion'>
			<div data-type='wide' class='container flow-large'>
				<header>
					<h2>Conculsion.</h2>
				</header>
				<div>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
						incididunt ut labore et dolore magna aliqua. In pellentesque massa placerat duis
						ultricies lacus sed.
					</p>
				</div>
				<div>
					<a type='button' href='/case-studies'>
						<i class='fa-solid fa-arrow-left'></i> More case studies
					</a>
				</div>
			</div>
		</section>
	</main>
</Layout>
