---
import Layout from '../../layouts/Layout.astro';
import Navbar from '../../components/Navbar.astro';
---

<Layout title='Case Study - Nyacchii'>
	<main class='case-study'>
		<section class='hero'>
			<div data-type='wide' class='container flow-large'>
				<Navbar />
				<article class='hero-content'>
					<div class='flow-large'>
						<header>
							<p>Case Study - Art Portfolio</p>
							<h2 class='pt-bold'>Nyacchii</h2>
						</header>
						<div class='summary'>
							<p>
								Nyacchii, full-time creative streamer and Twitch Partner from Mexico. Expertise in
								digital and traditional art.
							</p>
						</div>

						<article class='flow-inline ctas'>
							<button>Read Study</button>
							<button class='button-outline'>View Project</button>
						</article>
					</div>
					<img src='https://picsum.photos/id/60/700/400' />
				</article>
			</div>
		</section>

		<section class='preview'>
			<div data-type='wide' class='container flow-large'>
				<article>
					<img src='https://picsum.photos/id/60/900/500' />
				</article>
			</div>
		</section>

		<section class='study'>
			<div data-type='wide' class='container flow-large'>
				<header class='study__header'>
					<div>
						<p>
							The summary portion of the case study is the shortest, but it’s often the hardest to
							write. It’s the essence of the project: only the most vital information belongs here.
						</p>
					</div>
					<svg
						class='mini-logo'
						xmlns='http://www.w3.org/2000/svg'
						width='61'
						height='60'
						fill='none'
						viewBox='0 0 41 40'
					>
						<path
							fill='#fff'
							d='M20.32 32.384 8.224 20.312 20.32 8.216l12.072 12.096L20.32 32.384Zm0-2.184 9.888-9.888L20.32 10.4l-9.888 9.912L20.32 30.2Zm0-4.872-5.04-5.016 5.04-5.04 5.04 5.04-5.04 5.016Z'
						>
						</path>
						<path
							stroke='#fff'
							d='M37 .5H4A3.5 3.5 0 0 0 .5 4v32A3.5 3.5 0 0 0 4 39.5h33a3.5 3.5 0 0 0 3.5-3.5V4A3.5 3.5 0 0 0 37 .5Z'
						>
						</path>
					</svg>
				</header>

				<article class='study__item'>
					<div>
						<header>
							<h2>The Mission</h2>
							<p>
								High-performing sales teams need more than training. They need a combination of
								resources, education, and support to crush quotas and grow revenue. That’s what Elay
								Cohen and his team of educators and technologists call sales enablement. Our mission
								was to help them communicate how SalesHood can help your sales team excel.
							</p>
						</header>
					</div>
					<div>
						<header>
							<h2>Services</h2>
							<ul>
								<li>Brand Strategy Identity</li>
								<li>Design User Experience</li>
								<li>Design User Interface</li>
								<li>Design Illustration</li>
								<li>Copywriting Photography</li>
							</ul>
						</header>
					</div>
				</article>

				<article class='study__item'>
					<div>
						<header>
							<h2>The Outcome</h2>
							<p>
								We designed the SalesHood visual identity from the ground up, capturing the new
								companies excitement and value in a new logo and brand style guidelines. We then
								built a highly-effective website that helps educate leads and convert customers.
							</p>
						</header>
					</div>
					<div>
						<header>
							<h2>Stack</h2>
							<ul>
								<li>HTML</li>
								<li>CSS</li>
								<li>JavaScript</li>
								<li>Next.JS</li>
								<li>Contentful</li>
							</ul>
						</header>
					</div>
				</article>

				<article class='study__item'>
					<div>
						<header>
							<h2>The Impact</h2>
							<p>
								Since the website launch, bounce rates dropped, conversion rates have more than
								doubled, and the quality of leads overall are more educated, better qualified, and
								ready to buy.
							</p>
						</header>
					</div>
					<div>
						<header>
							<h2>Press</h2>
							<ul>
								<li>Brand Strategy Identity</li>
								<li>Design User Experience</li>
							</ul>
						</header>
					</div>
				</article>
			</div>
		</section>
	</main>
</Layout>
