@use "../abstracts" as *;

body {
  background-color: $color-paper;
  margin: 0;
  overflow-x: hidden;
}

main {
  position: relative;
}

main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent url("http://assets.iceable.com/img/noise-transparent.png") repeat 0 0;
  pointer-events: none;
  animation: noise 1s infinite steps(2);
  z-index: 1;
  opacity: 0.2;
}

@keyframes noise {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: -10% -10%;
  }
  50% {
    background-position: 10% 10%;
  }
  75% {
    background-position: -5% 5%;
  }
  100% {
    background-position: 0 0;
  }
}

.cta__link {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  color: lab(28.39% -3.25 -7.96);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1rem;
  display: inline-block;
  position: relative;
  transition: color 0.3s ease;

  &::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 1px;
    background-color: currentColor;
    transition: width 0.3s ease;
  }

  &:hover,
  &.active {
    color: #555;
    &::after {
      width: 100%;
    }
  }
}
