*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  scroll-behavior: initial;
}

html,
body {
  min-height: 100%;
  height: auto;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul {
  padding: 0;
}

#root,
#__next {
  isolation: isolate;
}

a {
  color: var(--dark-color);
}

a:not([class]) {
  color: currentColor;
}

:focus {
  outline: 2px dashed;
  outline-offset: 0.25rem;
}

main:focus {
  outline: none;
}

[href]:hover {
  text-decoration: none;
}

.flow,
.flow-large {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.flow,
.flow-large > * {
  margin-block: 0;
}

.flow > * + * {
  margin-block-start: var(--space, 1.2rem);
}

.flow-large > * + * {
  margin-block-start: var(--grid-gutter);
}
