@use "../abstracts" as *;

h1 {
    font-size: $header-text-size-1;
}

h2 {
    font-size: $header-text-size-2;
}

h3 {
    font-size: $header-text-size-3;
}

h4 {
    font-size: $header-text-size-2;
}

h5 {
    font-size: $header-text-size-1;
}
