p,
li {
  max-width: 60ch;
}

p {
  text-wrap: balance;
}

p,
li,
a {
  font-family: var(--text-font);
  font-weight: 300;
  font-size: var(--step-0);
}

h1 {
  font-size: var(--step-6);
  font-weight: 400;
  font-family: var(--header-font);
  max-width: 20ch;
}

h2,
h3 {
  max-width: 25ch;
}

h2 {
  font-size: var(--step-5);
  font-family: var(--header-font);
  font-weight: 400;
}

h3 {
  font-size: var(--step-3);
  font-family: var(--header-font);
  font-weight: 400;
}

h4 {
  font-size: var(--step-4);
  font-family: var(--header-font);
  font-weight: 400;
}

h5 {
  font-size: var(--step-5);
  font-family: var(--header-font);
  font-weight: 400;
}

h6 {
  font-size: var(--step-6);
  font-family: var(--header-font);
  font-weight: 400;
}

.small {
  font-size: var(--step--2);
}
