:root {
  /* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1240,20,1.2,6,2,&s=0.75|0.5,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

  --header-font: "PT Serif", serif;
  --text-font: "Fira Sans", sans-serif;

  --step--2: clamp(0.69rem, calc(0.63rem + 0.3vw), 0.87rem);
  --step--1: clamp(0.83rem, calc(0.76rem + 0.36vw), 1.04rem);
  --step-0: clamp(1rem, calc(0.91rem + 0.43vw), 1.25rem);
  --step-1: clamp(1.2rem, calc(1.1rem + 0.52vw), 1.5rem);
  --step-2: clamp(1.44rem, calc(1.31rem + 0.63vw), 1.8rem);
  --step-3: clamp(1.73rem, calc(1.58rem + 0.75vw), 2.16rem);
  --step-4: clamp(2.07rem, calc(1.89rem + 0.9vw), 2.59rem);
  --step-5: clamp(2.49rem, calc(2.27rem + 1.08vw), 3.11rem);
  --step-6: clamp(2.99rem, calc(2.73rem + 1.3vw), 3.73rem);

  /* @link https://utopia.fyi/space/calculator?c=320,16,1.2,1240,20,1.2,6,2,&s=0.75|0.5,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

  --space-2xs: clamp(0.5rem, calc(0.46rem + 0.22vw), 0.63rem);
  --space-xs: clamp(0.75rem, calc(0.68rem + 0.33vw), 0.94rem);
  --space-s: clamp(1rem, calc(0.91rem + 0.44vw), 1.25rem);
  --space-m: clamp(1.5rem, calc(1.37rem + 0.66vw), 1.88rem);
  --space-l: clamp(2rem, calc(1.82rem + 0.88vw), 2.5rem);
  --space-xl: clamp(3rem, calc(2.74rem + 1.32vw), 3.75rem);
  --space-2xl: clamp(4rem, calc(3.65rem + 1.76vw), 5rem);
  --space-3xl: clamp(6rem, calc(5.47rem + 2.64vw), 7.5rem);

  /* One-up pairs */
  --space-2xs-xs: clamp(0.5rem, calc(0.35rem + 0.77vw), 0.94rem);
  --space-xs-s: clamp(0.75rem, calc(0.57rem + 0.88vw), 1.25rem);
  --space-s-m: clamp(1rem, calc(0.69rem + 1.54vw), 1.88rem);
  --space-m-l: clamp(1.5rem, calc(1.15rem + 1.76vw), 2.5rem);
  --space-l-xl: clamp(2rem, calc(1.38rem + 3.08vw), 3.75rem);
  --space-xl-2xl: clamp(3rem, calc(2.3rem + 3.52vw), 5rem);
  --space-2xl-3xl: clamp(4rem, calc(2.77rem + 6.15vw), 7.5rem);

  /* Custom pairs */
  --space-s-l: clamp(1rem, calc(0.47rem + 2.64vw), 2.5rem);

  --grid-max-width: 76.88rem;
  --grid-gutter: var(--space-m-m, clamp(1.5rem, calc(1.37rem + 0.66vw), 1.88rem));
  --grid-columns: 8;

  --dark-color: hsl(0, 0%, 33%);
  --gold-color: hsl(42, 45%, 85%);
  --background-base-color: hsl(0, 0%, 95%);
  --background-hero-color: hsl(220, 20%, 94%);
  --background-card-color: hsl(90, 6%, 86%);
  --background-footer-color: hsl(86, 9%, 84%);
}

// https://components.ai/color-scale/Uuor0nhPGAgzMlU9wJAL
